@model Ganedata.Core.Entities.Domain.ProductFilteringViewModel
@using Ganedata.Core.Entities.Domain


<div class="col-md-3 col-sm-12">
    <div class="filters cat-filter">
        <h2>Refined by</h2>
        <button type="button" class="btn filterCollapse" data-toggle="collapse" data-target="#accordion">
            Refined by
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <div class="" id="accordion">
            <div class="accordion-option">
                <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                In stock
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="">
                                <li class="list-group-item"><input type="checkbox" id="stockS" class="checkbox-inline" value="In_stock" @(Request.Url.Query.ToLower().Contains("in_stock") ? "checked" : "")>In stock </li>
                                <li class="list-group-item"><input type="checkbox" id="stockS" class="checkbox-inline" value="Out_stock" @(Request.Url.Query.ToLower().Contains("out_stock") ? "checked" : "")>Out of stock</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Price
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul class="">
                                @foreach (var item in Model.PriceInterval)
                                {


                                    <li class="list-group-item"><input type="checkbox" id="priceS" class="checkbox-inline" value="@(item.Item1+"_"+item.Item2)" @(Request.Url.Query.ToLower().Contains(item.Item1 + "_" + item.Item2) ? "checked" : "")> @ViewBag.CurrencySymbol@item.Item1 - @ViewBag.CurrencySymbol@item.Item2</li>
                                    @*<li class="list-group-item"><input type="checkbox" id="priceS" class="checkbox-inline" value="25_50" @(Request.Url.Query.ToLower().Contains("25_50") ? "checked" : "")> £@item - £50.00</li>
                            <li class="list-group-item"><input type="checkbox" id="priceS" class="checkbox-inline" value="50_100" @(Request.Url.Query.ToLower().Contains("50_100") ? "checked" : "")> £50.00 - £100.00</li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                Brand
                            </a>
                        </h4>
                    </div>
                    <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfour">
                        <div class="panel-body">
                            <ul class="">

                                @foreach (var item in Model.Manufacturer)
                                {
                                    string name = item.Replace(" ", "_").Replace(",", "^");;
                                    <li class="list-group-item"><input type="checkbox" id="BrandS" class="checkbox-inline" title="@(item)" value="@(name)" @(Request.Url.Query.ToLower().Contains(name.ToLower()) ? "checked" : "")>@(item)</li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                By Type
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul class="">

                                @foreach (var item in Model.subCategories)
                                {
                                    string name = item.Replace(" ", "_").Replace(",", "^");
                                    <li class="list-group-item" id="type"><input type="checkbox" id="TypeS" class="checkbox-inline" title="@(item)" value="@(name)" @(Request.Url.Query.ToLower().Contains(name.ToLower()) ? "checked" : "")>@(item)</li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>
                @* Adding dynmic attributes here *@
                @foreach (var item in Model.AttributeValues)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_@(item.Key)">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@(item.Key)" aria-expanded="true" aria-controls="collapse_@(item.Key)">
                                    @item.Value.FirstOrDefault().ProductAttributes.AttributeName
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_@(item.Key)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@(item.Key)">
                            <div class="panel-body">
                                <ul class="">

                                    @foreach (var items in item.Value)
                                    {
                                        string name = items.Value.Replace(" ", "_").Replace(",", "^");
                                        <li class="list-group-item"><input type="checkbox" id="@items.ProductAttributes.AttributeName.Replace(" ", "_")" class="checkbox-inline" value="@name" @(Request.Url.Query.ToLower().Contains(name.ToLower()) ? "checked" : "")>@(items.Value)</li>
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
