
@model List<Ganedata.Core.Entities.Domain.OrderDetailSessionViewModel>

    @foreach (var item in Model)
    {
        <div class="cartitem-details">
            <div class="cartitem-imgtext ">
                <div class="cartitem-img">
                    <a href="">
                         <img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage)? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")">
                        @*<img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage)? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@(item?.ProductMaster?.Name)">*@
                    </a>
                </div>
                <div class="cartitem-text">
                    <p><a href=""><strong>@(item.ProductMaster?.Name)</strong></a></p>
                    @*<p><li href="#" class="badge">#1 Best Seller</li><span> in category-name</span></p>*@
                    <p><b style="color: #007600 !important;">In Stock</b></p>
                    <p><b>SKU:</b> <span>@(item.ProductMaster?.SKUCode)</span></p>
                    <p><b>Size:</b> <span>M</span></p>
                    @if (ViewBag.CartModal == null)
                    {
                        <p class="cart-quantity">
                            <b>Quantity:</b> <input type="number" min="0" placeholder="Qty" onchange="UpdateCartItem(@item.ProductId,this)" value="@item.Qty" />
                            <a href="javascript:;" class="remove-btn cart-del" onclick="RemoveCartItem(@item.ProductId)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                        </p>

                    }
                </div>
            </div>
            <div class="cartitem-price">
                <p><span>Price:</span><b>@item.CurrencySign@item.Price</b></p>
                @*@Html.Hidden("cartView", true);*@
                @*<p><span>Tax:</span><b>@item.CurrencySign@item.TaxAmount</b></p>*@
                <p><span>Total:</span><b>@item.CurrencySign@item.TotalAmount</b></p>
            </div>
        </div>

}
    @if (ViewBag.CartModal == null)
    {
        if (Model.Count > 0)
        {
            <div class="button-submit proceed-card-btn">

                <button type="Submit" name="submitNewsletter" class="btn btn-block" onclick="window.location.href='@Url.Action("GetAddress", "Orders")'">Proceed to Checkout</button>
                <div class=""><label>Grand Total: <b>@ViewBag.CurrencySymbol@(ViewBag.TotalQty == null ? 0 : ViewBag.TotalQty)</b> </label></div>
            </div>
        }
        else
        {
            <center><p><h4 class="empty-cart-h4" style="text-align:center">Your Basket is empty!</h4></p></center>
            <div class="button-submit">

                <button type="Submit" name="submitNewsletter" class="btn btn-block empty-cart-back-btn" onclick="window.location.href='@Url.Action("Index", "Home")'">Back</button>
            </div>
        }

    }

