@using Ganedata.Core.Entities.Domain
@using Ganedata.Core.Entities.Enums;
@model List<Ganedata.Core.Entities.Domain.WebsiteNavigation>

<div class="d-lg-none horizontal-menu">
    <div class="row no-f-wrap">
        <div class="col-sm-7">
            <div id="logo-mobile" class="ui-logo">
                <a href="@Url.Action("Index","Home")">
                    <img src="/Content/Theme/Smart/app/img/logo.png" title="SmartShop Multistore" alt="SmartShop Multistore" class="img-responsive" />
                </a>
            </div>
        </div>
        <div class="col-sm-5 ">
            <div id="top-links-menu" class="text-right top-menu-links col-sm-12 col-lg-2">
                <ul class="list-inline">
                    <li class="dropdown user_menu">
                        @Html.Action("_UserMenuPartial")
                    </li>
                    <li id="cart-mobile" class="cart-menu">
                        @Html.Action("_CartMenuPartial")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="search-by-category" class="search-by-category">
        <div class="search-container">
            <div class="search-box input-group">
                <input type="text" name="search" value="" placeholder="Search" class="text-search" />
                <div id="sp-btn-search" class="input-group-btn">
                    <button type="button" id="btn-search-category" class="btn btn-search-category" onclick="SearchProductCategory();">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id='main-menu' class='main-menu headerMenu'>
    <nav class='navigation custom-max-width m-auto'>
        <span class='hamburger-menu'>
            Deparments
            <span class='burger-1'></span>
            <span class='burger-2'></span>
            <span class='burger-3'></span>
        </span>
        <ul class='core-menu'>

            @foreach (var item in Model.Where(x => x.ParentId == null))
            {
                var level1 = Model.Where(x => x.ParentId == item.Id).ToList();

                <li>
                    @if (item.Type == WebsiteNavigationType.Blank)
                    {
                        <a class="department-a-tag" href="#">
                            @item.Name
                            @if (level1.Any())
                            {
                                <span class="toggle"></span>
                            }
                        </a>
                    }
                    else if (item.Type == WebsiteNavigationType.Content)
                    {
                        <a class="department-a-tag" href="@Url.Action("page", "Home", new { pageUrl = item.WebsiteContentPages.pageUrl })">
                            @item.Name
                            @if (level1.Any())
                            {
                                <span class="toggle"></span>
                            }
                        </a>
                    }
                    else
                    {
                        <a class="department-a-tag" href="@Url.Action("list", "Products", new { category = item.Name })">
                            @item.Name
                            @if (level1.Any())
                            {
                                <span class="toggle"></span>
                            }
                        </a>
                    }
                    @{
                        <ul class='dropdown'>
                            @foreach (var item1 in level1)
                            {
                                var level2 = Model.Where(x => x.ParentId == item1.Id).ToList();
                                <li>
                                    @if (item1.Type == WebsiteNavigationType.Blank)
                                    {
                                        <a class="department-a-tag" href="#">
                                            @item1.Name
                                            @if (level2.Any())
                                            {
                                                <span class="toggle"></span>
                                            }
                                        </a>
                                    }
                                    else if (item1.Type == WebsiteNavigationType.Content)
                                    {
                                        <a class="department-a-tag" href="@Url.Action("page", "Home", new { pageUrl = item1.WebsiteContentPages.pageUrl })">
                                            @item1.Name
                                            @if (level2.Any())
                                            {
                                                <span class="toggle"></span>
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="department-a-tag" href="@Url.Action("list", "Products", new { category = item1.Name })">
                                            @item1.Name
                                            @if (level2.Any())
                                            {
                                                <span class="toggle"></span>
                                            }
                                        </a>
                                    }

                                    <ul class='dropdown2'>
                                        @foreach (var item2 in level2)
                                        {
                                            <li>
                                                @if (item2.Type == WebsiteNavigationType.Blank)
                                                {
                                                    <a class="department-a-tag" href="#">@item2.Name</a>
                                                }
                                                else if (item2.Type == WebsiteNavigationType.Content)
                                                {
                                                    <a class="department-a-tag" href="@Url.Action("page", "Home", new { pageUrl = item2.WebsiteContentPages.pageUrl })">@item2.Name</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("list", "Products", new { category = item2.Name})"> @item2.Name</a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }

        </ul>
    </nav>
</div>


<script>
    $(document).ready(function () {
        //the trigger on hover when cursor directed to this class
        $(".core-menu li").hover(
            function () {
                //i used the parent ul to show submenu
                $(this).children('ul').slideDown('fast');
            },
            //when the cursor away
            function () {
                $('ul', this).slideUp('fast');
            });
        //this feature only show on 600px device width
        $(".hamburger-menu").click(function () {
            $(".burger-1, .burger-2, .burger-3").toggleClass("open");
            $(".core-menu").slideToggle("fast");
        });
    });
</script>