@using Ganedata.Core.Entities.Domain
@{
    var siteProperties = ViewBag.TenantWebsite as TenantWebsites;
}
<li class="facebook"><a href="@siteProperties.FacebookUrl"><i class="fa fa-facebook"></i></a></li>
<li class="twitter"><a href="@siteProperties.TwitterUrl"><i class="fa fa-twitter"></i></a></li>
<li class="rss"><a href="@siteProperties.InstaGramUrl"><i class="fa fa-instagram"></i></a></li>
<li class="pinterest"><a href="@siteProperties.LinkedInUrl"><i class="fa fa-linkedin"></i></a></li>
<li class="vimeo"><a href="@siteProperties.YoutubeUrl"><i class="fa fa-youtube"></i></a></li>
