@using Ganedata.Core.Services
@{
    var siteProperties = ViewBag.TenantWebsite as caTenantWebsites;
}
<div id="top-header" class="sticky-header">
    <header class="custom-header-container smart-header">
        <div class="custom-container">
            <div class="header-row custom-max-width m-auto pl-10 pr-10">
                <div class="head-logo">
                    <div id="logo" class="ui-logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="@ViewBag.BaseFilePath@siteProperties.Logo" title="@siteProperties.SiteName" alt="@siteProperties.SiteName" class="img-responsive" />
                        </a>
                    </div>
                </div>
                @*<div class="col-xs-6 iconxs"></div>*@
                @*<div class=" h-search">
                    <div id="search-by-category" class="search-by-category">*@


                <div class="head-without-logo">

                    <div class="search-container search-by-category">
                        <div class="search-box input-group">
                            <input type="text" name="search" value="" placeholder="Search" class="text-search" />
                            <div id="sp-btn-search" class="input-group-btn">
                                <button type="button" id="btn-search-category" class="btn btn-search-category" onclick="SearchProductCategory();">Search</button>
                            </div>
                        </div>
                    </div>
                    @*</div>
                        </div>*@
                    <div class=" contact-currency">
                        <div class="hcontact">
                            <a href="#">
                                <span class="d-xs-none">
                                    <svg width="20px" height="19px">
                                        <use xlink:href="/Content/Theme/Smart/app/img/icons/icons.svg#call"></use>
                                    </svg>
                                    @siteProperties.WebsiteContactPhone
                                </span>
                            </a>
                        </div>
                        <div class="cur">
                            <form action="#" method="post" enctype="multipart/form-data" id="form-currency">
                                <div class="btn-group">
                                    <button class="btn btn-link dropdown-toggle test" data-toggle="dropdown">
                                        <span>@ViewBag.Symbol @ViewBag.CurrencyName</span>&nbsp;<i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu currency-dropdown">
                                        @if (ViewBag.Currencies != null)
                                        {
                                            foreach (var item in ViewBag.Currencies)
                                            {
                                                <li>
                                                    <a href="javascript:;" class="currency-select btn btn-link btn-block" id="@item.CurrencyID" type="button" onclick="onCurrencyChange(event)">@item.Symbol @item.CurrencyName</a>
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                                <input type="hidden" name="code" value="" />
                                <input type="hidden" name="redirect" value="#" />
                            </form>
                        </div>
                    </div>
                    <div id="top-links" class=" menu-link account-cart">
                        <ul class="list-inline list-inline-flex">
                            <li id="user_menue" class="dropdown user_menu">
                                @Html.Action("_UserMenuPartial")
                            </li>
                            <li id="cart" class="cart-menu">
                                @Html.Action("_CartMenuPartial")
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </header>
    @Html.Action("_HorizontalNavbarPartial", "Home")
</div>
<script src="~/Scripts/javascript-searchproduct.js"></script>
<script>
    $(document).ready(function () {

        $("#cart").hover(function () {
            $('#cart').addClass('open');
        });
        $("#cart").mouseleave(function () {
            $('#cart').removeClass('open');
        });
        $("#cart").click(function () {
            location.href = basePath + '/Products/AddToCart';
        });
        $("#user_menue").hover(function () {
            $('#user_menue').addClass('open');
        });
        $("#user_menue").mouseleave(function () {
            $('#user_menue').removeClass('open');
        });

    });

</script>


