@model Ganedata.Core.Entities.Domain.Order
@using Ganedata.Core.Entities.Enums;
@{
    ViewBag.Title = "Order Confirmation";
    int j = 1;
}

<div class="about bg-white confirm-order-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h1>Thank you for your order #@Model.OrderNumber</h1>
            </div>
            <div class="col-md-6 col-sm-12">
                <h2 class="text-uppercase"> Shipping Address</h2>
                <hr class="custom-hr">
                <p>
                    <b>@Model.ShipmentAccountAddress.AddressLine1</b> <br/>
                    @Model.ShipmentAccountAddress.AddressLine2 <br/>
                    @Model.ShipmentAccountAddress.AddressLine3 @Model.ShipmentAccountAddress.PostCode <br/>
                    @Model.ShipmentAccountAddress.GlobalCountry.CountryName <br/>
                    <b> Phone:</b> @Model.ShipmentAccountAddress.Telephone <br/>
                </p>
            
            </div>
            <div class="col-md-6 col-sm-12">
                <h2 class="text-uppercase"> Billing Address</h2>
                <hr class="custom-hr">
                <p>
                    <b>@Model.BillingAccountAddress.AddressLine1</b> <br/>
                    @Model.BillingAccountAddress.AddressLine2 <br/>
                    @Model.BillingAccountAddress.AddressLine3 @Model.BillingAccountAddress.PostCode <br/>
                    @Model.BillingAccountAddress.GlobalCountry.CountryName <br/>
                    <b> Phone:</b> @Model.BillingAccountAddress.Telephone <br/>
                </p>
            </div>
            <div class="col-sm-12 col-md-12 delivery-schedule">
                <h3> <i class="fa fa-truck"></i>  Expected Delivery :  <b> @ViewBag.DeliveryAdvice</b></h3>
            </div>
        
                @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                {
                    <table class="table table-bordered order-confirmation-table">
                        <tbody>
                        <tr>
                            <th class="prd">Product</th>
                            <th class="price text-center">Price</th>
                            <th class="qty text-center">Quantity</th>
                            <th class="qty text-center">Tax</th>
                            <th class="tot text-center">Total</th>
                        </tr>

                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr class="cmnRow">
                                <td class="prd">
                                    <div class="prdCellwrap">
                                        <div class="inrow">
                                            <span class="imgWrap">
                                                <img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage) ? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")"/>
                                            </span>
                                            <span class="prdName">
                                                @(item.ProductMaster?.Name)
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="priceWrapinner">
                                        <b class="price-b">Price:</b> <span>@ViewBag.CurrencySymbol@item.Price</span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="QtyWrap">
                                        @item.Qty
                                    </div>
                                </td>
                                <td class="text-center">
                                    @item.TaxAmount
                                </td>
                                <td class="text-center">
                                    <div id="total_amnt" class="priceTotal">
                                        <b class="price-b">Total:</b> <span>@ViewBag.CurrencySymbol@item.TotalAmount</span>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr class="subTotRow">
                            <td class="prd"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <b>Basket Total</b>
                            </td>
                            <td class="border-bottom-0 text-center">
                                <strong>@ViewBag.CurrencySymbol@(Model.OrderDetails.Sum(m=> m.TotalAmount))</strong>
                            </td>
                        </tr>
                        <tr class="subTotRow">
                            <td class="prd"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <b>Tax Amount</b>
                            </td>
                            <td class="border-bottom-0 text-center">
                                <strong>@ViewBag.CurrencySymbol@(Model.OrderDetails.Sum(m=> m.TaxAmount) + (ViewBag.DeliveryCost??0))</strong>
                            </td>
                        </tr>
                        <tr class="subTotRow">
                            <td class="prd"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <b>Gross Amount</b>
                            </td>
                            <td class="border-bottom-0 text-center">
                                <strong>@ViewBag.CurrencySymbol@(Model.OrderTotal)</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="text-center m-4">Oops, Your Basket Is Empty!</div>
                }
            </div>
        </div>
            </div>
              

