@model Ganedata.Core.Entities.Domain.ProductTag
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme },
         new StyleSheet { ExtensionType = ExtensionType.UploadControl, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit },
          new Script { ExtensionType = ExtensionType.UploadControl }
        )
}

@{
    ViewBag.Title = "Edit Website Slider";
}
<script type="text/javascript">
    function onFileUploadComplete(s, e) {
        if (e.callbackData) {
            $("#dvfiles").show();
            var fileData = e.callbackData.split('|');
            var Fileobj = { FileName: fileData };
            var result = $("#uploaderTenantDept").tmpl(Fileobj);
            $("#dvfiles").append(result);
            $('.se-pre-con').hide();
            $("#FileLength").val('True');

        }


    }
    function onFileUploadStart(s, e) {
        if ($("#FileLength").val() == 'True') {
            e.cancel = true;
            alert("Only one file allow to be select");
            return;
        }
    }
</script>
<h2><span> Edit Website Slider (@ViewBag.SiteName)</span></h2>
@Html.Hidden("websiteSlider", true)
@Html.Hidden("hdPFiles", (List<string>)ViewBag.Files)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
<div class="col-md-12">
    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.TagName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.SortOrder, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.Label("Icon", new { @class = "col-md-4" })
        <div class="col-md-8">
            @Html.Partial("_Uploader")
            @Html.Hidden("FileLength", (bool?)ViewBag.FileLength)
            <br />
            <div id="dvfiles">

                <strong>Uploaded Files</strong>
                @foreach (var file in ViewBag.Files)
                {

                    <table>
                        <tr>
                            <td id="tdProductfileName">@file</td>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td><a class="LRemove" onclick="_RemoveLogoFile('@file')">Remove</a></td>
                            <td>
                                <p>&nbsp;</p>
                            </td>

                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
    =
    <div class="input-group h-100 justify-content-center align-items-center">
        <div class="col-md-offset-2 col-md-10 bottom-right">
            <input type="submit" value="Save" class="btn btn-primary" />
            <div class="back-list">@Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default" })</div>
        </div>
    </div>
</div>
}
<script id="uploaderTenantDept" type="text/x-jquery-tmpl">
    <tr>
        <td id="tdfileName">${FileName}</td>
        <td><p>&nbsp;</p></td>
        <td><a class="LRemove" onclick="_RemoveLogoFile('${FileName}')">Remove</a></td>

    </tr>
</script>
