@model Ganedata.Core.Entities.Domain.ProductFilteringViewModel
@using Ganedata.Core.Entities.Domain


<div class="col-md-4 col-lg-3">
    <div class="nb_prd_filterwrap">
        <div class="prod_count_sec">
            <span class="count">@Model.Count Products</span>
            <ul>
                <li class="list-group-item"><input type="checkbox" id="stockS" class="checkbox-inline" value="In_stock" @(Request.Url.OriginalString.ToLower().Contains("in_stock") ? "checked" : "")>In stock </li>
                <li class="list-group-item"><input type="checkbox" id="stockS" class="checkbox-inline" value="Out_stock" @(Request.Url.OriginalString.ToLower().Contains("out_stock") ? "checked" : "")>Out of stock</li>
            </ul>
        </div>
        <div class="nb_fltr_accrd_wrap">
            <div id="accordion" class="nb_filter_accordion">
                <div class="nb_filter_head" id="filter1">
                    <h5 class="mb-0">
                        <button class="btn btn-link"
                                data-toggle="collapse"
                                data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            Price
                        </button>
                    </h5>
                </div>
                <div id="collapseOne"
                     class="collapse show"
                     aria-labelledby="filter1"
                     data-parent="#accordion">
                    <div class="nb_filter_body">
                        <ul class="nb_prd_filter_listouter">
                            @foreach (var item in Model.PriceInterval)
                            {
                                <li class="list-group-item"><input type="checkbox" id="priceS" class="checkbox-inline" value="@(item.Item1+"_"+item.Item2)" @(Request.Url.OriginalString.ToLower().Contains(item.Item1 + "_" + item.Item2) ? "checked" : "")> @ViewBag.CurrencySymbol@item.Item1 - @ViewBag.CurrencySymbol@item.Item2</li>

                            }

                        </ul>
                    </div>
                </div>
                @if (Model.Manufacturer.Count > 0)
                {
                    <div class="nb_filter_head" id="filter2">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapse2"
                                    aria-expanded="true"
                                    aria-controls="collapse2">
                                Brand
                            </button>
                        </h5>
                    </div>
                    <div id="collapse2"
                         class="collapse show"
                         aria-labelledby="filter2"
                         data-parent="#accordion">
                        <div class="nb_filter_body">
                            <ul class="nb_prd_filter_listouter">
                                @foreach (var item in Model.Manufacturer)
                                {
                                    string name = item.Replace(" ", "_").Replace(",", "^");
                                    <li class="list-group-item"><input type="checkbox" id="BrandS" class="checkbox-inline" title="@(item)" value="@(name)" @(Request.Url.OriginalString.ToLower().Contains(name.ToLower()) ? "checked" : "")>@(item)</li>

                                }
                            </ul>
                        </div>
                    </div>
                }
                @if (Model.subCategories.Count > 0)
                {
                    <div class="nb_filter_head" id="filter3">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapse3"
                                    aria-expanded="true"
                                    aria-controls="collapse3">
                                By Type
                            </button>
                        </h5>
                    </div>
                    <div id="collapse3"
                         class="collapse show"
                         aria-labelledby="filter3"
                         data-parent="#accordion">
                        <div class="nb_filter_body">
                            <ul class="nb_prd_filter_listouter">
                                @foreach (var item in Model.subCategories)
                                {
                                    string name = item.Replace(" ", "_").Replace(",", "^");
                                    <li class="list-group-item" id="type"><input type="checkbox" id="TypeS" class="checkbox-inline" title="@(item)" value="@(name)" @(Request.Url.OriginalString.ToLower().Contains(name.ToLower()) ? "checked" : "")>@(item)</li>
                                }


                            </ul>
                        </div>
                    </div>
                }
                @* Adding dynmic attributes here *@
                @foreach (var item in Model.AttributeValues)
                {

                    <div class="nb_filter_head" id="filter_@(item.Key)">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapse_@(item.Key)"
                                    aria-expanded="true"
                                    aria-controls="collapse_@(item.Key)">
                                @item.Value.FirstOrDefault().ProductAttributes.AttributeName
                            </button>
                        </h5>
                    </div>
                    <div id="collapse_@(item.Key)"
                         class="collapse show"
                         aria-labelledby="filter_@(item.Key)"
                         data-parent="#accordion">
                        <div class="nb_filter_body">
                            <ul class="nb_prd_filter_listouter">
                                @foreach (var items in item.Value)
                                {
                                    string name = items.Value.Replace(" ", "_").Replace(",", "^");
                                    <li class="list-group-item"><input type="checkbox" id="@items.ProductAttributes.AttributeName.Replace(" ", "_")" class="checkbox-inline" value="@name" @(Request.Url.OriginalString.ToLower().Contains(name.ToLower()) ? "checked" : "")>@(items.Value)</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


