@model Ganedata.Core.Entities.Domain.ProductMaster

<div class="nb_prd_viewingsecWrap" id="Prod_carr_viewer">
    <span id="zoomViewTrigger"><i class="icon-search"></i></span>
    <span class="img_view_area">
        <img id="selected-image"
             src="@(!string.IsNullOrEmpty(Model.DefaultImage?.Trim()) ? ViewBag.BaseFilePath + Model.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")"
             data-zoom-image="@(!string.IsNullOrEmpty(Model.DefaultImage?.Trim()) ? ViewBag.BaseFilePath + Model.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
    </span>
    <div class="img_thumb_sliderwrap" style="@(Model.ProductFiles.Count > 1 ? "" : "display:none")">
        <div id="images-gallery__carousel" class="owl-carousel owl-theme nb_imageZoomCarrousle">
            @foreach (var item in Model.ProductFiles.Where(f => !string.IsNullOrEmpty(f.FilePath?.Trim())))
            {
                <div class="item">
                    <a href="#" data-image="@(ViewBag.BaseFilePath + item.FilePath)"
                       data-zoom-image="@(ViewBag.BaseFilePath + item.FilePath)"
                       class="@(Model.DefaultImage == item.FilePath? "active" : "")">
                        <img id="selected-image" src="@(ViewBag.BaseFilePath + item.FilePath)" alt="" />
                    </a>
                </div>
            }

        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.DefaultImage?.Trim()))
{
<script>
    $(document).ready(function () {
        $("#selected-image").elevateZoom({
            gallery: "images-gallery__carousel",
            cursor: "pointer",
            galleryActiveClass: "active",
            imageCrossfade: true,
            loadingIcon: "",
            cursor: "crosshair",
            zoomWindowFadeIn: 500,
            zoomWindowFadeOut: 500,
            easing: true,
            zoomWindowWidth: 500,
            zoomWindowHeight: 400,
            responsive: true,
            borderSize: 1,
            destroyContainerOnResize: true,
            zoomWindowOffetx: 20,
            zoomWindowOffety: 0,
            zoomType: "window",
        });
    });
</script>
}