@model List<Ganedata.Core.Entities.Domain.ProductMaster>
@using Ganedata.Core.Entities.Enums

@if (Model.Count > 0)
{
    @Html.Partial("_ProductByAttributeSelectorModal")
    <section class="nb_sec nb_feat_prod_sec nb_umayalso_sec feature-product-overflow">
        <div class="container">
            <div class="nb_header_style2">
                <h3>You may also like</h3>
            </div>
            <div class="row">
                <div class="owl-carousel owl-theme nb_featuredPrdCarrousle">
                    @foreach (var product in Model)
                    {
                        <div class="item">
                            <div class="prd_lst_boxouter">
                                @{
                                    var index = 0;
                                    foreach (var teg in product.ProductTagMaps.Take(3))
                                    {
                                        var imageIcon = teg.ProductTag.IconImage;
                                        <span class="badge badge-@index++">
                                            <img src="@(ViewBag.BaseFilePath + imageIcon)" alt="" />
                                        </span>
                                    }
                                }

                                <span class="imagewrap">
                                    <a href="@Url.Action("ProductDetails", "Products", new { sku = product.SKUCode })">
                                        <img src="@(!string.IsNullOrEmpty(product.DefaultImage) ? ViewBag.BaseFilePath + product.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                                    </a>
                                </span>
                                <h3 class="prdName">
                                    <a class="prdName" href="@Url.Action("ProductDetails", "Products", new { sku = product.SKUCode })">
                                        @product.Name
                                    </a>
                                </h3>
                                <div class="foot">
                                    <ul class="icolist">
                                        <li>
                                            <a class="prd_amnt" href="@Url.Action("ProductDetails", "Products", new { sku = product.SKUCode })">
                                                @if (product.ProductType == ProductKitTypeEnum.Grouped)
                                                {
                                                    <span class="price-from__text">from </span>
                                                }
                                                @ViewBag.CurrencySymbol@product.SellPrice
                                            </a>
                                        </li>

                                        @Html.Partial("_ProductListItemActionsButtons", product)
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}