@model List<Ganedata.Core.Entities.Domain.ProductMaster>
@using Ganedata.Core.Entities.Enums

@if (Model.Count > 0)
{
    @Html.Partial("_ProductByAttributeSelectorModal")
    <section class="nb_sec nb_feat_prod_sec nb_umayalso_sec feature-product-overflow">
        <div class="container">
            <div class="nb_header_style2">
                <h3>You may also like</h3>
            </div>
            <div class="row">
                <div class="owl-carousel owl-theme nb_featuredPrdCarrousle">
                    @foreach (var relatedProduct in Model)
                    {


                        <div class="item">
                            <div class="prd_lst_boxouter">
                                <span class="imagewrap">
                                    <a href="@Url.Action("ProductDetails", "Products", new { sku = relatedProduct.SKUCode })">
                                        <img src="@(!string.IsNullOrEmpty(relatedProduct.DefaultImage) ? ViewBag.BaseFilePath + relatedProduct.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                                    </a>
                                </span>
                                <h3 class="prdName">
                                    <a class="prdName" href="@Url.Action("ProductDetails", "Products", new { sku = relatedProduct.SKUCode })">
                                        @relatedProduct.Name
                                    </a>
                                </h3>
                                <div class="foot">
                                    <ul class="icolist">
                                        <li>
                                            <a class="prd_amnt" href="@Url.Action("ProductDetails", "Products", new { sku = relatedProduct.SKUCode })">
                                                @if (relatedProduct.ProductType == ProductKitTypeEnum.Grouped)
                                                {
                                                    <span class="price-from__text">from </span>
                                                }
                                                @ViewBag.CurrencySymbol@relatedProduct.SellPrice
                                            </a>
                                        </li>

                                        @if (Ganedata.Core.Services.Inventory.IsProductAvailableToSell(relatedProduct, ViewBag.SiteId) && relatedProduct.ProductType != ProductKitTypeEnum.ProductByAttribute)
                                        {
                                            <li>
                                                <a href="javascript:;" onclick="addToCart(@relatedProduct.ProductId)"><i class="cart-icon icon-shopping-cart"></i></a>
                                            </li>
                                        }
                                        else if (Ganedata.Core.Services.Inventory.IsProductAvailableToSell(relatedProduct, ViewBag.SiteId) && relatedProduct.ProductType == ProductKitTypeEnum.ProductByAttribute)
                                        {
                                            <li>
                                                <a href="javascript:;" onclick="showProductByAttributeSelector('@relatedProduct.SKUCode')"><i class="cart-icon icon-shopping-cart"></i></a>
                                            </li>
                                        }
                                        else
                                        {
                                            if (!Ganedata.Core.Services.Inventory.IsProductInNotifyList(relatedProduct, ViewBag.CurrentUserId))
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="@(relatedProduct.ProductType != ProductKitTypeEnum.ProductByAttribute ? "addToNotifyList(" + relatedProduct.ProductId + ")" : "showProductByAttributeSelector('" + relatedProduct.SKUCode + "', true)")" id="notification-bell_@relatedProduct.ProductId"><i class="bel-icon fa fa-bell-o list-icon" style="color:black"></i></a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="@(relatedProduct.ProductType != ProductKitTypeEnum.ProductByAttribute ? "redirectToWishListByConfirmation()" : "showProductByAttributeSelector('" + relatedProduct.SKUCode + "', true)")" id="notification-bell_@relatedProduct.ProductId"><i class="bel-icon fa fa-bell-o list-icon" style="color:red"></i></a>
                                                </li>
                                            }
                                        }

                                        @if (!Ganedata.Core.Services.Inventory.IsProductInWishList(relatedProduct, ViewBag.CurrentUserId))
                                        {
                                            <li>
                                                <a href="javascript:;" id="wish_@relatedProduct.ProductId" onclick="@(relatedProduct.ProductType != ProductKitTypeEnum.ProductByAttribute ? "addToWishList(" + relatedProduct.ProductId + ")" : "showProductByAttributeSelector('" + relatedProduct.SKUCode + "', true)")"><i class="icon-love list-icon" style="color: black;"></i></a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="javascript:;" id="wish_@relatedProduct.ProductId" onclick="@(relatedProduct.ProductType != ProductKitTypeEnum.ProductByAttribute ? "redirectToWishListByConfirmation()" : "showProductByAttributeSelector('" + relatedProduct.SKUCode + "', true)")"><i class="icon-love list-icon" style="color: red;"></i></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}