@using System.Configuration
@model WarehouseEcommerce.ViewModels.GroupedProductViewModel
@{
    ViewBag.Title = Model.Product?.Name + " | " + ViewBag.SiteDescription ?? "";
    var Images = ConfigurationManager.AppSettings["ImageFormats"].Split(new char[] { ',' });


}
<section class="nb_sec nb_prdlisting_pgsec product-details-section">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-12 col-sm-12">
                @Html.Partial("_ProductDetailBreadCrumb")
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        @Html.Partial("_ProductImagesGallery", Model.Product)
                        <div class="nb_prod_bottomdes">
                            <p class="content">
                                @Html.Raw(Model.Product.Description)
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        @*<div class="tab-group rates-page-tabs">*@
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            @{
                                var isFirstTab = true;
                            }

                            @foreach (var item in Model.GroupedTabs)
                            {
                                <li role="presentation" nav-item">
                                    <a href="#@item.Name.Replace(" ", "-")" aria-controls="@item.Name.Replace(" ", "-")" role="tab" data-toggle="tab" class="nav-link @(isFirstTab ? "active" : "")">
                                        @item.Name
                                        <span class="active-tab-bar"></span>
                                    </a>
                                </li>
                                isFirstTab = false;
                            }
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content grouped-product-tab-items">
                            @{

                                isFirstTab = true;
                                foreach (var item in Model.GroupedTabs)
                                {
                                    <div role="tabpanel" class="tab-pane @(isFirstTab ? "active" : "")" id="@item.Name.Replace(" ", "-")">

                                        @{
                                            var products = Model.Product.ProductKitItems.Where(u => (u.ProductKitTypeId == item.Id || ((u.ProductKitTypeId == null || u.ProductKitTypeId == 0) && isFirstTab)) &&
                                                                                                    u.ProductKitType == Ganedata.Core.Entities.Enums.ProductKitTypeEnum.Grouped &&
                                                                                                    u.IsDeleted != true)
                                                                                        .ToList();
                                        }
                                        @foreach (var productKitMap in products)
                                        {
                                            <div class="nb_prd_det_rightsec product-details-block">
                                                <h2 class="head">@productKitMap.KitProductMaster.Name</h2>
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-xl-4">
                                                        <span class="prd_amnt">@ViewBag.CurrencySymbol@productKitMap.KitProductMaster.SellPrice</span>
                                                        <div class="availibility">
                                                            @{
                                                                var availableProductCount = Ganedata.Core.Services.Inventory.GetAvailableProductCount(productKitMap.KitProductMaster, ViewBag.SiteId);
                                                                ViewBag.AvailableProductCount = availableProductCount;
                                                            }

                                                            @if (availableProductCount > 0)
                                                            {
                                                                <span>@((availableProductCount <= 10 ? "only " + availableProductCount.ToString("#") + " items left" : "Available"))</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Currently unavailable.</span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-12 col-xl-8">
                                                        @Html.Partial("_ProductDetailActionsButtons", productKitMap.KitProductMaster)
                                                    </div>
                                                </div>
                                                <div class="attribute-value">
                                                    <span>@Ganedata.Core.Services.Inventory.GetProductAttributesValueToDisplay(productKitMap.KitProductMaster.ProductAttributeValuesMap)</span>
                                                </div>

                                                <div class="associated-product-description">
                                                    @Html.Raw(@productKitMap.KitProductMaster.Description)
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    isFirstTab = false;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_RelatedProducts", Model.RelatedProducts)