@using Ganedata.Core.Entities.Domain
@using Ganedata.Core.Entities.Enums
@model PagedList.IPagedList<ProductMaster>
@using PagedList.Mvc;
@{
    var UrlQuery = Request.Url.OriginalString;
    string values = "";
    string SubCategory = "";
    string Manufacturer = "";
    if (UrlQuery.Contains("values="))
    {
        var startindex = UrlQuery.IndexOf("values=");
        var lastindex = UrlQuery.Length - startindex;
        values = UrlQuery.Substring(startindex, lastindex).Replace("values=", "");
        var breadcumbstring = values.Split('/');
        SubCategory = breadcumbstring.FirstOrDefault(u => u.Contains("TypeS-"));
        Manufacturer = breadcumbstring.FirstOrDefault(u => u.Contains("BrandS-"));

    }

}

<section class="nb_sec nb_prdlisting_pgsec">
    <span id="res_filterBox_trigger"><i class="icon-filter"></i></span>
    <div class="container">
        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="icon-home"></i></a>
                        </li>
                        @if (!string.IsNullOrWhiteSpace(ViewBag.Category))
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("list", "Products", new { category = ViewBag.Category })">@ViewBag.Category </a></li>
                        }
                        else if (!string.IsNullOrWhiteSpace(Manufacturer))
                        {
                            <li class="breadcrumb-item">@(Manufacturer.Replace("BrandS-", "").Replace("^", ",").Replace("_", " ").Replace("%5E", ",") ?? "")</li>

                            ViewBag.Title = (Manufacturer.Replace("BrandS-", "").Replace("^", ",").Replace("_", " ").Replace("%5E", ",") ?? "") + " | " + ViewBag.SiteDescription;
                        }
                    </ol>
                </nav>
            </div>
            <div class="sortBy_outer">
                <span class="srtby_txt">Sort By</span>
                <div class="sortBysec">
                    @Html.DropDownList("SortedValues", EnumHelper.GetSelectList(typeof(SortProductTypeEnum)), htmlAttributes: new {  @class = "form-control", onchange = "searchPoducts();" })
                    @*<select id="nb_prdlst_sortDrpdwn">

                            <option value="volvo">Most Relevent</option>
                            <option value="saab">Most Popular</option>
                            <option value="mercedes">Customer Review</option>
                            <option value="audi">Price (Low - High)</option>
                            <option value="audi">Price (High - Low)</option>
                        </select>*@
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Action("_DynamicFilters", new { category = ViewBag.Category, productName = ViewBag.CurrentFilter })
            <div class="col-md-8 col-lg-9">
                <div class="nb_prd_listing_wrap">
                    @*<h3 class="head">New</h3>
                <ul class="tagList">
                    <li>
                        <a href="">
                            New In
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Jumpers
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Colour Block
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Roll Neck
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Zip Neck
                        </a>
                    </li>
                </ul>*@
                    <div class="row">
                        @foreach (var item in Model)
                        {


                            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                <div class="prd_lst_boxouter">
                                    <span class="imagewrap">
                                        <a href="@Url.Action("ProductDetails","Products", new {sku=item.SKUCode})"> <img src="@(!string.IsNullOrEmpty(item.DefaultImage) ? ViewBag.BaseFilePath + item.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" /></a>
                                        @*<a href="@Url.Action("ProductDetails","Products", new {sku=item.SKUCode})"> <img src="~/Content/Theme/University/app/images/Runner_Prep.jpg" class="img-fluid" alt="static-image" title="static-image" /></a>*@
                                    </span>
                                    <h3 class="prdName">@item.Name</h3>
                                    <div class="foot">
                                        <span class="prd_amnt">@ViewBag.CurrencySymbol @item.SellPrice</span>
                                        <ul class="icolist">
                                            @if (@item.SellPrice > 0 && @item.SellPrice.HasValue && @item.PercentMargin > 0)
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="AddToCart(@item.ProductId)"><i class="icon-shopping-cart"></i></a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="javascript:;"><i class="icon-shopping-cart"></i></a>
                                                </li>

                                            }
                                            <li>
                                                <a href=""><i class="icon-love"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                        <input type="text" id="currentsortedvalue" value="@(ViewBag.CurrentSort ?? " ")" style="display:none" />
                        <input type="text" id="currentFiltervalue" value="@(ViewBag.CurrentFilter ?? " ")" style="display:none" />
                        <input type="text" id="searchString" value="@(ViewBag.searchString ?? " ")" style="display:none" />

                        <input type="hidden" id="prod-category" value="@ViewBag.Category" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<script>
    function GetSortedList(e) {
        var sortvalue = parseInt(e.currentTarget.value);

        var groupId = $("#ProductGroups").val();
        if (groupId === "" || groupId === undefined || groupId === null) { groupId = $("#ProductGroupsId").val(); }
        var pagenumber = $("#pagenumber").val();
        var departmentId = $("#departmentId").val();
        var currentFilter = $("#currentFiltervalue").val();
        var searchstring = $("#searchString").val();
        var pageSize = $("#input-limit :selected").val();
        var valuesparam = $("#valuesParameter").val();
        var subCategory = $("#SubCategoryId").val();
        window.location.href = basePath + "/Products/ProductCategories?productGroup=" + groupId + "&sortOrder=" + sortvalue + "&currentFilter=" + currentFilter + "&searchString=" + searchstring + "&page=" + pagenumber + "&pagesize=" + pageSize + "&department=" + departmentId + "&SubCategory=" + subCategory + "&values=" + valuesparam;
    }

    function PageSizeChanges(e) {
        var pageSize = parseInt(e.currentTarget.value);
        var sortvalue = $("#SortedValues").val();
        var groupId = $("#ProductGroups").val();
        if (groupId === "" || groupId === undefined || groupId === null) { groupId = $("#ProductGroupsId").val(); }
        var pagenumber = $("#pagenumber").val();
        var departmentId = $("#departmentId").val();
        var currentFilter = $("#currentFiltervalue").val();
        var searchstring = $("#searchString").val();
        var subCategory = $("#SubCategoryId").val();
        var valuesparam = $("#valuesParameter").val();
        window.location.href = basePath + "/Products/ProductCategories?productGroup=" + groupId + "&sortOrder=" + sortvalue + "&currentFilter=" + currentFilter + "&searchString=" + searchstring + "&page=" + pagenumber + "&pagesize=" + pageSize + "&department=" + departmentId + "&SubCategory=" + subCategory + "&values=" + valuesparam;
    }

</script>
