@using System.Configuration
@using Ganedata.Core.Entities.Enums
@model WarehouseEcommerce.ViewModels.ProductDetailViewModel
@{
    ViewBag.Title = Model.Product.Name + " | " + ViewBag.SiteDescription;
    var Images = ConfigurationManager.AppSettings["ImageFormats"].Split(new char[] { ',' });
}
<section class="nb_sec nb_prdlisting_pgsec product-details-section">
    <div class="container">
        @Html.Partial("_ProductDetailBreadCrumb")
        <div class="row">
            <div class="col-md-5 col-lg-4">
                @Html.Partial("_ProductFilesGallery", Model.Product)
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="nb_prd_det_rightsec">
                    <h2 class="head">@Model.Product.Name</h2>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <div>SKU: @Model.Product.SKUCode</div>
                            @if (Model.Product.ProductManufacturer != null)
                            {
                                <div>Brand: <a href="@Url.Action("List", "Products", new { filters = "brands>" +  Model.Product.ProductManufacturer.Name.Replace(" ", "_") + ":" + Model.Product.ManufacturerId })">@Model.Product.ProductManufacturer.Name</a></div>
                            }
                            @if (!string.IsNullOrEmpty(Model.Product.ManufacturerPartNo?.Trim()))
                            {
                                <div>MFP No: @Model.Product.ManufacturerPartNo</div>
                            }
                            @{
                                ViewBag.AvailableProductCount = Model.AvailableProductCount;
                            }
                            @Html.Partial("_ProductAvailability", Model.Product)
                            <div class="get-trade-price__link" style="display: none;">
                                <a href="javascript:;" onclick="GetLoggedIn(false,true)">
                                    Get Trade Price
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-8">
                            @if (Model.Product.SellPrice != null && Model.Product.SellPrice > 0)
                            {
                                <div class="prd_amnt">@ViewBag.CurrencySymbol@Model.Prices.FinalSellPrice</div>
                                <div class="prd_amnt_incl_VAT">(@ViewBag.CurrencySymbol@(Model.Prices.FinalSellPrice + Model.Prices.TaxAmount)<span> inc VAT</span>)</div>
                                if (Model.Product.SellPrice != Model.Prices.FinalSellPrice)
                                {
                                    <div class="prd_amnt_RRP">RRP @ViewBag.CurrencySymbol@Model.Product.SellPrice<span> excl VAT</span></div>
                                }
                            }
                            @Html.Partial("_ProductDetailActionsButtons", Model.Product)
                        </div>
                    </div>

                    @if (Model.ParentProductType != ProductKitTypeEnum.ProductByAttribute)
                    {
                        var attributesText = Ganedata.Core.Services.Inventory.GetProductAttributesValueToDisplay(Model.Product.ProductAttributeValuesMap);
                        if (!string.IsNullOrEmpty(attributesText?.Trim()))
                        {
                            <div class="attribute-value">
                                <span>@attributesText</span>
                            </div>
                        }
                    }

                    @if (Model.ParentProductType == ProductKitTypeEnum.ProductByAttribute)
                    {
                        foreach (var attribute in Model.AvailableAttributes)
                        {
                            <div>
                                <div class="sizeWrap">
                                    <div class="title">@Html.Raw(attribute.Name) : <span>@Html.Raw(attribute.SelectedValue)</span></div>
                                    <ul class="size_boxList">
                                        @{
                                            foreach (var attributeValue in attribute.AttributeValues)
                                            {
                                                @Html.Raw("<li class=\"col3 " + (attributeValue.IsSelected ? "active" : "") + (attributeValue.IsAvailableWithCurrentSelection ? "\">" : "unavailable-attribute\">") +
                                                          (attributeValue.IsSelected ? "<a>" : $"<a href=\"ProductDetails?sku={Model.ParentProductSKUCode}&productId={attributeValue.RelatedProductId}\">") +
                                                          (attributeValue.IsColorTyped ?
                                                              "<span style=\"background-color:" + attributeValue.Color + ";color:" + attributeValue.Color + "\">-</span>" :
                                                              "<span style=\"color:" + attributeValue.Color + "\">" + attributeValue.Value + "</span>") +
                                                          "</a></li>");
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="expandable-content-container parent-product-content-container">
                    <div class="expandable-content-container-body">
                        <div class="nb_prod_bottomdes">
                            <p class="content">
                                @Html.Raw(Model.Product.Description)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_RelatedProducts", Model.RelatedProducts)

<script>
    $(function () {
        if (userStatus === "Login") {
            $(".get-trade-price__link").show();
        }
    });
</script>