@using Ganedata.Core.Entities.Domain
@using System.Configuration
@model ProductMaster
@{
    ViewBag.Title = Model.Name + " | " + ViewBag.SiteDescription;
    var Images = ConfigurationManager.AppSettings["ImageFormats"].Split(new char[] { ',' });
}
<section class="nb_sec nb_prdlisting_pgsec">
    <div class="container">
        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li>></li>
                        @if (ViewBag.Category != null && !string.IsNullOrEmpty(ViewBag.Category))
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("list", "Products", new { category = ViewBag.Category })">@ViewBag.Category</a></li>
                            <li>></li>
                        }
                        @if (ViewBag.SubCategory != null && !string.IsNullOrEmpty(ViewBag.SubCategory))
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("list", "Products", new { category = ViewBag.SubCategory })">@ViewBag.SubCategory</a></li>
                            <li>></li>
                        }

                        <li class="breadcrumb-item">@ViewBag.BaseProduct.Name</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="nb_prd_viewingsecWrap" id="Prod_carr_viewer">
                    <span id="zoomViewTrigger"><i class="icon-search"></i></span>
                    <span class="img_view_area">
                        <img id="zoom_01"
                             src="@(!string.IsNullOrEmpty((Model.DefaultImage ?? ViewBag.BaseProduct.DefaultImage)) ? ViewBag.BaseFilePath + (Model.DefaultImage ?? ViewBag.BaseProduct.DefaultImage) : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")"
                             data-zoom-image="@(!string.IsNullOrEmpty(Model.DefaultImage ?? ViewBag.BaseProduct.DefaultImage) ? ViewBag.BaseFilePath + (Model.DefaultImage ?? ViewBag.BaseProduct.DefaultImage) : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                    </span>
                    <div class="img_thumb_sliderwrap">
                        <div id="gal01" class="owl-carousel owl-theme nb_imageZoomCarrousle">
                            @foreach (var item in ((Model.ProductFiles ?? ViewBag.BaseProduct.ProductFiles)))
                            {
                                var extension = Path.GetExtension(item.FilePath);
                                <div class="item">
                                    <a href="#" data-image="@(!string.IsNullOrEmpty(item.FilePath) ? ViewBag.BaseFilePath + item.FilePath : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" data-zoom-image="@(!string.IsNullOrEmpty(item.FilePath) ? ViewBag.BaseFilePath + item.FilePath : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")">
                                        <img id="zoom_01" src="@(!string.IsNullOrEmpty(item.FilePath) ? ViewBag.BaseFilePath + item.FilePath : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="" />
                                    </a>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 offset-lg-1">
                <div class="nb_prd_det_rightsec">
                    <h2 class="head">@Model.Name</h2>
                    <p class="subContent">
                        @Model.SKUCode
                    </p>
                    <span class="prd_amnt">@ViewBag.CurrencySymbol @Model.SellPrice</span>
                    <div class="availibility">
                        @if (Model.InventoryStocks.Any(i => i.Available > 0))
                        {
                            <span>Availability:</span> <br />
                            @((Model.InventoryStocks.Sum(i => i.Available) <= 10 ? "only " : "") + Model.InventoryStocks.Sum(i => i.Available).ToString("#") + " items left");
                        }
                        else
                        {
                            <span></span> <br />
                            <span>Currently unavailable.</span>
                        }
                    </div>

                    @if (ViewBag.BaseProduct.ProductType != Ganedata.Core.Entities.Enums.ProductKitTypeEnum.ProductByAttribute)
                    {
                        foreach (var item in Model.ProductAttributeValuesMap.Where(a => a.IsDeleted != true).OrderBy(m => m.ProductAttributeValues.AttributeId))
                        {
                            <div>
                                <div class="sizeWrap">
                                    <p>@Html.Raw(item.ProductAttributeValues.ProductAttributes.AttributeName) : <span>@Html.Raw(item.ProductAttributeValues.Value)</span></p>
                                </div>
                            </div>
                        }
                    }

                    @if (ViewBag.BaseProduct.ProductType == Ganedata.Core.Entities.Enums.ProductKitTypeEnum.ProductByAttribute)
                    {
                        foreach (var item in ViewBag.AvailableAttributes)
                        {
                            var attribute = item.Key;
                            var selectedAttributeValue = Model.ProductAttributeValuesMap.FirstOrDefault(a => a.IsDeleted != true && a.ProductAttributeValues.AttributeId == attribute.AttributeId)?.ProductAttributeValues;
                            <div>
                                <div class="sizeWrap">
                                    <p>@Html.Raw(attribute.AttributeName) : <span>@Html.Raw(selectedAttributeValue?.Value)</span></p>
                                    <ul class="size_boxList">
                                        @{
                                            foreach (var attributeValue in item.Value)
                                            {

                                                var relatedProducts = (ViewBag.RelatedProducts as IEnumerable<ProductMaster>).Where(p => p.SKUCode != Model.SKUCode &&
                                                                                                            p.ProductAttributeValuesMap.Any(m => m.IsDeleted != true && m.ProductAttributeValues.AttributeId == attribute.AttributeId &&
                                                                                                                                                 m.ProductAttributeValues.AttributeValueId == attributeValue.AttributeValueId));

                                                if (relatedProducts.Count() > 1)
                                                {
                                                    foreach (var currentProductAttribute in Model.ProductAttributeValuesMap.Where(am => am.IsDeleted != true && am.ProductAttributeValues.AttributeId != attribute.AttributeId))
                                                    {
                                                        var resultQuery = relatedProducts.Where(p => p.ProductAttributeValuesMap.Any(m => m.IsDeleted != true && m.ProductAttributeValues.AttributeId == currentProductAttribute.ProductAttributeValues.AttributeId &&
                                                                                                                                          m.ProductAttributeValues.AttributeValueId == currentProductAttribute.AttributeValueId));

                                                        if (resultQuery.Count() == 1)
                                                        {
                                                            relatedProducts = resultQuery;
                                                            break;
                                                        }

                                                        if (resultQuery.Count() != 0)
                                                        {
                                                            relatedProducts = resultQuery;
                                                        }
                                                    }
                                                }

                                                var isAttributeAvailableWithCurrentSelection = true;

                                                var attribiteStatusCheckQuery = (ViewBag.RelatedProducts as IEnumerable<ProductMaster>).Where(m => m.SKUCode != Model.SKUCode &&
                                                                                                            m.ProductAttributeValuesMap.Any(p => p.IsDeleted != true &&
                                                                                                                                                 p.ProductAttributeValues.AttributeId == attribute.AttributeId &&
                                                                                                                                                 p.ProductAttributeValues.AttributeValueId == attributeValue.AttributeValueId));

                                                foreach (var currentProductAttribute in Model.ProductAttributeValuesMap.Where(m => m.ProductAttributeValues.AttributeId != attribute.AttributeId))
                                                {
                                                    attribiteStatusCheckQuery = attribiteStatusCheckQuery.Where(m => m.ProductAttributeValuesMap.Any(p => p.IsDeleted != true &&
                                                                                                                                                          p.ProductAttributeValues.AttributeId == currentProductAttribute.ProductAttributeValues.AttributeId &&
                                                                                                                                                          p.ProductAttributeValues.AttributeValueId == currentProductAttribute.AttributeValueId));

                                                    isAttributeAvailableWithCurrentSelection = attribiteStatusCheckQuery.Any();
                                                }

                                                var isSelectedAttributeValue = attributeValue.AttributeValueId == selectedAttributeValue?.AttributeValueId;

                                                @Html.Raw("<li class=\"col3 " + (isSelectedAttributeValue ? "active" : "") + (!isSelectedAttributeValue && !isAttributeAvailableWithCurrentSelection ? "unavailable-attribute\">" : "\">") +
                                                                (isSelectedAttributeValue ? "<a>" : $"<a href=\"ProductDetails?sku={ViewBag.BaseProduct.SKUCode}&productId={relatedProducts.FirstOrDefault()?.ProductId ?? Model.ProductId}\">") +
                                                                (attributeValue.ProductAttributes.AttributeName.ToLower().IndexOf("color") == -1 && attributeValue.ProductAttributes.AttributeName.ToLower().IndexOf("colour") == -1 ?
                                                                "<span>" + attributeValue.Value + "</span>" :
                                                                "<span style=\"background-color:" + attributeValue.Value + ";color:" + attributeValue.Value + "\">-</span>") +
                                                            "</a></li>");
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }

                    <div class="footSec">
                        @if (@Model.SellPrice > 0 && @Model.SellPrice.HasValue && @Model.PercentMargin > 0 && Model.InventoryStocks.Sum(i => i.Available) > 0)
                        {
                            <div class="qty">
                                <span>quantity</span>
                                @Html.DropDownList("product-quantity", Enumerable.Range(1, (int)Model.InventoryStocks.Sum(i => i.Available)).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), htmlAttributes: new { @class = "form-control" })
                            </div>
                            <button class="addTobasket" onclick="addToCart(@Model.ProductId, document.getElementById('product-quantity').value)">Add to basket</button>
                        }

                        <button class="addtowishlistbtn">Add to Wishlist</button>
                        @if (Model.WebsiteWishListItems.Where(u => u.IsDeleted != true).ToList().Count <= 0)
                        {
                            <a href="javascript:;" class="addtowishlist" id="wish_@ViewBag.BaseProduct.ProductId" onclick="AddWishListItem(@ViewBag.BaseProduct.ProductId)"><i class="icon-love list-icon" style="color:black"></i></a>
                        }
                        else
                        {
                            <a href="javascript:;" class="addtowishlist" id="wish_@ViewBag.BaseProduct.ProductId" onclick="RemoveWishListPopUp(@ViewBag.BaseProduct.ProductId)"><i class="icon-love list-icon" style="color:red"></i></a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="nb_prod_bottomdes">
                    <h3 class="head">Description</h3>
                    <p class="content">
                        @if (string.IsNullOrEmpty(Model.Description))
                        {
                            @ViewBag.BaseProduct.Description;
                        }
                        else
                        {
                            @Model.Description;
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        if ($(window).width() < 768) {
            $("#zoom_01").elevateZoom({
                gallery: "gal01",
                cursor: "pointer",
                galleryActiveClass: "active",
                imageCrossfade: true,
                loadingIcon: "",
                cursor: "crosshair",
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 500,
                easing: true,
                zoomWindowWidth: 500,
                zoomWindowHeight: 500,
                responsive: true,
                borderSize: 1,
                destroyContainerOnResize: true,
                zoomWindowOffetx: 50,
                zoomWindowOffety: -25,
                zoomType: "inner",
            });
        } else {
            $("#zoom_01").elevateZoom({
                gallery: "gal01",
                cursor: "pointer",
                galleryActiveClass: "active",
                imageCrossfade: true,
                loadingIcon: "",
                cursor: "crosshair",
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 500,
                easing: true,
                zoomWindowWidth: 600,
                zoomWindowHeight: 500,
                responsive: true,
                borderSize: 1,
                destroyContainerOnResize: true,
                zoomWindowOffetx: 50,
                zoomWindowOffety: -25,
                zoomType: "window",
            });
        }
        //pass the images to Fancybox
        $("#zoom_01").bind("click", function (e) {
            var ez = $("#zoom_01").data("elevateZoom");
            $.fancybox(ez.getGalleryList());
            return false;
        });
    });
</script>