@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Manage Discount Vouchers";
}

<h2><span>@ViewBag.Title</span></h2>

<div class="table-responsive col-md-12 p-0">
    @if (ViewBag.ResultsCount != null)
    {
        <div class="alert-success col-md-12" id="shoppingVoucherRecordsLabel">
            @ViewBag.ResultsCount Results
        </div>
    }


    @Html.Action("ShoppingListPartial", "ShoppingVoucher")

</div>

<div class="col-md-offset-2 col-md-10 bottom-right">
    <a class="btn btn-primary" href="@Url.Action("Create","ShoppingVoucher")"><b class="fa fa-plus"></b> Add Voucher</a>
</div>
 