@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Manage Discount Vouchers";
}

<script>
    $(document).ready(function() {
        $("#tabs").tabs({});
    });
</script>

<div id="tabs" style="visibility: hidden">
 
<ul>
    <li><a href="#DiscountVouchers">Discount Vouchers</a></li>
    <li><a href="#RewardPointTriggers">Reward Point Triggers</a></li> 
</ul>
<div id="DiscountVouchers">
<h3><span>@ViewBag.Title</span></h3>

<div class="table-responsive col-md-12 p-0">
    @if (ViewBag.ResultsCount != null)
    {
        <div class="alert-success col-md-12" id="shoppingVoucherRecordsLabel">
            @ViewBag.ResultsCount Results
        </div>
    }

    @Html.Action("ShoppingListPartial", "ShoppingVoucher")

</div>

<div class="col-md-offset-2 col-md-10 bottom-right">
    <a class="btn btn-primary" href="@Url.Action("Create","ShoppingVoucher")"><b class="fa fa-plus"></b> Add Voucher</a>
    <a class="btn btn-default" href="@Url.Action("UpdateAllUsersWithPersonalReferralCode","ShoppingVoucher")">Generate Referral Codes</a>
</div>
</div>
    <div id="RewardPointTriggers">

        <h3><span>@ViewBag.Title</span></h3>
    <div class="col-sm-12">
        <ul>
            <li>Choose - How much % of discount for first Order</li>
            <li>Choose - How much % of discount for first Order if Home Delivery</li>
            <li>Choose - Free Product for Referring a friend</li>
            <li></li>
            <li>Choose Free Product at 400 Loyalty Points</li>
            <li>Choose Free Product at 800 Loyalty Points</li>
            <li>Choose Free Product at 1200 Loyalty Points</li>
        </ul>
    </div>
    <div class="col-md-8 pull-left">
        <h2>User Earning Triggers</h2>
        <ul>
            <li>When they first register, they get 50% off first order through App</li>
            <li>When they first register, they get 25% off home delivery order through App, minimum value £5</li>
            <li>When they first register, if they use "Add Promo code" option and add one of the friends code, both get 100 points</li>
        </ul>
    </div>
    </div>
</div>
 