@model Ganedata.Core.Entities.Domain.ProductGroups
@using Ganedata.Core.Entities.Helpers
@using Ganedata.Core.Models;
@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.UploadControl, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit },
        new Script { ExtensionType = ExtensionType.UploadControl }
        )
}

@{
    ViewBag.Title = "Update Product Group";
}
<script type="text/javascript">
    function onFileUploadComplete(s, e) {
        if (e.callbackData) {
            $("#dvfiles").show();
            var fileData = e.callbackData.split('|');
            var Fileobj = { FileName: fileData };
            var result = $("#uploaderTenantDept").tmpl(Fileobj);
            $("#dvfiles").append(result);
            $('.se-pre-con').hide();
            $("#FileLength").val('True');

        }


    }
    function onFileUploadStart(s, e) {
        if ($("#FileLength").val() == "True") {
            e.cancel = true;
            alert("Only one file allow to be select");
            return;

        }
    }
</script>

<h2><span>Update Product Group</span></h2>
<div>
    @Html.Hidden("productGroup", true)
    @Html.Hidden("hdPFiles", (List<string>)ViewBag.Files)
    <div class="col-md-6 pull-left">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ProductGroupId)
                @Html.HiddenFor(model => model.ProductGroupId,  htmlAttributes : new { @id = "Id" })
                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.ProductGroup, new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductGroup)
                        @Html.ValidationMessageFor(model => model.ProductGroup)
                    </div>
                </div>
                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.Label("Enter Department", htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Departments as SelectList, "Select Department", new { @class = "chosen-select" })
                    </div>
                </div>
                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.Label("Image File", new { @class = "col-md-4" })
                    @Html.Hidden("FileLength", (bool?)ViewBag.FileLength)
                    <div class="col-md-8">
                        @Html.Partial("_Uploader")
                        <br />
                        <div id="dvfiles" style="display:block;">

                            <strong>Uploaded Files</strong>
                            @if (ViewBag.Files != null)
                            {
                                foreach (var file in ViewBag.Files)
                                {
                                    <table>
                                        <tr>
                                            <td id="tdProductfileName">@file</td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td><a class="LRemove" onclick="_RemoveProofOfDeliveryFile('@file')">Remove</a></td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>

                                        </tr>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                </div>



                <div class="input-group h-100 justify-content-center align-items-center">
                    <div class="col-md-offset-2 col-md-10 bottom-right">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <div class="back-list">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })</div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script id="uploaderTenantDept" type="text/x-jquery-tmpl">
    <tr>
        <td id="tdfileName">${FileName}</td>
        <td><p>&nbsp;</p></td>
        <td><a class="LRemove" onclick="_RemoveProofOfDeliveryFile('${FileName}')">Remove</a></td>

    </tr>
</script>