@using System.Web.UI.WebControls
@model Ganedata.Core.Entities.Domain.ProductSpecialPriceViewModel
@{
    ViewBag.Title = "Special Price - " + (Model.PriceGroupDetailID > 0 ? "Edit" : "Create");
}
 
<div>
    <div class="col-7">
        <h2>@ViewBag.Title</h2>
        <form class="form-horizontal" action="/ProductSpecialPrice/SaveProductSpecialPrice" method="post" id="frmProductSpecialPrice">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.PriceGroupDetailID)

            <div class="form-group row">
                <div class="col-sm-7">
                    @Html.ValidationSummary()
                </div>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert-success col-sm-12">
                    @ViewBag.Message
                </div>
            }
            <div class="form-group">
                @Html.Label("Price Group", new {@class = "col-sm-2 control-label"}) 
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.PriceGroupID, new SelectList(ViewBag.PriceGroups, "PriceGroupID", "Name", Model.PriceGroupID), new { @class = "chosen-select" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Product", new {@class = "col-sm-2 control-label"}) 
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.ProductID, new SelectList(ViewBag.Products, "ProductID", "NameWithCode", Model.ProductID), new { @class = "chosen-select" })
                </div>
            </div>
         
            <div class="form-group">
                @Html.Label("Special Price", new {@class = "col-sm-2 control-label"})
                <div class="col-sm-6">
                    
                        @Html.DevExpress().SpinEdit(m =>
                        {
                            m.Name = "SpecialPrice";
                            m.ControlStyle.CssClass = "form-control";
                            m.Properties.MinValue = 1;
                            m.Properties.MaxValue = 999999;
                            m.Width = Unit.Pixel(120);
                            m.Properties.NullText = "Amount";
                        }).Bind(Model.SpecialPrice).GetHtml()
                    
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Start Date", new {@class = "col-sm-2 control-label"})
                <div class="col-sm-6">
                    @Html.DevExpress().DateEdit(m=> { m.Name = "StartDate"; m.Date = DateTime.Now; }).Bind(Model.StartDate).GetHtml()
                </div>
            </div>
            <div class="form-group">
                @Html.Label("End Date", new {@class = "col-sm-2 control-label"})
                <div class="col-sm-6">
                    @Html.DevExpress().DateEdit(m=> { m.Name = "EndDate"; m.Date = DateTime.Now; }).Bind(Model.EndDate).GetHtml()
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10 popup-bottom-right">
                <input type="button" class="btn btn-primary" id="saveBtn_Markets" onclick="SaveProductSpecialPrice()" value="Save"/>
                <input type="button" onclick="ModalEditProductSpecialPrice.Hide()" class="btn btn-warning" id="saveBtn_CancelMarkets" value="Cancel"/>
            </div>
        </form>
    </div>
</div>
