@model PagedList.IPagedList<Ganedata.Core.Entities.Domain.AuthUser>

<div class="row">
    <table class="table table-hover table-bordered" id="tbl-users">
        <thead>

            <tr>
                <th>
                    @Html.Label("Select")

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SoJobTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IsActive)
                </th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>

                        <input type="radio" name="UserId" class="selkey" value="@item.UserId">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoJobTypes.JobType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>

<div class="row  prow" data-wms-url="@Url.Action("SearchUser")">

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })

</div>