@*@model WMS.VModels.ReceivePOVM

@{
    ViewBag.Title = "Details";
}

<h2><span>Details</span></h2>

    <h4>PO</h4>
	<hr />

    <div class="row">


        <table class="table table-hover table-bordered tsort">


            <tr>
                <td>@Html.DisplayNameFor(model => model.PONumber)</td>
                <td>@Html.DisplayFor(model => model.PONumber)</td>

            </tr>
            
          <tr>
              <td>@Html.DisplayNameFor(model => model.POStatus.Status)</td>
              <td>@Html.DisplayFor(model => model.POStatus.Status)</td>
              
          </tr>
              
            <tr>
                <td>@Html.DisplayNameFor(model => model.Supplier.CompanyName)</td>
                <td>@Html.DisplayFor(model => model.Supplier.CompanyName)</td>

            </tr>

            <tr>

                <td>@Html.DisplayNameFor(model => model.IssueDate)</td>
                <td>@Html.DisplayFor(model => model.IssueDate)</td>

            </tr>  

            <tr>
                <td>@Html.DisplayNameFor(model => model.ExpectedDate)</td>
                <td>@Html.DisplayFor(model => model.ExpectedDate)</td>

            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Note)</td>
                <td>@Html.DisplayFor(model => model.Note)</td>
            </tr>          
        </table> 
                
</div>

<div class="row">

    <table class="table table-hover table-bordered tsort" id="tbl-pdetail">
        <thead>
            <tr>

                <th>

                    @Html.Label("GTIN")
                </th>
                <th>

                    @Html.Label("Warehouse Name")
                </th>
                <th>

                    @Html.Label("Expected Date")
                </th>
                <th>

                    @Html.Label("Cancel Date")
                </th>

                
                <th>

                    @Html.Label("Notes")
                </th>
                <th>

                    @Html.Label("Qty")
                </th>
                <th>

                    @Html.Label("Price")
                </th>
                
            </tr>
        </thead>
        <tbody>
            @if (Model.PODetails != null)
            {
                foreach (var item in Model.PODetails)
                {

                    if (item.IsDeleted != true) { 
                    
                    <tr>
                        <td style="display:none">
                            @item.PODetailID

                        </td>

                        <td>
                            @item.ProductMaster.SKUCode

                        </td>
                        <td>
                            @item.TenantWarehouse.WarehouseName
                        </td>
                        <td>
                            @item.ExpectedDate
                        </td>
                        <td>
                            @item.CancelDate

                        </td>

                        <td>
                            @item.Notes
                        </td>
                        <td>
                            @item.Qty
                        </td>
                        <td>
                            @item.Price
                        </td>
                       
                    </tr>
                    }
                }
            }
        </tbody>
    </table>


</div>





<p>
      @Html.ActionLink("Back to List", "Index")
</p>*@
