@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Pending Process List";
}

<h2>Pending Process List</h2>

<script type="text/javascript">
    //<![CDATA[
    function OnGridFocusedRowChanged(s, e) {

        var name = s.name;
        if (name.indexOf("_PendingListGridView") >= 0) {
            $('#selkeySalesOrderList').val(s.GetRowKey(s.GetFocusedRowIndex()));
            $('#selkeyWorksOrderListGridView').val(s.GetRowKey(s.GetFocusedRowIndex()));
            s.GetRowValues(s.GetFocusedRowIndex(), 'OrderTypeId', OnGetRowValues);
        }

        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));

    }

    function OnGetRowValues(values) {
        if (values == 2) {
            $('.socaction').show();
            $('.socactionw').hide();
        }

        else if (values == 8) {
            $('.socaction').hide();
            $('.socactionw').show();
        }
    }

</script>
@Html.Hidden("selkey", null, new { @class = "selkey" })
@Html.Hidden("selkeySalesOrderList", null)
@Html.Hidden("selkeyWorksOrderListGridView", null)
<div>
    @Html.Action("_PendingProcessList", "Order")
    <div class="col-md-offset-2 col-md-10 bottom-right">
        @Html.ActionLink("Process Order", "ProcessOrder", "WorksOrders", null, new { @class = "btn btn-primary socactionw Caction", @id = "lnkWorksOrderUpdate" })
        @Html.ActionLink("Process Order", "ProcessOrder", "SalesOrders", null, new { @class = "btn btn-primary socaction Caction", @id = "lnkSalesOrderUpdate" })
    </div>
</div>