@model WarehouseEcommerce.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Create Account";
    Layout = null;
}
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "loginForm", id = "userRegister" }))
{
    @Html.AntiForgeryToken()
    <h5 class="success-message-reg text-success"></h5>
    <h5 class="alert-message-reg text-danger"></h5>
    <br />
    <div class="form-group">
        @Html.EditorFor(model => model.FirstName, new { htmlattributes = new { @class = "form-control", @placeholder = "Enter First Name" } })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.FirstName)</span>
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.LastName, new { htmlattributes = new { @class = "form-control", @placeholder = "Enter Last Name" } })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.LastName)</span>
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Email, new { htmlattributes = new { @class = "form-control", @placeholder = "Enter Email" } })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter Password" })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
    </div>
}
