@{
    ViewBag.Title = "Complete Report";
    int StId = (int)ViewBag.CurrentStocktakeId;
}

<script type="text/javascript">

    function submitconfirmf() {
        if (confirm("Are you sure you want to apply the new stock values? This action is Irreversible and may effect Product Inventory")) {
            $('#loading').show();
            $(this).closest("form").submit();
        }
        else
        {
            setTimeout(function () {
                $("#stock-f-submit").prop("disabled", false);
            }, 100);
            return false;
        }
                
    }

</script>

<h2><span>Complete Report</span></h2>


<p>Complete Report for Following Stocktake.</p>

<p>
    <table width="760" border="1">
        <tr>
            <th scope="col">Stocktake Id</th>
            <th scope="col">Stocktake Reference</th>
            <th scope="col">Stocktake Description</th>
            <th scope="col">Start Date</th>
        </tr>

        <tr>
            <td>@ViewBag.CurrentStocktakeId</td>
            <td>@ViewBag.CurrentStocktakeRef</td>
            <td>@ViewBag.CurrentStocktakeDesc</td>
            <td>@ViewBag.CurrentStocktakeDate</td>
        </tr>
    </table>

</p>
<br />

<form method="post" action="~/StockTakes/FReport" onsubmit="return submitconfirmf()">
    <p>
        @Html.Raw(ViewBag.Items)
    </p>

    

@if (LayoutHelpers.GetStStatus(StId))
    {

    <div class="page-wrap-btn">
        <input type="submit" id="stock-f-submit" value="Apply stock changes" class="btn btn-default" />
    </div>
    
}

    <div class="clear">
        @Html.ActionLink("Back to List", "Index")
    </div>

</form>


<div id="loading">
    <div id="loading-image">
        <center>
            <p>
                Please Wait while processing, Don't close Window<br />
                This may take few Minutes
            </p>
            <img src="~/Content/images/loading.gif" alt="Loading..." />
        </center>
    </div>
</div>




