@using Ganedata.Core.Entities.Domain
@model List<Ganedata.Core.Entities.Domain.TenantDepartments>



<div class="hidden-md hidden-lg hidden-sm horizontal-menu">
    <div class="row">
        <div class="col-xs-7">
            <div id="logo-mobile" class="ui-logo">
                <a href="@Url.Action("Index","Home")">
                    <img src="/Areas/Shop/Content/app/img/logo.png" title="SmartShop Multistore" alt="SmartShop Multistore" class="img-responsive" />
                </a>
            </div>
        </div>
        <div class="col-xs-5 ">
            <div id="top-links-menu" class="text-right top-menu-links col-sm-12 col-lg-2">
                <ul class="list-inline">
                    <li class="dropdown user_menu">
                        @Html.Action("_UserMenuPartial")
                    </li>
                    <li id="cart-mobile" class="cart-menu">
                        @Html.Action("_CartMenuPartial")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="search-by-category" class="search-by-category">
        <div class="search-container">
            <div class="search-box input-group">
                <input type="text" name="search" value="" placeholder="Search" class="text-search" />
                <div id="sp-btn-search" class="input-group-btn">
                    <button type="button" id="btn-search-category" class="btn btn-search-category" onclick="SearchProductCategory();">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id='main-menu' class='main-menu headerMenu'>
    <nav class='navigation'>
        <span class='hamburger-menu'>
            Deparments
            <span class='burger-1'></span>
            <span class='burger-2'></span>
            <span class='burger-3'></span>
        </span>
        <ul class='core-menu'>

            @foreach (var item in Model)
            {
                <li>
                    <a class="department-a-tag" href="@Url.Action("ProductCategories", "Products", new { department = item.DepartmentName })">
                        @item.DepartmentName
                        @if (item.ProductGroups.Count > 0)
                        {
                            <span class='toggle'></span>
                        }
                    </a>
                    @{

                        var groupDepartment = item.ProductGroups.Where(u => u.IsDeleted != true).ToList();
                        <ul class='dropdown'>
                            @for (int i = 0; i < groupDepartment.Count; i += 3)
                            {
                                <div>
                                    @if (groupDepartment.ElementAtOrDefault(i) != null)
                                    {

                                        <li>
                                            <a href="@Url.Action("ProductCategories", "Products", new { productGroup = groupDepartment[i].ProductGroup })">
                                                @groupDepartment[i].ProductGroup
                                                @if (groupDepartment[i].ProductCategories.Count > 0)
                                                {
                                                    <span class='toggle2'></span>
                                                }
                                            </a>
                                            <ul class='dropdown2'>
                                                @foreach (var categories in @groupDepartment[i].ProductCategories)
                                                {
                                                    <li><a href="@Url.Action("ProductCategories", "Products", new { SubCategory = categories.ProductCategoryName })"> @categories.ProductCategoryName</a> </li>
                                                }
                                            </ul>
                                        </li>


                                    }
                                    @if (groupDepartment.ElementAtOrDefault(i + 1) != null)
                                    {

                                        <li>
                                            <a href="@Url.Action("ProductCategories", "Products", new { productGroup = groupDepartment[i + 1].ProductGroup })">
                                                @groupDepartment[i + 1].ProductGroup
                                                @if (groupDepartment[i + 1].ProductCategories.Count > 0)
                                                {
                                                    <span class='toggle2'></span>
                                                }
                                            </a>
                                            <ul class='dropdown2'>
                                                @foreach (var categories in @groupDepartment[i + 1].ProductCategories)
                                                {
                                                    <li><a href="@Url.Action("ProductCategories", "Products", new { SubCategory = categories.ProductCategoryName })">@categories.ProductCategoryName</a> </li>
                                                }
                                            </ul>
                                        </li>

                                    }
                                    @if (groupDepartment.ElementAtOrDefault(i + 2) != null)
                                    {

                                        <li>
                                            <a href="@Url.Action("ProductCategories", "Products", new { productGroup = groupDepartment[i + 2].ProductGroup })">
                                                @groupDepartment[i + 2].ProductGroup
                                                @if (groupDepartment[i + 2].ProductCategories.Count > 0)
                                                {
                                                    <span class='toggle2'></span>
                                                }
                                            </a>
                                            <ul class='dropdown2'>
                                                @foreach (var categories in @groupDepartment[i + 2].ProductCategories)
                                                {
                                                    <li><a href="@Url.Action("ProductCategories", "Products", new { SubCategory = categories.ProductCategoryName })"> @categories.ProductCategoryName</a> </li>
                                                }
                                            </ul>
                                        </li>

                                    }
                                </div>
                            }
                        </ul>
                    }


                </li>
            }

        </ul>
    </nav>
</div>


<script>
    $(document).ready(function () {
        //the trigger on hover when cursor directed to this class
        $(".core-menu li").hover(
            function () {
                //i used the parent ul to show submenu
                $(this).children('ul').slideDown('fast');
            },
            //when the cursor away
            function () {
                $('ul', this).slideUp('fast');
            });
        //this feature only show on 600px device width
        $(".hamburger-menu").click(function () {
            $(".burger-1, .burger-2, .burger-3").toggleClass("open");
            $(".core-menu").slideToggle("fast");
        });
    });
</script>