@using Ganedata.Core.Entities.Domain

<div class="headerMenu row">
    @*<div class="col-md-3 col-sm-4 stmenu"></div>*@
    <div id="menu1" class="col-md-9 col-sm-8 stme2 nav-menue">

        <div class="manun">
            <ul class="list-inline">
                @if (ViewBag.departments != null)
                {
                    var department = ViewBag.departments as List<TenantDepartments>;

                    foreach (var item in department)
                    {
                        <li class="li-mhp-menu">
                            <a class="nav-main-menu" href="@Url.Action("_GetProductByGroupsAndDepartment","Home",new {DepartmentId=item.DepartmentId})">@item.DepartmentName</a>
                            @{
                                if (ViewBag.productGroup != null)
                                {
                                    var groups = ViewBag.productGroup as List<ProductGroups>;
                                    var groupDepartment = groups.Where(u => u.DepartmentId == item.DepartmentId).ToList();
                                    if (groupDepartment.Count > 0)
                                    {
                                        <ul class="mhp-menu">
                                            @for (int i = 0; i < groupDepartment.Count; i += 3)
                                            {
                                                <div>
                                                    @if (groupDepartment.ElementAtOrDefault(i) != null)
                                                    {

                                                        <li><a href="@Url.Action("_GetProductByGroupsAndDepartment","Home",new {productgroupId=groupDepartment[i].ProductGroupId})">@groupDepartment[i].ProductGroup</a></li>


                                                    }
                                                    @if (groupDepartment.ElementAtOrDefault(i + 1) != null)
                                                    {

                                                        <li><a href="@Url.Action("_GetProductByGroupsAndDepartment","Home",new {productgroupId=groupDepartment[i+1].ProductGroupId})">@groupDepartment[i + 1].ProductGroup</a></li>


                                                    }
                                                    @if (groupDepartment.ElementAtOrDefault(i + 2) != null)
                                                    {

                                                        <li><a href="@Url.Action("_GetProductByGroupsAndDepartment","Home",new {productgroupId=groupDepartment[i+2].ProductGroupId})">@groupDepartment[i + 2].ProductGroup</a></li>

                                                    }
                                                </div>
                                            }
                                        </ul>
                                    }
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="hidden-md hidden-lg hidden-sm horizontal-menu">
    <div class="row">
        <div class="col-xs-7">
            <div class="navbar-header">
                <!-- <span id="category" class="visible-xs">All Categories</span> -->
                <button type="button" class="btn btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div id="logo-mobile" class="ui-logo">
                <a href="@Url.Action("Index","Home")">
                    <img src="/Areas/Shop/Content/app/img/logo.png" title="SmartShop Multistore" alt="SmartShop Multistore" class="img-responsive" />
                </a>
            </div>
        </div>
        <div class="col-xs-5 ">
            <div id="top-links-menu" class="text-right top-menu-links col-sm-2 col-lg-2">
                <ul class="list-inline">
                    <li class="dropdown user_menu">
                        <a href="#" title="@(ViewBag.UserName == " " ? "My Account" : ViewBag.UserName)" class="dropdown-toggle" data-toggle="dropdown">
                            <svg width="24px" height="24px">
                                <use xlink:href="/Areas/Shop/Content/app/img/icons/icons.svg#user"></use>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right user_account">
                            @if (@ViewBag.LoginDetail == "Login")
                            {
                                <li><a href="@Url.Action("Create","User")"><i class="fa fa-user-plus"></i>Register</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index","Home")"><i class="fa fa-user" style="margin: 0 7px !important;"></i>@ViewBag.UserName</a></li>
                            }

                            @if (@ViewBag.LoginDetail == "Login")
                            {
                                <li><a href="@Url.Action("login", "User")"><i class="fa fa-sign-in" style="margin: 0 6.5px !important;"></i>Login</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("logout", "User")"><i class="fa fa-sign-out"></i>Logout</a></li>
                            }
                            @*<li><a href="#" id="wishlist-total-mobile"><i class="fa fa-heart"></i>Wish List (0)</a></li>*@
                        </ul>
                    </li>
                    <li id="cart-mobile" class="cart-menu">
                        <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-lg dropdown-toggle">
                            <svg width="28px" height="26px">
                                <use xlink:href="/Areas/Shop/Content/app/img/icons/icons.svg#hcart"></use>
                            </svg>
                            <span id="cart-total-mobile">0</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <p class="text-center">Your Basket is empty!</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="search-by-category" class="search-by-category">
        <div class="search-container">

            <div class="search-box input-group">
                <input type="text" name="search" id="text-search-mobile" value="" placeholder="Search" class="text-search" />
                <div id="sp-btn-search" class="input-group-btn">
                    <button type="button" id="btn-search-category" class="btn btn-search-category">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div id="mobileMenu" class="sidenav">
        <div class="close-nav">
            <span class="categories">Category</span>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-close"></i></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                @if (ViewBag.departments != null)
                {
                    var department = ViewBag.departments as List<TenantDepartments>;
                    foreach (var item in department)
                    {
                        <li><a href="@Url.Action("_GetProductByGroupsAndDepartment", "Home", new { DepartmentId = item.DepartmentId })">@item.DepartmentName</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>