@using Ganedata.Core.Entities.Domain
@model WarehouseEcommerce.ViewModels.ProductDetailViewModel
<div class="left-widgets">
    <div class="tab-head">
        <h1>
            <span>
                Specials
                <i></i>
            </span>
        </h1>
    </div>
    <div id="special" class="owl-theme owl-carousel">
        @if (Model.productMasterList.Count > 0)
        {
            for (int i = 0; i < Model.productMasterList.Count; i += 3)
            {
                <div class="multi-row">
                    <!-- write code Here -->
                    @if (Model.productMasterList.ElementAtOrDefault(i) != null)
                    {
                        <div class="product-layout leftpro">
                            <div class="product-thumb1 transition">
                                <div class="col-xs-12 speciaol-col">
                                    <div class="image">
                                        <a href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i].SKUCode })">
                                            <img src="@(!string.IsNullOrEmpty(@Model.productMasterList[i].DefaultImage)? ViewBag.BaseFilePath + @Model.productMasterList[i].DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@Model.productMasterList[i].Name" title="@Model.productMasterList[i].Name" class="img-responsive center-block" />
                                        </a>
                                        <!-- Smartshop Images Start -->
                                        <a href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i].SKUCode })">
                                            <img src="@(!string.IsNullOrEmpty(@Model.productMasterList[i].HoverImage)? ViewBag.BaseFilePath + @Model.productMasterList[i].HoverImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" class="img-responsive second-img" alt="hover image" />
                                        </a>
                                        <!-- Smartshop Images End -->
                                    </div>
                                    <div class="caption">
                                        <h4>
                                            <a title="@Model.productMasterList[i].Name" href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i].SKUCode })">
                                                @Model.productMasterList[i].Name

                                            </a>
                                        </h4>
                                        <p class="price">
                                            @Model.CurrencySign @Model.productMasterList[i].SellPrice
                                        </p>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="button-group">
                                        @if (@Model.productMasterList[i].SellPrice > 0 && @Model.productMasterList[i].SellPrice.HasValue && @Model.productMasterList[i].PercentMargin > 0)
                                        {
                                            <button type="button" class="acart" onclick="AddToCart(@Model.productMasterList[i].ProductId)">
                                                <span>Add to Basket</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="acart disabled-btn" disabled>
                                                <span>Add to Basket</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- write code Here End -->
                    <!-- write code Here -->
                    @if (Model.productMasterList.ElementAtOrDefault(i + 1) != null)
                    {
                        <div class="product-layout leftpro">
                            <div class="product-thumb1 transition">
                                <div class="col-xs-12 speciaol-col">
                                    <div class="image">
                                        <a href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i+1].SKUCode })"><img src="@(!string.IsNullOrEmpty(Model.productMasterList[i+1].DefaultImage)? ViewBag.BaseFilePath + Model.productMasterList[i+1].DefaultImage : ViewBag.BaseFilePath +"/UploadedFiles/Products/no_image.gif")" alt="@Model.productMasterList[i+1].Name" title="@Model.productMasterList[i+1].Name" class="img-responsive center-block" /></a>
                                        <!-- Smartshop Images Start -->
                                        <a href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i+1].SKUCode })"><img src="@(!string.IsNullOrEmpty(Model.productMasterList[i+1].HoverImage)? ViewBag.BaseFilePath + Model.productMasterList[i+1].HoverImage : ViewBag.BaseFilePath +"/UploadedFiles/Products/no_image.gif")" class="img-responsive second-img" alt="hover image" /></a>
                                        <!-- Smartshop Images End -->
                                    </div>
                                    <div class="caption">
                                        <h4><a title="@Model.productMasterList[i + 1].Name" href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i+1].SKUCode })"> @Model.productMasterList[i + 1].Name</a></h4>
                                        <p class="price">
                                            @Model.CurrencySign @Model.productMasterList[i + 1].SellPrice
                                        </p>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="button-group">
                                        @if (@Model.productMasterList[i].SellPrice > 0 && @Model.productMasterList[i].SellPrice.HasValue && @Model.productMasterList[i].PercentMargin > 0)
                                        {
                                            <button type="button" class="acart" onclick="AddToCart(@Model.productMasterList[i].ProductId)">
                                                <span>Add to Basket</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="acart disabled-btn" disabled>
                                                <span>Add to Basket</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- write code Here End -->
                    <!-- write code Here -->
                    @if (Model.productMasterList.ElementAtOrDefault(i + 2) != null)
                    {
                        <div class="product-layout leftpro">
                            <div class="product-thumb1 transition">
                                <div class="col-xs-12 speciaol-col">
                                    <div class="image">
                                        <a href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i+2].SKUCode })"><img src="@(!string.IsNullOrEmpty(Model.productMasterList[i+1].DefaultImage)? ViewBag.BaseFilePath + Model.productMasterList[i+1].DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@Model.productMasterList[i + 2].Name" title="@Model.productMasterList[i + 2].Name" class="img-responsive center-block" /></a>
                                        <!-- Smartshop Images Start -->
                                        <a href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i+2].SKUCode })"><img src="@(!string.IsNullOrEmpty(Model.productMasterList[i+1].HoverImage)? ViewBag.BaseFilePath + Model.productMasterList[i+1].HoverImage : ViewBag.BaseFilePath +"/UploadedFiles/Products/no_image.gif")" class="img-responsive second-img" alt="hover image" /></a>
                                        <!-- Smartshop Images End -->
                                    </div>
                                    <div class="caption">
                                        <h4><a title="@Model.productMasterList[i + 2].Name" href="@Url.Action("ProductDetails","Products", new { sku= Model.productMasterList[i+2].SKUCode })">@Model.productMasterList[i + 2].Name</a></h4>
                                        <p class="price">
                                            @Model.CurrencySign@Model.productMasterList[i + 2].SellPrice
                                        </p>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="button-group">
                                        @if (@Model.productMasterList[i].SellPrice > 0 && @Model.productMasterList[i].SellPrice.HasValue && @Model.productMasterList[i].PercentMargin > 0)
                                        {
                                            <button type="button" class="acart" onclick="AddToCart(@Model.productMasterList[i].ProductId)">
                                                <span>Add to Basket</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="acart disabled-btn" disabled>
                                                <span>Add to Basket</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- write code Here End -->
                </div>
            }


        }
    </div>
</div>
