



<div id="top-header" class="sticky-header">
    <header class="custom-header-container">
        <div class="container custom-container">
            <div class="row header-row custom-max-width m-auto">
                <div class="head-logo">
                    <div id="logo" class="ui-logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="/Areas/Shop/Content/app/img/logo.png" title="SmartShop Multistore" alt="SmartShop Multistore" class="img-responsive" />
                        </a>
                    </div>
                </div>
                @*<div class="col-xs-6 iconxs"></div>*@
                @*<div class=" h-search">
                    <div id="search-by-category" class="search-by-category">*@
               
                
            <div class="head-without-logo">

                <div class="search-container search-by-category">
                    <div class="categories-container">
                        <div class="hover-cate">
                            @Html.DropDownList("ProductGroups", ViewBag.ProductGroups as SelectList, "All Categories", htmlAttributes: new { @class = "" })
                        </div>
                    </div>
                    <div class="search-box input-group">
                        <input type="text" name="search" id="text-search" value="" placeholder="Search" class="text-search" />
                        <div id="sp-btn-search" class="input-group-btn">
                            <button type="button" id="btn-search-category" class="btn btn-search-category" onclick="SearchProductCategory();">Search</button>
                        </div>
                    </div>
                </div>
                @*</div>
        </div>*@
                <div class=" contact-currency">
                    <div class="hcontact">
                        <a href="#">
                            <span class="hidden-xs">
                                <svg width="20px" height="19px">
                                    <use xlink:href="/Areas/Shop/Content/app/img/icons/icons.svg#call"></use>
                                </svg>
                                +44 (0) 333 323 0202
                            </span>
                        </a>
                    </div>
                    <div class="cur">
                        <form action="#" method="post" enctype="multipart/form-data" id="form-currency">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle test" data-toggle="dropdown">
                                    <span>@ViewBag.Symbol @ViewBag.CurrencyName</span>&nbsp;<i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu currency-dropdown">
                                    @if (ViewBag.Currencies != null)
                                    {
                                        foreach (var item in ViewBag.Currencies)
                                        {
                                            <li>
                                                <a href="javascript:;" class="currency-select btn btn-link btn-block" id="@item.CurrencyID" type="button" onclick="onCurrencyChange(event)">@item.Symbol @item.CurrencyName</a>
                                            </li>
                                        }
                                    }

                                </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="#" />
                        </form>
                    </div>
                </div>
                <div id="top-links" class=" menu-link account-cart">
                    <ul class="list-inline list-inline-flex">
                        <li id="user_menue" class="dropdown user_menu">
                            <a href="#" title="@(ViewBag.UserName == " " ? "My Account" : ViewBag.UserName)" class="dropdown-toggle" data-toggle="dropdown">

                                <svg width="24px" height="24px">
                                    <use xlink:href="/Areas/Shop/Content/app/img/icons/icons.svg#user"></use>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right user_account user-fa-icons">
                                @if (@ViewBag.LoginDetail == "Login")
                                {
                                    <li><a href="@Url.Action("Create","User")"><i class="fa fa-user-plus"></i>Register</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Account","User")"><i class="fa fa-user"></i>@ViewBag.UserName</a></li>
                                    <li><a href="@Url.Action("OrderHistory","User")"><i class="fa fa-cart-arrow-down"></i>Order History</a></li>
                                    <li><a href="@Url.Action("WishList","User")"><i class="fa fa-heart"></i>Wish List</a></li>
                                }

                                @if (@ViewBag.LoginDetail == "Login")
                                {
                                    <li><a href="@Url.Action("login", "User")"><i class="fa fa-sign-in"></i>Login</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("logout", "User")"><i class="fa fa-sign-out"></i>Logout</a></li>
                                }
                                @*<li><a href="#" id="wishlist-total"><i class="fa fa-heart"></i>Wish List (0)</a></li>*@
                            </ul>
                        </li>
                        <li id="cart" class="cart-menu">
                            <a href="" type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-lg dropdown-toggle">
                                <svg width="28px" height="26px">
                                    <use xlink:href="/Areas/Shop/Content/app/img/icons/icons.svg#hcart"></use>
                                </svg>
                                <span id="cart-total">@(ViewBag.CartItemCount == 0 ? 0 : ViewBag.CartItemCount)</span>
                            </a>
                            <ul id="cart-dropdown-menu" class="dropdown-menu  cart-menu-height" style="overflow:auto">
                                @if (ViewBag.CartItemCount != 0)
                                {
                                    <li>
                                        <table>
                                            <tbody>
                                                @foreach (var item in ViewBag.CartItems)
                                                {
                                                    <tr>

                                                        <td><a href="@Url.Action("AddToCart","Products")"><img src=@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage)? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif") alt="@(item?.ProductMaster?.Name)"></a></td>
                                                        <td>
                                                            <div class="ordered-items">
                                                                <p>
                                                                    <a href="@Url.Action("AddToCart","Products")">@(item.ProductMaster?.Name)<br /><span style="font-weight:bold;">Sku:</span>@(item.ProductMaster?.SKUCode)<br /><span style="font-weight:bold;">Qty:</span>@(item.Qty)</a>
                                                                </p>

                                                                @*<ul>
                                                            <li>
                                                                Sku: <span>@(item.ProductMaster?.SKUCode)</span>
                                                            </li>
                                                            <li>Size: <span>M</span></li>
                                                            <li>
                                                                Quantity: <span>@item.Qty</span>
                                                            </li>
                                                        </ul>*@
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        @* <a href="@Url.Action("AddToCart","Products")">Go to shopping cart</a>*@
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <p class="text-center">Your Basket is empty!</p>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>


            </div>
        </div>
    </header>
    @Html.Action("_HorizontalNavbarPartial", "Home")
</div>
<script src="~/Areas/Shop/Scripts/javascript-searchproduct.js"></script>
<script>
    $(document).ready(function () {

        $("#cart").hover(function () {
            $('#cart').addClass('open');
        });
        $("#cart").mouseleave(function () {
            $('#cart').removeClass('open');
        });
        $("#cart").click(function () {
            location.href = basePath + '/Shop/Products/AddToCart';
        });
        $("#user_menue").hover(function () {
            $('#user_menue').addClass('open');
        });
        $("#user_menue").mouseleave(function () {
            $('#user_menue').removeClass('open');
        });

    });

    </script>


