@using Ganedata.Core.Entities.Domain
@model IEnumerable<ProductMaster>



    <div id="cattab" class="owl-theme">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <div class="product-layout">
                <div class="product-thumb transition">
                    <div class="image">
                        <a href="@Url.Action("ProductDetails","Products", new {sku = item.SKUCode})"><img src="@(!string.IsNullOrEmpty(item.DefaultImage) ? ViewBag.BaseFilePath + item.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@item.Name" class="img-responsive center-block" /></a>
                        <div class="topbutton">
                            <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                <svg width="20px" height="20px">
                                    <use xlink:href="app/img/icons/icons.svg#wishlist"></use>
                                </svg>
                                <span class="hidden-xs"></span>
                            </button>
                            <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                <svg width="20px" height="20px">
                                    <use xlink:href="app/img/icons/icons.svg#pcom"></use>
                                </svg>
                                <span class="hidden-xs"></span>
                            </button>
                            <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                        </div>
                    </div>
                    <div class="cat-caption">
                        <h4><a title="@item.Name" href="@Url.Action("list","Products", new { group= item.ProductGroup.ProductGroup,department=item.TenantDepartment.DepartmentName })">@item.Name</a></h4>
                        <div class="rating pull-left">
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        </div>
                        @* <p class="pricedis price text-right"><span class="price-new"> $ 200</span> <span class="price-old">$344.00</span></p>*@
                    </div>
                    @*<div class="button-group">
                        <button type="button" class="acart" onclick="AddToCart()">
                            <span>Add to Cart</span>
                        </button>
                    </div>*@
                </div>
            </div>
        }
    }
    </div>

