<a href="#" title="@(ViewBag.UserName == " " ? "My Account" : ViewBag.UserName)" class="dropdown-toggle" data-toggle="dropdown">
    <svg width="24px" height="24px">
        <use xlink:href="/Areas/Shop/Content/app/img/icons/icons.svg#user"></use>
    </svg>
</a>
<ul class="dropdown-menu dropdown-menu-right user_account user-fa-icons">
    @if (@ViewBag.LoginDetail == "Login")
    {
        <li><a href="@Url.Action("Create","User")"><i class="fa fa-user-plus"></i>Register</a></li>
    }
    else
    {
        <li><a href="@Url.Action("Account","User")"><i class="fa fa-user"></i>@ViewBag.UserName</a></li>
        <li><a href="@Url.Action("OrderHistory","User")"><i class="fa fa-cart-arrow-down"></i>Order History</a></li>
        <li><a href="@Url.Action("WishList","User")"><i class="fa fa-heart"></i>Wish List</a></li>
    }

    @if (@ViewBag.LoginDetail == "Login")
    {
        <li><a href="@Url.Action("login", "User")"><i class="fa fa-sign-in"></i>Login</a></li>
    }
    else
    {
        <li><a href="@Url.Action("logout", "User")"><i class="fa fa-sign-out"></i>Logout</a></li>
    }
</ul>
