@model WarehouseEcommerce.Models.ContactUsViewModel

@{
    ViewBag.Title = "Contact Us";
}

<section class="nb_sec nb_prdlisting_pgsec">
    <div class="container">

        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="icon-home"></i></a>
                        </li>

                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">ContactUs</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="nb_sec contact_form_sec">
            <div class="nb_header_style1">
                <h3>Contact Us</h3>
            </div>
            <p class="subHead_content">If you have an enquiry, suggestion, complaint or just want to tell us what you think, please use the contact form below.</p>
            <div class="contact_pg_wrap">
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "nb_contact_form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    if (Session["success"] != null)
                    {
                        <div class="alert custom-alert-success alert-dismissible" role="alert">
                            <strong>Many thanks. Your message has been received – we will be in contact with you shortly.</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        Session["success"] = null;
                    }
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "YOUR NAME" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error-text" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="email">Email *</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "YOUR EMAIL" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error-text" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "MESSAGE" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "error-text" })
                            </div>
                        </div>
                        @*<div class="col-md-12 col-lg-12">
                            <div class="form-group captcha_formGroup">
                                <span class="captchaimg">
                                    <img src="images/captchaimg.jpg" alt="">
                                </span>
                                <div class="tib_wrap">
                                    <label for="captchaText">Text in the box</label>
                                    <input type="text" class="form-control" id="captchaText" />
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <input type="submit" value="Submit" class="submitBtn">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group callus_frmgrp">
                                <p>You can call us on:<span>@Model.WebsiteContactPhone</span></p>
                                <a href="tel:@Model.WebsiteContactPhone" class="submitBtn">Call us</a>
                            </div>
                        </div>

                    </div>
                }
            </div>
            </div>

        </div>
</section>

