@model Ganedata.Core.Entities.Domain.WebsiteContentPages
@{
    ViewBag.Title = Model.Title;

}
@if (Model != null)
{
    if (ViewBag.BlogDetail == null)
    {
        <div class="about bg-white">
            <div class="container card-container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 bg-white my-account login">
                        <div class="about-cnt">
                            <div class="content-wrapper select">
                                <h2 class="text-uppercase mb-15">@Model.Title</h2>
                                <div id="updateCart">
                                    <p>@Html.Raw(Model.Content)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        if (Model != null)
        {
            <section class="nb_sec nb_prdlisting_pgsec">
                <div class="container">
                    <div class="nb_sec blogdetWrapsec">
                        <div class="row">
                            <div class="col-lg-7 col-xl-8 blogdetWrap">
                                <span class="blgImgMain">
                                    <img src="@(!string.IsNullOrEmpty(Model.Image)? ViewBag.BaseFilePath + Model.Image : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@Model.ImageAltTag" />
                                </span>
                                <div class="headsec">
                                    <h2 class="blgHeadmain">
                                        @Model.Title
                                    </h2>
                                    <div class="blogTimesec">
                                        <span class="ico icon-calander"></span>
                                        <span class="date">@Model.DateCreated.ToString("MMMM dd, yyyy")</span>
                                    </div>
                                </div>

                                <div class="contentSec">
                                    @Html.Raw(Model.Content)
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (ViewBag.BlogList != null)
                                {
                                     var blogList = ViewBag.BlogList as List<Ganedata.Core.Entities.Domain.WebsiteContentPages>; 

                                    <div class="youmayalLikesec">
                                        <h3 class="head">You may also like</h3>
                                        <ul class="ymalList">
                                            @foreach (var item in blogList)
                                            {

                                                <li>
                                                    <div class="ymalBox">
                                                        <span class="imgwrap">
                                                            <img src="@(!string.IsNullOrEmpty(item.Image)? ViewBag.BaseFilePath + item.Image : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@item.ImageAltTag" />
                                                        </span>
                                                        <div class="contwrap">
                                                            <h3 class="ymalListHead">@item.Title</h3>
                                                            <p class="content">
                                                              @item.ShortDescription
                                                            </p>
                                                            <span class="date">@item.DateCreated.ToString("MMMM dd, yyyy")</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                             
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }




    }
}

