@model WarehouseEcommerce.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Create Account";
}
<div class="row login-row">
    <div class="col-md-6 signup-col">
        <div class="row">
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "formNewLestter", id = "formNewLestter" }))
            {
                @Html.HiddenFor(model => model.PlaceOrder, (bool?)ViewBag.Placeorder)
                <div class="col-md-6  float-left">
                    <div class="webi-newsletter  webi-newsletter leftprobg text-center" id="newsletter_5b2631bae1cb9" data-mode="default">
                        @Html.AntiForgeryToken()
                        <div class="remove-inner">
                            <h3>USER DETAIL</h3>
                            <hr>
                            <div class="form-group">
                                @Html.EditorFor(model => model.FirstName, new { htmlattributes = new { @class = "form-control input-md inputNew", @placeholder = "Enter First Name" } })
                                @Html.ValidationMessageFor(model => model.FirstName)
                                @Html.EditorFor(model => model.LastName, new { htmlattributes = new { @class = "form-control input-md inputNew", @placeholder = "Enter Last Name" } })
                                @Html.ValidationMessageFor(model => model.LastName)

                                @Html.EditorFor(model => model.ContactNumber, new { htmlattributes = new { @class = "form-control input-md inputNew", @type = "number", @placeholder = "Enter Contact Number" } })
                                @Html.ValidationMessageFor(model => model.ContactNumber)
                                @Html.EditorFor(model => model.Email, new { htmlattributes = new { @class = "form-control input-md inputNew", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.Email)

                                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-md inputNew", @placeholder = "Enter Password" })
                                @Html.ValidationMessageFor(model => model.Password)
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-md inputNew", @placeholder = " Re Enter Password" })
                                @Html.ValidationMessageFor(model => model.Password)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 signup-single-side float-left">
                    <div class="webi-newsletter  webi-newsletter leftprobg text-center" id="newsletter_5b2631bae1cb9" data-mode="default">
                        <div class="remove-inner">
                            <h3>COMPANY DETAIL</h3>
                            <hr>
                            <div class="form-group">

                                @Html.EditorFor(model => model.CompanyName, new { htmlattributes = new { @class = "form-control input-md inputNew", @placeholder = "Enter Company" } })
                                @Html.ValidationMessageFor(model => model.ContactNumber)
                                @Html.EditorFor(model => model.VATNumber, new { htmlattributes = new { @class = "form-control input-md inputNew", @placeholder = "Enter Vat Number" } })
                                @Html.ValidationMessageFor(model => model.ContactNumber)
                                @Html.EditorFor(model => model.RegNumber, new { htmlattributes = new { @class = "form-control input-md inputNew", @placeholder = "Enter Company Reg No." } })
                                @Html.ValidationMessageFor(model => model.ContactNumber)

                            </div>

                            <div data-v-5f85c551="" class="privacy-policy">
                                <div class="checkbox-div-signup">
                                    <input type="checkbox" class="rectangle ">
                                    <p class="">I agree to <a href="/privacy-policy">terms & conditions,</a> and <a href="/privacy-policy">privacy policy.</a></p>
                                </div>
                            </div>
                            <div class="button-submit">
                                <button type="submit" name="submitNewsletter" class="btn btn-block btn-primary signup-button">Create an account</button>
                            </div>
                            <div class="signup-text-div mt-30">
                                <p class="signup-text">Have an account ?</p>
                                <a href="/User/Login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>