@model Ganedata.Core.Entities.Domain.AuthUser

<div class="row login-row">
    <div class="col-md-6 login-col">
        <div class="row">
            <div class="col-md-12">
                <div class="webi-newsletter  webi-newsletter leftprobg text-center" id="newsletter_5b2631bae1cb9" data-mode="default">
                    <div class="inner">
                        <div class="login-google">
                            <div class="signup-text-div">
                                <p class="signup-text">Don’t have an account yet ?</p>
                                <a href="/User/Create">Sign Up</a>
                            </div>
                            <div class="seperator position-relative">
                                <span class="d-inline-block">OR</span>
                            </div>
                        </div>
                        @using (Html.BeginForm("LoginUser", "User", FormMethod.Post, new { @class = "", id = "" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.Hidden("PlaceOrder", (bool?)ViewBag.PlaceOrders)
                            <div class="form-group">
                                @*<input type="email" class="form-control input-md inputNew" size="18" placeholder="Enter your email">*@
                                <input id="UserName" type="text" value="" name="UserName" required autocomplete="off" class="form-control input-md inputNew" size="18" placeholder="Enter UserName">
                                @Html.ValidationMessageFor(model => model.UserName)
                                @Html.PasswordFor(model => model.UserPassword, new { required = "required", @class = "form-control input-md inputNew", @size = "18", @placeholder = "Enter your password" })
                                @Html.ValidationMessageFor(model => model.UserPassword)
                                @*<input type="password" class="form-control input-md inputNew" size="18" placeholder="Enter your password">*@
                            </div>
                            <div data-v-5f85c551="" class="remember-forget">
                                @*<div class="checkbox-div">
                                    <input type="checkbox" class="rectangle ">
                                    <p class="remember-me">Remember me</p>
                                </div>*@
                                <a class="forget-password" role="button">Forgot Password ?</a>
                            </div>
                            <div class="button-submit">
                                <button type="submit" name="submitNewsletter" class="btn btn-block btn-primary login-button">Login</button>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>