@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.WebDocumentViewer }
        )
}

@{
    Layout = "~/Views/Theme/Default/Shared/_Layout-no-header-left.cshtml";
    ViewBag.Title = "Sales Order Print";
}
<style type="text/css">
    .Email {
        background-image: url(../../Content/images/Email.png);
        background-repeat: no-repeat;
    }
</style>
<script>
    function SendEmail(s, e) {
        var orderID = $("#OrderIds").val();
        if (orderID !== null) {
            CustomEmailReports(0, 0, 0, orderID);
        }
    }
</script>

<h2><span>@ViewBag.Title</span></h2>
@Html.Hidden("OrderIds", (int)ViewBag.OrderId)
@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "SalesOrderPrintDocumentViewer";

        settings.MenuItems.Add(new DevExpress.XtraReports.Web.WebDocumentViewer.WebDocumentViewerMenuItem
        {
            Text = "Send Email",
            ImageClassName = "Email",
            JSClickAction = "SendEmail"
        });

}).Bind(Model).GetHtml()