<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/owl.carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/meanmenu.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link href="~/Content/cookies_eu.css" rel="stylesheet" />
    <style>
        .video-banner {
            position: relative;
            background-color: black;
            height: auto;
            min-height: 25rem;
            width: 100%;
            overflow: hidden;
            padding: 40px 0px 100px;
        }

            .video-banner video {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: 0;
                -ms-transform: translateX(-50%) translateY(-50%);
                -moz-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }

            .video-banner .container {
                position: relative;
                z-index: 2;
            }

            .video-banner .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: black;
                opacity: 0.2;
                z-index: 1;
            }

        .background-banner {
            background-color: rgba(0,0,0,0.5) !important;
            padding: 35px;
        }
    </style>
</head>
<body>

    @Html.Raw(EUCookies.Consent.Instance.Install(linkUrl: "privacy-policy",
                messageText: "We use cookies to improve user experience and analyze website traffic. By clicking “Accept” you accept our privacy policy and consent to store cookies as described in Privacy and Cookie Policy.",
                okText: "Accept",
                learnMoreText: "Privacy and Cookie Policy"))

    @Html.Partial("_HeaderPartial")

    @RenderBody()

    @Html.Partial("_FooterPartial")
    <!-- all js here -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <script src="~/Scripts/jquery.mixitup.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/animate.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        var top_offset = $(window).scrollTop();

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else if (top_offset <= 207) {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/cookies_eu.js"></script>


    <script>
        $(document).ready(function () {

            function closeDropdown() {
                $('li.top-level-list-item.dropdown-open').removeClass('dropdown-open');

                $(document).unbind('click', closeDropdown); // Make sure we clean up the bind though
            }

            $('a.top-level-link').click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                var $menu = $(this).parent(),
                    is_open = $menu.hasClass('dropdown-open');

                closeDropdown();

                if (!is_open) {
                    $menu.addClass('dropdown-open');
                    $open_menu_item = $menu;
                    $(document).bind('click', closeDropdown); // This basically binds to every other element on the page.
                }
            });

            // Prevent closeDropdown from firing inside our dropdowns
            $('.dropdown-menu').on('click', function (e) { e.stopPropagation(); });
        });


        //Chat Script
        var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
            { widgetcode: "082929f0048de095abde931cb153e076df2700d430dbecb2d6ce1ea29d3bd2f88cb9ddbeff8957905285212e1a49dd9e", values: {}, ready: function () { } };
        var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
        s.src = "https://salesiq.zoho.eu/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
    </script>

</body>
</html>