@model Ganedata.Core.Entities.Domain.WebsiteLayoutSettings
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
         new StyleSheet { ExtensionType = ExtensionType.UploadControl, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
          new Script { ExtensionType = ExtensionType.UploadControl }
        )
}

@{
    ViewBag.Title = "Newsletter Subscription Settings";
}
<script type="text/javascript">
    function onFileUploadComplete(s, e) {
        if (e.callbackData) {
            $("#dvfiles").show();
            var fileData = e.callbackData.split('|');
            var Fileobj = { FileName: fileData };
            var result = $("#uploaderTenantDept").tmpl(Fileobj);
            $("#dvfiles").append(result);
            $('.se-pre-con').hide();
            $("#FileLength").val('True');

        }


    }
    function onFileUploadStart(s, e) {
        if ($("#FileLength").val() == 'True') {
            e.cancel = true;
            alert("Only one file allow to be select");
            return;
        }
    }
</script>
<h2><span>@ViewBag.Title (@ViewBag.SiteName)</span></h2>
@Html.Hidden("tenantWebsite", true)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SiteId)
    @Html.HiddenFor(model => model.Id)
    @Html.Hidden("hdPFiles", (List<string>)ViewBag.Files)

    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6 p-0 pull-left mb-2">
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.SubscriptionPanelTitle, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SubscriptionPanelTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubscriptionPanelTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.SubscriptionPanelDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.SubscriptionPanelDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubscriptionPanelDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.SubscriptionHandlerUrl, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SubscriptionHandlerUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubscriptionHandlerUrl, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0 pull-left mb-2">
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.ShowSubscriptionPanel, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ShowSubscriptionPanel)
                        @Html.ValidationMessageFor(model => model.ShowSubscriptionPanel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.SubscriptionPanelImageUrl, new { @class = "col-md-4" })
                <div class="col-md-8">
                    @Html.Partial("_Uploader")
                    @Html.Hidden("FileLength", (bool?)ViewBag.FileLength)
                    <br />
                    <div id="dvfiles">
                        <strong>Uploaded Files</strong>
                        @foreach (var file in ViewBag.Files)
                        {

                            <table>
                                <tr>
                                    <td id="tdProductfileName">@file</td>
                                    <td>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td><a class="LRemove" onclick="_RemoveLogoFile('@file')">Remove</a></td>
                                    <td>
                                        <p>&nbsp;</p>
                                    </td>

                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group h-100 justify-content-center align-items-center">
            <div class="col-md-offset-2 col-md-10 bottom-right">
                <input type="submit" value="Save" class="btn btn-primary" />
                <div class="back-list">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })</div>
            </div>
        </div>
    </div>
}
<script id="uploaderTenantDept" type="text/x-jquery-tmpl">
    <tr>
        <td id="tdfileName">${FileName}</td>
        <td><p>&nbsp;</p></td>
        <td><a class="LRemove" onclick="_RemoveLogoFile('${FileName}')">Remove</a></td>

    </tr>
</script>

