@using Ganedata.Core.Entities.Helpers
@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Pallet Tracking List";
}

<h2><span>@ViewBag.Title</span></h2>

<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
        s.GetRowValues(s.GetFocusedRowIndex(), 'ProductId', OnGetRowValues);
        

    }
    
    function OnGetRowValues(values) {
        $("#productValues").val(values);
    }

</script>

<div class="col-md-12 p-0 View">
    @Html.Hidden("productValues")
    @Html.Action("_PalletTrackingList")
    <div class="bottom-right">
        <a href="javascript:void(0)" class="btn btn-primary" onclick="showPrintProductLabelPopup($('#productValues').val(), 0)">Print Duplicate Label</a>
        <a href="@Url.Action("Create","PalletTracking")" class="btn btn-primary">Create</a>

    </div>
</div>