@using Ganedata.Core.Entities.Helpers

@{
    ViewBag.Title = "Pallet Stock Summary";
}
<style>
    #_PalletTrackingDataListGridView_DXFooterRow {
        background-color: red !important;
        font-weight: bolder;
        color: whitesmoke;
    }

    #_PalletTrackingDataListGridView_DXGroupRowExp0 {
        background-color: red !important;
        font-weight: bolder;
        color: whitesmoke;
    }
</style>

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.ComboBox, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(

        new Script { ExtensionType = ExtensionType.ComboBox },
        new Script { ExtensionType = ExtensionType.GridView }
        )
}
@{
    ViewBag.Title = "Pallet Stock Summary";
}
<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }
</script>

<h2><span>Pallet Stock Summary</span></h2>
<div class="col-md-12">

    @Html.Hidden("palletSummary", true)
    <div class="col-md-12">
       
        <div class="input-group h-100 justify-content-center align-items-center">
            <label class="col-md-4 text-danger">
                Search by SKU Number, Barcode or Product Name

            </label>
            <div class="col-md-6">
                @Html.Partial("ProductLargeDataComboBoxPartial")
            </div>

        </div>


    </div>
    <div class="pallet-refresh" style="display: none;">
        @Html.Action("_PalletTrackingListDetail", new { pId = 0 })
    </div>


</div>
