@model PagedList.IPagedList<Ganedata.Core.Entities.Domain.Terminals>

<div class="row">
    <table class="table table-hover table-bordered tsort">
        <tr>
            <th>
                @Html.Label("Select")

            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().TenantWarehous.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TerminalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TermainlSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsActive)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <input type="radio" name="ProductId" class="selkey" value="@item.TerminalId">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantWarehous.WarehouseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermainlSerial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }

    </table>
</div>
