@{
    ViewBag.Title = "Home Page";
}
    <div id="common-home" class="container-fluid custom-max-width">
        <div class="row">
            <div id="content" class="col-md-12">
                @Html.Partial("_DeliveryInfoPartial")
                @Html.Partial("_SliderPartial")
                @Html.Action("_TopProductPartial")
                @Html.Action("_TopProductBannerPartial")
                @Html.Action("_OnSalePartial")
                @Html.Action("_SpecialProductPartial")
                @Html.Action("_TopCategoryPartial")
            </div>
        </div>
    </div>

