@model Ganedata.Core.Entities.Domain.ProductAttributeValues
<hgroup>
    <h2><span>@(Model == null || Model.AttributeId == 0 ? "Assign New " : "Edit ") Attribute Value</span></h2>
    <h3><span>@Html.ValidationSummary("", new { @id = "vldAttributeValue" })</span></h3>
</hgroup>
@using (Html.BeginForm("SaveProductAttributeValueMap", "Products", FormMethod.Post, new { @id = "frmattribute" }))
{

    <div class="col-md-12 pull-left">
        @if (Model == null || Model.AttributeId == 0)
        {
            <div class="input-group h-100 justify-content-center align-items-center">
                <label class="col-md-4">Product Attribute</label>
                <div class="col-md-8">
                    <div class="col-11 p-0 mt-1 pull-left">
                        @Html.DropDownListFor(m => m.AttributeId, new SelectList(ViewBag.Attributes, "AttributeId", "AttributeName"), new { id = "drpattribute", @class = "chosen-select", onchange = "AttributeChange()" })
                    </div>
                    <div class="col-1 p-0 pull-left">
                        <input type="button" onclick="javascript: pcModalAttributes.Show();" id="ProdAttributeAdd" class="btn btn-primary" value="+">
                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(m => m.AttributeId)
            @Html.Hidden("productAttributeValueMapId", (ViewBag.ProductAttributeValuesMapId as int?) ?? 0)
        }
        <div class="input-group h-100 justify-content-center align-items-center">
            <label class="col-md-4">Attribute Value<span style="color:red"> *</span></label>
            <div class="col-md-8">
                <div class="col-11 p-0 mt-1 pull-left">

                    @Html.DropDownListFor(m => m.AttributeValueId, new SelectList(ViewBag.AttributeValues, "AttributeValueId", "Value"), new { @class = "chosen-select drpAttrValue" })
                    @Html.ValidationMessageFor(model => model.AttributeValueId)
                </div>
                <div class="col-1 p-0 pull-left">
                    <input type="button" onclick="javascript: pcModalAttributeValues.Show();" id="ProdAttributeValueAdd" class="btn btn-primary" value="+">
                </div>
            </div>
        </div>
    </div>

    if (!Request.Url.AbsolutePath.ToLower().Contains("saveproductattributevaluemap"))
    {
        <div class="col-md-offset-2 col-md-10 bottom-right-popup">
            <input type="button" onclick="attributeValueSave()" value="Save" class="btn btn-primary" />
            <input type="button" onclick="cancelattributevalueadd()" value="Cancel" class="btn btn-default" />
        </div>
    }
    else
    {
        <div class="col-md-offset-2 col-md-10 bottom-right-popup">
            <input type="submit" value="Save" class="btn btn-primary" />
            <div class="btn btn-default"> @Html.ActionLink("Cancel", "Edit", null, null, null, "product-attributes", new { @id = Session["pId"] }, null)</div>
        </div>
    }
}