@model Ganedata.Core.Entities.Domain.RecipeProductItemRequest
@using Ganedata.Core.Entities.Enums
<hgroup>
    <h2><span>@((ViewBag.kitType==null || ViewBag.kitType==1)?"Product Kits":"Product Recipes")</span></h2>
    <h3><span>@Html.ValidationSummary("", new { @id = "vldPrProductKit" })</span></h3>
</hgroup>
@using (Html.BeginForm("AddProductKitItemsWithQuantity", "Products", FormMethod.Post, new { @id = "frmproductKit" }))
{
    @Html.HiddenFor(m => m.ProductId)
    <div class="col-md-12 pull-left">
        <div class="input-group h-100 justify-content-center align-items-center">
            <label class="col-md-4">Product</label>
            <div class="col-md-8">

                @Html.Partial("~/Views/Shared/ProductLargeDataComboBoxPartial.cshtml")

            </div>
        </div>
        <div class="input-group h-100 justify-content-center align-items-center">
            <label class="col-md-4">Quantity<span style="color:red"> *</span></label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>
    </div>


    <div class="col-md-offset-2 col-md-10 bottom-right-popup">
        @if (ViewBag.kitType == null)
        {
            <input type="button" onclick="AddKitProduct()" value="Save" class="btn btn-primary" />
        }
        else
        {
            <input type="button" onclick="AddKitProduct(@ViewBag.kitType,@(ViewBag.kitType == null ? false : true))" value="Save" class="btn btn-primary" />
        }
        <input type="button" onclick="pcModalKitProduct.Hide()" value="Cancel" class="btn btn-default" />
    </div>
   
   
}
