@model IEnumerable<Ganedata.Core.Entities.Domain.OrderSchedule>
@using Ganedata.Core.Entities.Helpers

@{
    /**/

    ViewBag.Title = "Order Scheduler";
}

@section scripts {

    @Html.DevExpress().GetStyleSheets(
                new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme },
                new StyleSheet { ExtensionType = ExtensionType.Scheduler, Theme = GaneStaticAppExtensions.DevexTheme },
                new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
                )

    @Html.DevExpress().GetScripts(
                new Script { ExtensionType = ExtensionType.GridView },
                new Script { ExtensionType = ExtensionType.Scheduler },
                new Script { ExtensionType = ExtensionType.DateEdit }
                )
}
<script>
    function AjaxCall() {
        // get scroll values of divs and store in cookies
        $.cookie('JobsByTradeScrolly', $("#JobsByTrade").scrollTop(), { path: '/' });
        $.cookie('JobsByPriorityScrolly', $("#JobsByPriority").scrollTop(), { path: '/' });
        //set last refresh time in Cookie
        $.cookie('JobsRefreshTime', new Date(), { path: '/' });


        $.ajax({
            url: '@Url.Action("_OrdersToSchedule")',
            type: 'GET',
            cache: false
        }).done(function (result) {
            $('#DynamicRefresh').html("");
            $('#DynamicRefresh').html(result);
            $("#JobTabs").tabs({ active: $.cookie('ActiveJobTabsId') });
            $("#JobTabs").on("tabsactivate", function (event, ui) { $.cookie('ActiveJobTabsId', ui.newTab.index(), { path: '/' }); });
            // preserve scroll position
            $("#JobsByTrade").scrollTop($.cookie('JobsByTradeScrolly'));
            $("#JobsByPriority").scrollTop($.cookie('JobsByPriorityScrolly'));
            $(".draggable").draggable({ helper: 'clone', appendTo: 'body', zIndex: 100, cursor: "pointer" });
        });

        // reset Mouse Refresh flag
        mouseRefresh = 0;
    }

    function OnAppointmentDeleting(s, e) {
        //setTimeout(function () { AjaxCall(); }, 1000);
    }

    function OnAppointmentEndCallBack(s, e) {
        AjaxCall();
    }

    function OnAppointmentEventsClick(s, e) {

    }

    function SelectedValueChanged() {
        Scheduler.Refresh();
    }

    function OnBeginCallback(s, e) {

    }

</script>

<style>
    .dxscApt .dxsc-apt-bg {
        opacity: .6;
    } 
</style>

<h2><span>Order Scheduler</span></h2>
<div class="col-md-12 p-0 legend-pane">
    <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:#fbfb91;vertical-align:middle"></label> Placed Sales Order</p>
    <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:#fedd78;vertical-align:middle"></label>  Picked Sales Order </p>
    <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:#E0E0E0;vertical-align:middle"></label>  Dispatched Sales Order </p>
    <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:#b0f797;vertical-align:middle"></label>  Purchase Order </p>
    <div class="clearfix"></div>
</div>
<div id="tabs" style="visibility: hidden">
    <ul>
        <li><a href="#Scheduler">Scheduler</a></li>
    </ul>
    <div id="Scheduler">
        <div id="DynamicRefresh" class="col-md-4 pull-left">
            @Html.Action("_OrdersToSchedule")
        </div>
        <div class="col-md-8 p-0 pull-left">
            <div class="droppable col-md-12 p-0">
                @Html.Action("SchedulerPartial")
            </div>
        </div>
    </div>
</div>
