@model WMS.Models.PODetail

@{
    ViewBag.Title = "Create";
}

<h2><span>Purchase OrderDetail</span></h2>


<div class="row">
    <ul class="nav nav-tabs">

        <li id="t1" >@Html.ActionLink("PO", "Index", "PO")</li>
        <li id="t2" class="active"><a href="#">Product Details</a></li>
        <li id="t3">@Html.ActionLink("Manage", "Manage", "PO", new { id = ViewBag.POID },null)</li>
       
    </ul>

    <br />
</div>


<div class="content">


    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("POID")

        @Html.HiddenFor(model => model.PODetailID)
        <h4></h4>
        <hr />
        <div class="leftcol">

            <table class="table tdclear">
                <caption>
                    @Html.ValidationSummary(true)
                </caption>





                <tr>
                    <td>
                        @Html.LabelFor(model => model.WarehouseId, "Ship To", new { @class = "control-label col-md-6" })
                    </td>
                    <td>


                        @Html.DropDownList("WarehouseId")
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.WarehouseId)
                    </td>
                </tr>


                <tr>
                    <td>&nbsp;</td>
                    <td> <a href="#" id="findproduct">Find Product </a> </td>
                    <td>&nbsp;</td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.ProductId, "Product", new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.DropDownList("ProductId", String.Empty)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.ProductId)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("Supplier Code", new { @class = "control-label col-md-6" })
                    </td>
                    <td>
                        @Html.TextBox("SupplierCode")
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Qty, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Qty)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Qty)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("UOM", new { @class = "control-label col-md-2" })
                    </td>
                    <td>

                        <input type="text" name="UOM" id="UOM" disabled />
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <a href="#" id="btnphistory">Price History</a>
                        @Html.EditorFor(model => model.Price)

                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Price)
                    </td>
                </tr>


            </table>
        </div><!--left-->
        <div class="rightcol">
            <table class="table tdclear">

                <tr>
                    <td>
                        @Html.LabelFor(model => model.ExpectedDate, new { @class = "control-label col-md-8" })
                    </td>
                    <td>
                        @*@Html.EditorFor(model => model.ExpectedDate)*@
                        @Html.TextBoxFor(m => m.ExpectedDate)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.ExpectedDate)
                    </td>
                </tr>

                @*<tr>
                        <td>
                            @Html.LabelFor(model => model.CancelDate, new { @class = "control-label col-md-8" })
                        </td>
                        <td>

                            @Html.TextBoxFor(m => m.CancelDate)

                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.CancelDate)
                        </td>
                    </tr>*@

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Notes)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Notes)
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Add" id="submit" class="btn btn-default btncreate" style="width:55px;" />
                        <input type="submit" value="Update" id="submit-update" class="btn btn-primary btncreate" style="width:55px; display:none" />
                       
                        @*@Html.ActionLink("Reset", "Create", new { id = ViewBag.POID }, new { @class = "btn btn-primary" })*@
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary" id="sub-reset">Reset</a>

                      

                    </td>

                </tr>

            </table>
        </div> <!--End of rightcol-->


        <div class="clear"></div>



    }

    <div id="divPhistory" class="mdl2">
        <p class="fixed-bottom"><a href="#" id="selectprice">&nbsp; Select </a><button type='button' class='close'>×</button> </p>
        <div class='alert alert-error'></div>




        <div class="row" style="width:700px">

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Supplier</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>PO</th>
                    </tr>
                </thead>
                <tbody id="phistory"></tbody>
            </table>



        </div>
    </div>

    <div id="divProd" class="mdl2">

        <p class="fixed-bottom"> <a href="#" id="selectprod">&nbsp; Select </a> <button type='button' class='close'>×</button> </p>
        <div class='alert alert-error'></div>



        <div class="row" style="width:700px">
            <form action="" method="get" id="mdlsearch">
                @Html.Hidden("Supplierid")
                @Html.Hidden("POID")
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td><input type="radio" name="searchby" class="searchby" id="sp" value="supplier" checked></td>
                        <td>Products by Supplier &nbsp;</td>
                        <td><input type="radio" name="searchby" class="searchby" id="pg" value="pg"> </td>
                        <td> Products by ProductGroup  &nbsp;</td>
                        <td>@Html.DropDownList("Groups", "Filter By ProductGroup")</td>

                    </tr>
                    <tr>
                        <td colspan="4"><input type="text" name="q" id="q" /></td>
                        <td><input type="submit" value="Search" class="btn btn-primary btsearch" style="width:75px;" /></td>

                    </tr>

                </table>

            </form>
            <div id="productlistview">


                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                @Html.Label("Select")

                            </th>
                            <th>
                                @Html.Label("GTIN")
                            </th>
                            <th>
                                @Html.Label("Product Name")
                            </th>
                            <th>
                                @Html.Label("UOM")
                            </th>
                        </tr>
                    </thead>
                    <tbody id="prodlist"> </tbody>
                </table>




            </div>




        </div>

    </div>


    <br /> <br />
    <div class="row">
        @Html.Hidden("POStatus")
        <table class="table table-hover table-bordered tsort" id="tbl-pdetail">
            <thead>
                <tr>

                    <th>
                          @Html.Label("Product")
                    </th>


                    <th>@Html.Label("Supplier Code")</th>
                    <th>

                        @Html.Label("Warehouse Name")
                    </th>
                    <th>

                        @Html.Label("Expected Date")
                    </th>
                    <th>

                        @Html.Label("Qty")
                    </th>

                    <th>

                        @Html.Label("Price")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblbody">
                @{
                    Decimal subtotal = 0;
                }
                @if (ViewBag.PoDetail != null)
                {
                    int index=0;

                        foreach (var item in ViewBag.PoDetail)
                        {
                            <tr id="@item.PODetailID">

                                <td style=" display:none">
                                    @item.PODetailID

                                </td>

                                <td>
                                    @item.ProductMaster.SKUCode

                                </td>
                                <td>
                                    @item.SupplierCode

                                </td>
                                <td>
                                    @item.TenantWarehouse.WarehouseName
                                </td>
                                <td>
                                    @if (item.ExpectedDate != null)
                                    {
                                        @item.ExpectedDate.ToString("dd/MM/yyyy")
                                    }

                                </td>
                                <td style="display:none">

                                    @if (item.CancelDate != null)
                                    {
                                        @item.CancelDate.ToString("dd/MM/yyyy")
                                    }
                                </td>

                                <td>
                                    @item.Notes
                                </td>
                                <td>
                                    @item.Qty
                                </td>


                                <td>
                                    @item.Price
                                </td>
                                <td>

                                    @if (ViewBag.POStatus != "Confirm")
                                    {
                                        <a class="deletepg" href="@Url.Action("RemoveProduct", "PODetail", new { PODetailID = item.PODetailID,POID=ViewBag.POID })"><i class="glyphicon glyphicon-trash"></i>   </a>
                                        <text>|</text>    <a href="#" class="edit" data-line="@item.PODetailID">Edit</a>

                                    }
                                </td>
                            </tr>
                                    if (item.Price != null)
                                    {
                                        subtotal = subtotal + (item.Qty * item.Price);
                                    }

                        }


                }
            </tbody>
        </table>
        <div class="row col-md-offset-10">
            <h3> Subtotal:<span id="st"> @subtotal </span> </h3>

        </div> <!-- end of row col-md-offset-6 -->

    </div>
</div>
    <div class="row">
        <script type="text/javascript">


    /////// declare array
    var PdList = [];
    function Pd(POID, WarehouseId, WarehouseName, ExpectedDate, Notes, ProductId, ProdName, Qty, Price, SupplierCode, UOM) {

        this.POID = POID;
        this.WarehouseId = WarehouseId;
        this.WarehouseName = WarehouseName;
        this.ExpectedDate = ExpectedDate;
        this.Notes = Notes;
        this.ProductId = ProductId;
        this.ProdName = ProdName;
        this.Qty = Qty;
        this.Price = Price;
        this.SupplierCode = SupplierCode;
        this.UOM = UOM;
    }

    ////////////////////////////////////


    $(function () {



        ///for jquery ui date picker
        $("#CancelDate,#ExpectedDate").datepicker({ dateFormat: 'dd/mm/yy' });


        ///////////////////For google chrome Problem  ///////////
        $.validator.addMethod('date',
    function (value, element, params) {
        if (this.optional(element)) {
            return true;
        }

        var ok = true;
        try {
            $.datepicker.parseDate('dd/mm/yy', value);
        }
        catch (err) {
            ok = false;
        }
        return ok;
    });



        ////////////////////////// find product button is clicked   display model////////////////////
        $("#findproduct").click(function (e) {

            ////// reset model
            $('#sp').attr('checked', true);
            $('#pg').attr('checked', false);
            $('#Groups').val('');
            $('#q').val('');
            //////////
            // call of ajax function
            getprodlist();
            ////// display model
            var y = 150;
            $('#divProd').css('display', 'block').animate({ top: y });
            e.preventDefault();
        });
        /////////////////////model find by radio button is clciked/////////////////////////////////////


        $('.searchby,#Groups').on('change', function (e) {

            if ($('input[name="searchby"]:checked').val() == "supplier" || ($('input[name="searchby"]:checked').val() == "pg" && $('#Groups').val() != "")) {
                getprodlist();

            } else
                $("#prodlist").empty();


            e.preventDefault();
        });


        $('.btsearch').on('click', function (e) {

            getprodlist();

            e.preventDefault();
        });

        //////////////////////////////////////////////select button on model

        //$(".Pmdl").on('click', function (e) {

        //    alert($(this).attr('href'));

        //    e.preventDefault();
        //});


        $('#ProductId').change(function (e) {
            $('#UOM').val('');
            $('#Price').val('');
            getprice2($(this).val());

        });

        //////////////////////////////////////////
        $('#selectprod').on('click', function (e) {


            if ($('input[name="pid"]:checked').val() != null) {

                $('#UOM').val('');

                if (($('input[name="searchby"]:checked').val() == "supplier")) {
                    // call of ajax function to get price of selected product
                    getprice();
                }

                $('#ProductId').val($('input[name="pid"]:checked').val());

                var row = $('input[name="pid"]:checked').val();

                $('#UOM').val($.trim($('#' + row).find('td:nth-child(4)').text()));

                $('#divProd').hide();

            }

            e.preventDefault();
        });



        ///////model get price history////////////////////////////////////////////////////

        $("#btnphistory").on('click', function (e) {

            //alert('Price History is Called');

            if ($('#ProductId').val() != "") {
                $('#divProd').hide();

                gethistory();
                var y = 150;
                $('#divPhistory').css('display', 'block').animate({ top: y });
            }

            e.preventDefault();

        });
        ///// Price Select ////////////////////////////////
        $('#selectprice').on('click', function (e) {


            $('#Price').val($('input[name="price"]:checked').val());
            $('#divPhistory').hide();
            e.preventDefault();
        });


        $('#divPhistory').on("click", ".popup", function (e) {



            window.open($(this).attr('href'), "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=20, width=800, height=600");

            e.preventDefault();

        });



        ///////////////////////////////////////////for product edit///////////////////////////////////////////////////////

        /*
              $('.edit').on('click', function (e) {

                  ///////////////reset all controls
                  //$("#ProductId option:selected").prop("selected", false);
                  //  $("#ProductId option:selected").removeAttr("selected");


                  $("#ProductId option").each(function () {

                      //  if ($(this).prop('selected')) {
                      $(this).removeAttr("selected");
                      //}
                  });



                  $('#PODetailID').val('');
                  $('#ExpectedDate').val('');
                  $('#CancelDate').val('');
                  $('#Notes').val('');
                  $('#Qty').val('');
                  $('#Price').val('');
                  $('#SupplierCode').val('');

                  //////////////////////////////////////////////


                  var row = $(this).data('line');

                  $('#PODetailID').val($.trim($('#' + row).find('td:nth-child(1)').text()));

                  var txt = $.trim($('#' + row).find('td:nth-child(2)').text());
                  var prodval;
                  $("#ProductId option").each(function () {

                      if ($.trim($(this).text()) == txt && $.trim($(this).text()) != "") {
                          $(this).attr('selected', 'selected');
                          prodval = $(this).val();
                      }
                      $("#ProductId").val(prodval);

                  });

                  $('#SupplierCode').val($.trim($('#' + row).find('td:nth-child(3)').text()));


                  var txt2 = $.trim($('#' + row).find('td:nth-child(4)').text());
                  $("#WarehouseId option").each(function () {

                      if ($.trim($(this).text()) == txt2 && $.trim($(this).text()) != "") {
                          $(this).attr('selected', 'selected');
                      }
                  });
                  $('#ExpectedDate').val($.trim($('#' + row).find('td:nth-child(5)').text()));
                  $('#CancelDate').val($.trim($('#' + row).find('td:nth-child(6)').text()));
                  $('#Notes').val($.trim($('#' + row).find('td:nth-child(7)').text()));
                  $('#Qty').val($.trim($('#' + row).find('td:nth-child(8)').text()));
                  $('#Price').val($.trim($('#' + row).find('td:nth-child(9)').text()));

                  $('#submit').attr('Value', 'Save');
                  $('#frm').attr('action', '/PODetail/Edit');



                  e.preventDefault();
              });
        */




        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        // handle non serialized products add button
        $("#submit").click(function (e) {

            e.preventDefault();
            // check if quantity is not empty
            if ($("#Qty").val() == "" || $("#WarehouseId option:selected").val() == "" || $("#ProductId option:selected").val() == "") {

                alert("Please enter/check mandatory fields");
                return;
            } else {


                var POID = $('#POID').val();
                var WarehouseId = $('#WarehouseId').val();
                var WarehouseName = $('#WarehouseId option:selected').text();
                var ProductId = $('#ProductId').val();
                var ProdName = $('#ProductId option:selected').text();
                var SupplierCode = $('#SupplierCode').val();
                var Qty = $('#Qty').val();
                var UOM = $('#UOM').val();
                var Price = $('#Price').val();
                var ExpectedDate = $('#ExpectedDate').val();
                var Notes = $('#Notes').val();



                var objpd = new Pd(POID, WarehouseId, WarehouseName, ExpectedDate, Notes, ProductId, ProdName, Qty, Price, SupplierCode, UOM);

                PdList.push(objpd);
                PdetailHtml();
                resetform();
            }

        });







        /*
              $("#frm").submit(function (e) {


                                 if ($('#Qty').val() != "" && $('#ProductId').val()!="") {

                                       var POID = $('#POID').val();
                                       var WarehouseId = $('#WarehouseId').val();
                                       var WarehouseName = $('#WarehouseId option:selected').text();
                                       var ProductId = $('#ProductId').val();
                                       var ProdName = $('#ProductId option:selected').text();
                                       var SupplierCode = $('#SupplierCode').val();
                                       var Qty = $('#Qty').val();
                                       var UOM = $('#UOM').val();
                                       var Price = $('#Price').val();
                                       var ExpectedDate = $('#ExpectedDate').val();
                                       var Notes = $('#Notes').val();



                                       var objpd = new Pd(POID, WarehouseId, WarehouseName, ExpectedDate,Notes, ProductId, ProdName, Qty, Price, SupplierCode, UOM);

                                           PdList.push(objpd);
                                           PdetailHtml();
                                           resetform();
                                  }



                 e.preventDefault();

              });

              */

        // non serialized products edit/update
        // handle non serialized products add button
        $("#submit-update").click(function (e) {

            e.preventDefault();
            // check if quantity is not empty
            if ($("#Qty").val() == "" || $("#WarehouseId option:selected").val() == "" || $("#ProductId option:selected").val() == "") {

                alert("Please enter/check mandatory fields");
                return;
            }

            var POID = $('#POID').val();
            var WarehouseId = $('#WarehouseId').val();
            var WarehouseName = $('#WarehouseId option:selected').text();
            var ProductId = $('#ProductId').val();
            var ProdName = $('#ProductId option:selected').text();
            var SupplierCode = $('#SupplierCode').val();
            var Qty = $('#Qty').val();
            var UOM = $('#UOM').val();
            var Price = $('#Price').val();
            var ExpectedDate = $('#ExpectedDate').val();
            var Notes = $('#Notes').val();



            var objpd = new Pd(POID, WarehouseId, WarehouseName, ExpectedDate, Notes, ProductId, ProdName, Qty, Price, SupplierCode, UOM);
            var index = $('#PODetailID').val();
            PdList[index] = objpd;
            PdetailHtml();
            resetform();


        });

        // handle reset button

        $("#sub-reset").click(function (e) {

            e.preventDefault();

            resetform();

        });

        // bind submt button event
        $("#post-data").click(function (e) {

            e.preventDefault();
            if (PdList.length > 0) {
                PostData();
            }


        });



        //cancel order
        // confirm first as the data will be lost
        $("#cancel-data").click(function (e) {


            if (PdList.length > 0) {
                // confirm cancel order
                var conf = confirm("Are you sure to cancel PO, you will loose any unsaved data");
                if (conf != true) {
                    e.preventDefault();
                }

            }





        });


    }); //end of jquery
    //////////////////////////////////////////////////

    function PdetailHtml() {


        $("#tblbody").empty();



        var html = '';
        var stotal = 0.0;
        PdList.forEach(function (PD, index) {

            html += '<tr id="' + index + '"><td>' + PD.ProdName + '</td> <td>' + PD.SupplierCode + '</td> <td>' + PD.WarehouseName + '</td> <td>' + PD.ExpectedDate + '</td> <td>' + PD.Qty + '</td> <td>' + PD.Price + '</td>';

            if ($('#POStatus').val != "Confirm") {
                html += '<td><a  href="#" onclick="RemoveProdFromList(' + index + ');return false;"  class="rm"  >Remove</a> | <a  href="#" onclick="EditProdFromList(' + index + ');return false;"  class="rm"  >Edit</a></td>';
            }

            html += '</tr>';





            if (PD.Price != "")
                stotal = parseFloat(stotal) + parseFloat(PD.Price);
        });
        $("#tblbody").append(html);
        $('#st').html(stotal);

    }  //end of function

    //remove item from product list
    function RemoveProdFromList(index) {

        var r = confirm("Are you Sure You want to Delete!");
        if (r == true) {
            PdList.splice(index, 1);
            PdetailHtml();
        }

    }

    //Edit product from list
    function EditProdFromList(index) {

        $('#PODetailID').val(index);

        var pdobj = PdList[index];

        $('#WarehouseId').val(pdobj.WarehouseId);
        $('#ProductId').val(pdobj.ProductId);
        $('#SupplierCode').val(pdobj.SupplierCode);
        $('#Qty').val(pdobj.Qty);
        $('#UOM').val(pdobj.UOM);
        $('#Price').val(pdobj.Price);
        $('#ExpectedDate').val(pdobj.ExpectedDate);
        $('#Notes').val(pdobj.Notes);

        //change id and text of Add/Update Buttons
        $("#submit").css("display", "none");
        $("#submit-update").css("display", "inline-block");

    }









    function resetform() {
        $('#PODetailID').val('');
        $('#WarehouseId').val('');
        $('#ProductId').val('');
        $('#SupplierCode').val('');
        $('#Qty').val('');
        $('#UOM').val('');
        $('#Price').val('');
        $('#ExpectedDate').val('');
        $('#Notes').val('');
        $("#submit-update").css('display', 'none');
        $("#submit").css("display", "inline-block");
        //$("#submit").removeAttr('disabled');
    }




    ///// functions////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function gethistory() {

        var p = $("#ProductId").val();



        if (p != null) {

            $.ajax({
                type: "GET",
                url: '/PODetail/jsonpricehistory',
                data: { "pid": p },
                dataType: 'json',
                success: function (data) {
                    var result = $("#historyTemplate").tmpl(data);
                    $("#phistory").empty().append(result);

                    //alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    alert('HistoryError' + textStatus + "/" + errorThrown);

                }
            });
        } else
            $("#phistory").empty();



    }




    ///////////////////////////////////////////////////////////////////
    function getprodlist() {


        $.ajax({
            type: "GET",
            url: '/PODetail/GetProductList',
            data: $('#mdlsearch').serialize(),
            dataType: 'json',
            success: function (data) {
                var result = $("#ProdTemplate").tmpl(data);
                $("#prodlist").empty().append(result);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(xhr.status);
                alert('Error' + textStatus + "/" + errorThrown);

            }
        });


    }

    /////////////////////////////

    /// function will get last price of selected product paid to this supplier
    function getprice() {



        var supplier = $('#Supplierid').val();
        var pid = $('input[name="pid"]:checked').val();

        $.ajax({
            type: "GET",
            url: '/PODetail/PricebySupplier',
            data: { "pid": pid, "Supplierid": supplier },
            dataType: 'json',
            success: function (data) {
                $('#Price').val(data.Price);
                $('#SupplierCode').val(data.SupplierCode);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(xhr.status);
                alert('Error' + textStatus + "/" + errorThrown);

            }
        });

    }

    /// function will get last price of selected product paid to this supplier for dropdowm
    function getprice2(productid) {



        var supplier = $('#Supplierid').val();
        var pid = productid;

        $.ajax({
            type: "GET",
            url: '/PODetail/PricebySupplier',
            data: { "pid": pid, "Supplierid": supplier },
            dataType: 'json',
            success: function (data) {
                $('#Price').val(data.Price);
                $('#SupplierCode').val(data.SupplierCode);
                $('#UOM').val(data.UOM);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(xhr.status);
                alert('Error' + textStatus + "/" + errorThrown);

            }
        });

    }

    // send data to controller to add Sales Order into DB
    // synchronous Ajax request to make sure the proces goes fine

    function PostData() {


        $.ajax({
                    type: "POST",
                    url: '/PODetail/PostData',
                    async: false,
                    data: { PdetailList: JSON.stringify(PdList)},
                    dataType: 'json',
                    success: function (data) {

                        //Do Stuff

                        var Flag = data;

                        if (Flag == 1) {
                            PdList= [];

                            var baseUrl = "@Url.Content("~")";
                            window.location.href = baseUrl + "PO/Index";
                        }
                        else {

                            alert("Some Error while processing request, Please contact support")
                        }


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // alert(xhr.status);
                        alert('Error' + textStatus + "/" + errorThrown);

                    }
                });


    }


    // cancel order ajex operation
    function CancelData() {




        @*$.ajax({
                    type: "POST",
                    url: '/SODetail/CancelData',
                    async: false,
                    data: { Id: SoId },
                    dataType: 'json',
                    success: function (data) {

                        //Do Stuff

                        var Flag = data;

                        if (Flag == 1) {
                            SerialList = [];
                            ProductsList = [];
                            var baseUrl = "@Url.Content("~")";
                            window.location.href = baseUrl + "SO/Index";
                        }
                        else {

                            alert("Some Error while processing request, Please contact support")
                        }


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // alert(xhr.status);
                        alert('Error' + textStatus + "/" + errorThrown);

                    }
                });*@

    }



</script>


        


               





        
    </div>

   @* <div class="row">
    @Html.ActionLink("Back to List", "Index", "PO")

        @*<div class="col-md-offset-11">
                @Html.ActionLink(" Next ", "Manage", "PO", new { id = ViewBag.POID }, new { @class = "btn btn-primary" })
            </div>



    </div>*@

<div class="row right">
    <a href="#" id="post-data" class="btn btn-primary"> Confirm PO </a>
    @*<a href="#" id="cancel-data" class="btn btn-primary"> Cancel PO </a>*@
    @Html.ActionLink("Cancel PO", "Index", "PO", null, new { id = "cancel-data", @class = "btn btn-primary" })
</div> 






    <script id="ProdTemplate" type="text/x-jquery-tmpl">

        <tr id="${ProductId}">
            <td><input type="radio" name="pid" value="${ProductId}"></td>
            <td>${SKUCode}</td>
            <td>${ShortDesc}</td>
            <td>${UOM}</td>

        </tr>

    </script>



    <script id="historyTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td><input type="radio" name="price" value="${Price}"></td>
            <td>${CompanyName}</td>
            <td>${Price}</td>
            <td>${CurrencyName}</td>
            <td><a target="_blank" class="popup" href="/PO/POProgress/${POID}">${PONumber}</a></td>


            <td>${Status}</td>
        </tr>

    </script>
    

