@model Ganedata.Core.Entities.Domain.PODetail

@{
    ViewBag.Title = "Delete";
}

<h2><span>Delete</span></h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PODetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PO.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKUCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKUCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantWarehouse.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantWarehouse.WarehouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
