@model Ganedata.Core.Entities.Domain.PODetail

@{
    ViewBag.Title = "Details";
}

<h2><span>Details</span></h2>

<div>
    <h4>PODetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PO.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKUCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKUCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantWarehouse.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantWarehouse.WarehouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PODetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
