@model List<Ganedata.Core.Entities.Domain.NewSalesDepartmentList>
@{
    ViewBag.Title = "NewDirectSalesOrder";
    Layout = null;
    List<Ganedata.Core.Entities.Domain.OrderDetail> orderDetails = new List<Ganedata.Core.Entities.Domain.OrderDetail>();
    if (ViewBag.Quantities != null)
    {
        orderDetails = ViewBag.Quantities as List<Ganedata.Core.Entities.Domain.OrderDetail>;
    }
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from warehouse-admin-dashboard.multipurposethemes.com/main/forms_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 12:45:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://warehouse-admin-dashboard.multipurposethemes.com/images/favicon.ico">

    <title>@ViewBag.ShopName- @(orderDetails.Count<=0? "Create Order":"Edit Order" )</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/content/New/assets/css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="~/content/New/assets/css/style.css">
    <link rel="stylesheet" href="~/content/New/assets/css/skin_color.css">

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
        <header class="main-header">
            <div class="d-flex align-items-center logo-box justify-content-start">
                <!-- Logo -->
                <a href="javascript:;" class="logo">
                    <div class="logo-lg" style="color: white; font-size: xx-large;">
                        <span class="light-logo">@ViewBag.ShopName</span>
                    </div>
                </a>
            </div>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">

                <h3 class="box-title align-center">@(orderDetails.Count<=0? "Create Sales Order":"Edit Sales Order" )</h3>
                <div class="pull-right">
                    <button type="button" class="btn btn-warning me-1">
                        <i class="ti-trash"></i> Cancel
                    </button>
                    <button onclick="GetDataQuantity();" class="btn btn-primary">
                        <i class="ti-save-alt"></i> Save
                    </button>
                </div>

            </nav>


        </header>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin-left:0 !important">
            <div class="container-full">
                <section class="content">
                    <input type="hidden" name="OrderId" id="OrderId" value="@ViewBag.orderId" />
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.ProductList.Count > 0)
                            {
                                <div class="col-12 col-xl-4">
                                    <div class="box">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">@item.DepartmentName</h4>
                                        </div>
                                        <div class="box-body">
                                            @foreach (var product in item.ProductList)
                                            {
                                                <div class="m-1">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            @product.Name
                                                        </div>
                                                        <div class="col-md-4">
                                                            @if (orderDetails.Count > 0)
                                                            {
                                                                if (orderDetails.FirstOrDefault(u => u.ProductId == product.ProductId) != null)
                                                                {
                                                                    var quantity = orderDetails.FirstOrDefault(u => u.ProductId == product.ProductId).Qty;
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input id="@product.ProductId" class="product-quantity form-control" type="text" value="@quantity" name="demo3" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
                                                                        </div>
                                                                    </form>
                                                                }
                                                                else
                                                                {
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input id="@product.ProductId" class="product-quantity form-control" type="text" value="" name="demo3" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
                                                                        </div>
                                                                    </form>

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <form>
                                                                    <div class="form-group">
                                                                        <input id="@product.ProductId" class="product-quantity form-control" type="text" value="" name="demo3" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
                                                                    </div>
                                                                </form>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>


                </section>

                <script>

                    function GetDataQuantity() {
                        var data = [];
                        var orderid = $("#OrderId").val();
                        $(".product-quantity").each(function () {
                            var quantity = $(this).val();
                            var productid = $(this).attr("id");
                            if (quantity != undefined && quantity !== "") {
                                if (parseFloat(quantity) > 0) {
                                    data.push({ "ProductId": productid, "Quantity": quantity });
                                }
                            }

                        });
                        $.ajax({
                            type: "POST",
                            url: "/Home/NewDirectSalesOrder/",
                            data: { newSalesProducts: data, orderid: orderid },
                            success: function (data) {
                                if (data != "") {
                                    location.href = "/Home/PlaceOrder/" + data;
                                }

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error' + textStatus + "/" + errorThrown);
                            }
                        });

                    }



                </script>
            </div>
        </div>
    </div>
    <!-- Page Content overlay -->
    <!-- Vendor JS -->
    <script src="~/content/New/assets/js/vendors.min.js"></script>
    <script src="~/content/New/assets/js/pages/chat-popup.js"></script>
    <script src="~/content/New/assets/icons/feather-icons/feather.min.js"></script>
    <script src="~/content/New/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/content/New/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script src="~/content/New/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/content/New/assets/vendor_components/select2/dist/js/select2.full.js"></script>
    <script src="~/content/New/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/content/New/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/content/New/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/content/New/assets/vendor_components/moment/min/moment.min.js"></script>
    <script src="~/content/New/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/content/New/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/content/New/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/content/New/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/content/New/assets/vendor_plugins/iCheck/icheck.min.js"></script>

    <!-- Deposito Admin App -->
    <script src="~/content/New/assets/js/template.js"></script>

    <script src="~/content/New/assets/js/pages/advanced-form-element.js"></script>



</body>

<!-- Mirrored from warehouse-admin-dashboard.multipurposethemes.com/main/forms_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 12:45:20 GMT -->
</html>

@*<section class="content">

        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Create Sales Order</h4>
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning me-1">
                            <i class="ti-trash"></i> Cancel
                        </button>
                        <button onclick="GetDataQuantity();" class="btn btn-primary">
                            <i class="ti-save-alt"></i> Save
                        </button>
                        <form>
                            <div class="form-group">
                                <input type="text" value="" name="demo3" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                if (item.ProductList.Count > 0)
                {
                    <div class="col-12 col-xl-4">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">@item.DepartmentName</h4>
                            </div>
                            <div class="box-body">
                                @foreach (var product in item.ProductList)
                                {
                                    <div class="m-1">
                                        <div class="row">
                                            <div class="col-md-8">
                                                @product.Name
                                            </div>
                                            <div class="col-md-4">
                                                <form>
                                                    <div class="form-group">
                                                        <input id="@product.ProductId" type="text" value="" name="demo3" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                }
            }

        </div>


    </section>*@
