
@model List<Ganedata.Core.Entities.Domain.WebsiteContentPages>
<!-- from the blog section -->
@if (Model.Count > 0)
{
    <section class="nb_sec ftb_sec">
        <div class="container">
            <div class="nb_header_style1">
                <h3>From the Blog</h3>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-12 col-md-4">
                        <div class="nb_ftb_box">
                            <span class="nb_fb_img">
                                <img src="@(!string.IsNullOrEmpty(item.Image)? ViewBag.BaseFilePath + item.Image : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@item.ImageAltTag" />
                            </span>
                            <div class="nb_fb_con">
                                <div class="date">
                                    @item.DateCreated.ToString("MMMM dd, yyyy")
                                </div>
                                <h5 class="heading">
                                    @item.Title
                                </h5>
                                <p class="content">
                                    @item.ShortDescription
                                </p>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}
<!-- from the blog section -->
