@model List<Ganedata.Core.Entities.Domain.OrderDetailSessionViewModel>

<div class="nb_basket_wrap">
    <table class="basketTable">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                if (item?.ProductMaster?.ProductType != null && item.ProductMaster.ProductType == Ganedata.Core.Entities.Enums.ProductKitTypeEnum.Kit)
                {


                    <tr>
                        <td>
                            <div class="prdimgsec">
                                <span class="prdimg">
                                    <img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage) ? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />

                                </span>
                                <span class="prdname">@(item.ProductMaster?.Name)</span>


                            </div>

                            <div class="row">
                                @if (item.KitProductCartItems != null && item.KitProductCartItems.Count > 0)
                                {
                                    foreach (var cartitem in item.KitProductCartItems)
                                    {
                                        <div class="col-md-2">
                                            <p>
                                                <b> @Convert.ToInt32(cartitem.Quantity)</b> x @cartitem.SimpleProductMaster.Name  <br />


                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                        <td>
                            <div id="price" class="price">
                                @item.CurrencySign@item.Price
                            </div>
                        </td>

                        <td>
                            <div class="qtyboxwrap">
                                @* <span id="decre_count" class="min">-</span>*@
                                <input id="counter" type="number" onchange="UpdateCartItem(@item.ProductId,this)" value="@item.Qty" />

                                @* <span id="incre_count" class="max">+</span>*@
                            </div>
                            <a href="javascript:;" class="remove-btn cart-del" onclick="RemoveCartItem(@item.ProductId)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                        </td>

                        <td>
                            <div id="total_amnt" class="total">@item.CurrencySign@item.ProductTotalAmount</div>
                        </td>



                    </tr>




                }
                else
                {
                    <tr>
                        <td>
                            <div class="prdimgsec">
                                <span class="prdimg">
                                    <img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage) ? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                                    @*<img src="~/Content/Theme/University/app/images/Runner_Prep.jpg" class="img-fluid" alt="static-image" title="static-image" />*@
                                </span>
                                <span class="prdname">@(item.ProductMaster?.Name)</span>
                            </div>
                        </td>
                        <td>
                            <div id="price" class="price">
                                @item.CurrencySign@item.Price
                            </div>
                        </td>

                        <td>
                            <div class="qtyboxwrap">
                                @* <span id="decre_count" class="min">-</span>*@
                                <input id="counter" type="number" onchange="UpdateCartItem(@item.ProductId,this)" value="@item.Qty" />
                                @* <span id="incre_count" class="max">+</span>*@
                            </div>
                            <a href="javascript:;" class="remove-btn cart-del" onclick="RemoveCartItem(@item.ProductId)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                        </td>

                        <td>
                            <div id="total_amnt" class="total">@item.CurrencySign@item.ProductTotalAmount</div>
                        </td>


                    </tr>

                }
            }


        </tbody>
    </table>

    <div class="coupen_codewrap">
        @*<input type="text" placeholder="Coupen Code" />*@
        @if (ViewBag.CartModal == null && Model.Count > 0)
        {
            if (ViewBag.PlaceOrder != null)
            {
                <button class="cont_shop_btn" onclick="GetLoggedIn(true)">Proceed to checkout</button>
            }
            else
            {
                <button class="cont_shop_btn" onclick="window.location.href='@Url.Action("GetAddress", "Orders")'">Proceed to checkout</button>
            }
        }
    </div>
    </br>


</div>


