@model List<Ganedata.Core.Entities.Domain.OrderDetailSessionViewModel>


<!-- Modal -->
<div class="modal fade" id="ChooseStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Collection Point</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body billandshipsec">
                @*@Html.Partial("~/Views/Theme/University/Orders/_CollectionPoint.cshtml")*@
            </div>
        </div>
    </div>
</div>



<section class="nb_sec nb_prdlisting_pgsec mb-5">
    <div class="container">
        <div class="nb_sec checkconfirmSec">
            <div class="progressBarStep ordConfirmationPgStepsec">
                <ul id="progressList">
                    <li class="active">
                        <div class="HalfCircle"></div>
                        <span class="txt">Product</span><span class="count"><i class="icon-product"></i></span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>

                        <span class="txt">Basket</span><span class="count"><i class="icon-basket-cart"></i></span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Review Items</span><span class="count"><i class="icon-review-items"></i></span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Billing & Shipping</span><span class="count">
                            <i class="icon-billing-shipping"></i>
                        </span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Payment</span><span class="count"><i class="icon-credit-card"></i></span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Order Confirmation</span><span class="count"><i class="icon-tick1"></i></span>
                    </li>
                </ul>
            </div>

            <div class="checkoutInnersec Paymentsec mb-5">
                <h4 class="ordConfirmHead">Basket</h4>

                <div class="tableWrap">
                    <table class="basketTable table-responsive">
                        <tbody>
                            <tr>
                                <td class="topTd" colspan="4"></td>
                                <td>
                                    <div class="headBoxTop">
                                        <h3 class="head">Store Collection</h3>
                                        <p>Leads Royal Park Road Sainsburys Collect</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="headBoxTop">
                                        <h3 class="head">Home Delivery</h3>
                                        <p>Check your delivery Option</p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="headRow cmnRow">
                                <td class="prd">Product</td>
                                <td class="price">Price</td>
                                <td class="qty">Quantity</td>
                                <td class="tot">Total</td>
                                <td class="store">
                                    <a href="" data-toggle="modal" data-target="#ChooseStoreModal" class="chsStoreLnk">Choose Store</a>
                                </td>
                                <td class="homeDel">
                                    <div class="postCodeCheckFormwrap">
                                        <input type="text" />
                                        <button class="chckBtn">Check</button>
                                    </div>
                                </td>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item?.ProductMaster?.ProductType != null && item.ProductMaster.ProductType == Ganedata.Core.Entities.Enums.ProductKitTypeEnum.Kit)
                                {
                                    <tr class="cmnRow">
                                        <td class="prd">
                                            <div class="prdCellwrap">
                                                <div class="inrow">
                                                    <span class="imgWrap">
                                                        <img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage) ? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                                                    </span>
                                                    <span class="prdName">
                                                        @(item.ProductMaster?.Name)

                                                        @if (item.KitProductCartItems != null && item.KitProductCartItems.Count > 0)
                                                        {
                                                            foreach (var cartitem in item.KitProductCartItems)
                                                            {<p>

                                                                    <b> @Convert.ToInt32(cartitem.Quantity)</b> x @cartitem.SimpleProductMaster.Name  <br />

                                                                </p>
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                                <div class="inrow btm">
                                                    <span class="imgWrap"> </span>
                                                    <span class="prdName">
                                                        <i class="icon-love"></i>
                                                        Add to wishlist
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price">
                                            <div class="priceWrapinner">
                                                @item.CurrencySign@item.Price
                                            </div>
                                        </td>
                                        <td class="qty">
                                            <div class="QtyWrap">
                                                <div class="QtyWrapinner">
                                                    <span class="min">-</span>
                                                    <input class="coutnerInput" id="counter" type="number" onchange="UpdateCartItem(@item.CartId,this)" value="@item.Qty" />
                                                    <span class="add">+</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tot">
                                            <div id="total_amnt" class="priceTotal">
                                                @item.CurrencySign@item.ProductTotalAmount
                                            </div>
                                            <a href="javascript:;" class="removeBtn" onclick="RemoveCartItem(@item.CartId)"> Remove</a>

                                        </td>
                                        <td class="store greyBox">
                                            <div class="greyBoxInner">
                                                <p class="orderNowTxt">
                                                    <b>Order Now!</b> Collect today from4pm
                                                </p>
                                            </div>
                                        </td>

                                        <td class="homeDel greyBox">
                                            <div class="greyBoxInner">
                                                <ul class="radioBtnGrp">
                                                    <li>
                                                        <input type="radio"
                                                               id="radio1"
                                                               name="radio-group"
                                                               checked />
                                                        <label for="radio1">Next Day <b>£4.99</b></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio"
                                                               id="radio2"
                                                               name="radio-group"
                                                               checked />
                                                        <label for="radio2">3 working days <b>£2.99</b></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio"
                                                               id="radio3"
                                                               name="radio-group"
                                                               checked />
                                                        <label for="radio3">7 working days <b>FREE</b></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                }
                                else
                                {

                                    <tr class="cmnRow">
                                        <td class="prd">
                                            <div class="prdCellwrap">
                                                <div class="inrow">
                                                    <span class="imgWrap">
                                                        <img src="@(!string.IsNullOrEmpty(item.ProductMaster.DefaultImage) ? ViewBag.BaseFilePath + item.ProductMaster.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                                                    </span>
                                                    <span class="prdName">
                                                        @(item.ProductMaster?.Name)
                                                    </span>
                                                </div>
                                                <div class="inrow btm">
                                                    <span class="imgWrap"> </span>
                                                    <span class="prdName">
                                                        <i class="icon-love"></i>
                                                        Add to wishlist
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price">
                                            <div class="priceWrapinner">
                                                @item.CurrencySign@item.Price
                                            </div>
                                        </td>
                                        <td class="qty">
                                            <div class="QtyWrap">
                                                <div class="QtyWrapinner">
                                                    <span class="min">-</span>
                                                    <input class="coutnerInput" id="counter" type="number" min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" onchange="UpdateCartItem(@item.CartId,this)" value="@Convert.ToInt32(item.Qty)" />
                                                    <span class="add">+</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tot">
                                            <div id="total_amnt" class="priceTotal">
                                                @item.CurrencySign@item.ProductTotalAmount
                                            </div>
                                            <a href="javascript:;" class="removeBtn" onclick="RemoveCartItem(@item.CartId)"> Remove</a>
                                        </td>
                                        <td class="store greyBox">
                                            <div class="greyBoxInner">
                                                <p class="orderNowTxt">
                                                    <b>Order Now!</b> Collect today from4pm
                                                </p>
                                            </div>
                                        </td>

                                        <td class="homeDel greyBox">
                                            <div class="greyBoxInner">
                                                <ul class="radioBtnGrp">
                                                    <li>
                                                        <input type="radio"
                                                               id="radio1"
                                                               name="radio-group"
                                                               checked />
                                                        <label for="radio1">Next Day <b>£4.99</b></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio"
                                                               id="radio2"
                                                               name="radio-group"
                                                               checked />
                                                        <label for="radio2">3 working days <b>£2.99</b></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio"
                                                               id="radio3"
                                                               name="radio-group"
                                                               checked />
                                                        <label for="radio3">7 working days <b>FREE</b></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr class="cmnRow subTotRow">
                                <td class="prd"></td>
                                <td class="price"></td>
                                <td class="qty subtotalCell" colspan="2">
                                    <div class="subtotalCellInner">
                                        <span>Sub Total</span> <span>@(Model==null?"":Model.FirstOrDefault()?.CurrencySign) @(Model.FirstOrDefault()?.TotalAmount)</span>
                                    </div>
                                </td>

                                <td class="store greyBox"></td>

                                <td class="homeDel greyBox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @*<div class="gotApromoSec">
                        <h2 class="head">Got a Promotional code?</h2>
                        <div class="gotApromoSecInner">
                            <div class="promoCode">
                                <input type="text"
                                       placeholder="Enter your promotional code" />
                                <button class="applBtn">Apply</button>
                            </div>
                            <div class="total">Total <span>@(Model==null?"":Model.FirstOrDefault().CurrencySign) @(Model.FirstOrDefault().TotalAmount)</span></div>
                        </div>
                    </div>*@

                <div class="botomBtnsec">

                    @if (Model.Count > 0 && Model != null && (!Model.FirstOrDefault().ShowCartPopUp) )
                    {
                        if (Model != null && Model.FirstOrDefault().ShowLoginPopUp)
                        {
                            var popup =(bool?)Model.FirstOrDefault().ShowLoginPopUp;
                            <button class="btmbtn pro" onclick="GetLoggedIn('@popup')">PROCEED TO CHECKOUT</button>
                        }
                        else
                        {
                            <button class="btmbtn pro" onclick="window.location.href='@Url.Action("Checkout", "Orders")'">PROCEED TO CHECKOUT</button>
                        }
                    }
                    <button class="btmbtn sho">CONTINUE SHOPPING</button>

                </div>
            </div>
        </div>
    </div>
</section>