  <!-- footer section -->
@model Ganedata.Core.Entities.Domain.TenantWebsites
<footer class="nb_footer">
    <div class="container">
        <div class="nb_footersec_inner">
            <a href="@Url.Action("Index","Home")" class="nb_foot_logo">
                <img src="@ViewBag.BaseFilePath@Model.Logo" title="@Model.SiteName" alt="@Model.SiteName" />
            </a>
            @if (!string.IsNullOrEmpty(Model.FacebookUrl) || !string.IsNullOrEmpty(Model.InstaGramUrl) || !string.IsNullOrEmpty(Model.LinkedInUrl) || !string.IsNullOrEmpty(Model.TwitterUrl))
            {
                <div class="followUsWrap">
                    <h5>Follow Us On</h5>
                    <ul>
                        @if (!string.IsNullOrEmpty(Model.FacebookUrl))
                        {
                            <li>

                                <a href="@Model.FacebookUrl" target="_blank"><i class="ico fb icon-facebook-logo"></i></a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.TwitterUrl))
                        {
                            <li>
                                <a href="@Model.TwitterUrl" target="_blank"><i class="ico tw icon-twitter-logo"></i></a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.LinkedInUrl))
                        {
                            <li>
                                <a href="@Model.LinkedInUrl" target="_blank"><i class="ico ln icon-linkedin-logo"></i></a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.InstaGramUrl))
                        {
                            <li>
                                <a href="@Model.InstaGramUrl" target="_blank"><i class="ico ig icon-instagram-logo"></i></a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if (ViewBag.FooterNavigation != null)
            {
                var naviagtion = ViewBag.FooterNavigation as List<Ganedata.Core.Entities.Domain.WebsiteNavigation>;
            <div class="nb_footnav_wrap">
                <ul>
                    @foreach (var item in naviagtion)
                    {
                    <li>
                        <a href="@Url.Action("page", "Home", new { pageUrl = item.WebsiteContentPages.pageUrl })">
                            @item.Name
                        </a>
                    </li>

                    }


                </ul>
            </div>
            }
            <ul class="nb_foot_payment_opt_lst">
                <li>
                    <a href=""><span class="card1"></span></a>
                </li>
                <li>
                    <a href=""><span class="card2"></span></a>
                </li>
                <li>
                    <a href=""><span class="card3"></span></a>
                </li>
                <li>
                    <a href=""><span class="card4"></span></a>
                </li>
            </ul>
            <hr />
            <div class="nb_footcontact_wrap">
                <p>
                    @Model.FooterText
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->
