
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/Theme/University/app/css/university")
    @Styles.Render("~/fonts/custom-fonts")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
    <link rel="icon" href="~/Content/Theme/University/app/images/favico.ico" />
    <link href="~/Content/Theme/University/app/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/University/app/css/jquery-confirm.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.modal-wizard.js"></script>
    <link href="@Url.Action("AppStyle", "UISettings", new { filePath = "/Content/Theme/University/app/css/ui-settings.css"})" rel="stylesheet" type="text/css" />


    <script type="text/javascript">
        var basePath = '@ViewBag.BasePath';
        var baseFilePath = '@ViewBag.BaseFilePath';
        var userStatus = '@ViewBag.LoginDetail';
    </script>

    @{ bool loginStatus = WarehouseEcommerce.Helpers.LayoutHelpers.UserLoginStatus(); }
    @{ bool isSuperUser = WarehouseEcommerce.Helpers.LayoutHelpers.IsSuperUser(); }

</head>

<body>

    <div id="divLoading" style="display: none">
        <div class="snipper" data-title=".dot-spin">
            <div class="stage">
                <div class="dot-spin"></div>
            </div>
        </div>
    </div>

    <script>
        function startLoading() {
            $("#divLoading").show();
        }

        function stopLoading() {
            $("#divLoading").hide();
        };
    </script>

    @if (loginStatus && isSuperUser)
    {
        <div class="settings-bar">
            <div class="settings-bar-switch" onclick="javascript:toggleSettingsBar();">
                <b class="fa fa-paint-brush fa-lg" title="Toggle Settings"></b>
            </div>

            <div id="settings-bar-content">
                @Html.Action("SettingsBar", "UISettings")
            </div>
        </div>
    }


    <!-- Modals for add to cart and kit product attribute selection -->
    <div class="modal fade basket-modal" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content basket-modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add to Basket</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                </div>
                <div class="botomBtnsec modal-footer">
                    <button class="btmbtn sho" onclick="CartItemCount();">CONTINUE SHOPPING</button>
                    <button class="btmbtn pro" onclick="window.location.href='@Url.Action("AddToCart", "Products")'">Go To Basket</button>
                </div>
            </div>
        </div>
    </div>



    <!------------------------------------------------------------------------>

    <div class="login-register-prtial">
        @Html.Partial("_LoginRegisterPartial")
    </div>
    @Html.Action("_TopHeaderPartial", "Home")
    <div class="pl-0 pr-0 uni-pages-pt uni-pages-main">
        @Html.Action("_DeliveryInfoPartial", "Home")
        @RenderBody()
    </div>

    @Html.Action("_FooterPartialArea", "Home", new { university = true })
    @*@Scripts.Render("~/bundles/modernizr")*@

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/javascript-searchproduct.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/Theme/University/app/js/owl.carousel.min.js"></script>
    <script src="~/Content/Theme/University/app/js/nb_skew_carousle.js"></script>
    <script src="~/Content/Theme/University/app/js/nb_custom_script.js"></script>
    <script src="~/Content/Theme/University/app/js/jquery.elevatezoom.js"></script>
    <script src="~/Content/Theme/University/app/js/jquery-confirm.min.js"></script>
    <script src="~/Content/Theme/University/app/js/Uni_KitProductDetail_Custom.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {

        $("#cart").hover(function () {
            $('#cart').addClass('open');
        });
        $("#cart").mouseleave(function () {
            $('#cart').removeClass('open');
        });
        $("#cart").click(function () {
            location.href = basePath + '/Products/AddToCart';
        });
        $("#user_menue").hover(function () {
            $('#user_menue').addClass('open');
        });
        $("#user_menue").mouseleave(function () {
            $('#user_menue').removeClass('open');
        });

        $('#signupPopup').on('shown.bs.modal', function (e) {
            //do something on bootstrap model show
        });

        $('#show-hidden-menu').click(function () {
            $('.hidden-menu').slideToggle("slow");
        });

        $('#kit-product').modalWizard();
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
