@using Ganedata.Core.Entities.Enums
@model WarehouseEcommerce.ViewModels.ProductViewModel
@if (Model.productMasterList.Count > 0)
{
    @Html.Partial("_ProductByAttributeSelectorModal")
    <section class="nb_sec nb_feat_prod_sec feature-product-overflow">
        <div class="container">
            <div class="inside-container">
                @if (!string.IsNullOrEmpty(Model.FeaturedText))
                {
                    <div class="nb_header_style1">
                        <h3>@Model.FeaturedText</h3>
                    </div>
                }
                <div class="row feature-list">
                    <div class="owl-carousel owl-theme nb_featuredPrdCarrousle nb_prd_listing_wrap">
                        @foreach (var product in Model.productMasterList)
                        {
                            product.ProductTagMaps = product.ProductTagMaps.Where(u => u.IsDeleted != true).Where(u => u.ProductTag.IsDeleted != true && !string.IsNullOrEmpty(u.ProductTag.IconImage)).OrderBy(x => x.ProductTag.SortOrder).ToList();

                            <div class="item prd_lst_boxouter">
                                @{
                                    var index = 0;
                                    foreach (var teg in product.ProductTagMaps.Take(3))
                                    {
                                        var imageIcon = teg.ProductTag.IconImage;
                                        <span class="badge badge-@index++">
                                            <img src="@(ViewBag.BaseFilePath + imageIcon)" alt="" />
                                        </span>
                                    }
                                }

                                <span class="imagewrap">
                                    <a href="@Url.Action("ProductDetails", "Products", new {sku = product.SKUCode})">
                                        <img src="@(!string.IsNullOrEmpty(product.DefaultImage) ? ViewBag.BaseFilePath + product.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" />
                                    </a>
                                </span>
                                <h3 class="prdName">
                                    <a class="prdName" href="@Url.Action("ProductDetails", "Products", new {sku = product.SKUCode})">
                                        @product.Name
                                    </a>
                                </h3>
                                <div class="foot">
                                    <ul class="icolist">
                                        <li>
                                            <a class="prd_amnt" href="@Url.Action("ProductDetails", "Products", new {sku = product.SKUCode})">
                                                @if (product.ProductType == ProductKitTypeEnum.Grouped)
                                                {
                                                    <span class="price-from__text">from </span>
                                                }
                                                @ViewBag.CurrencySymbol@product.SellPrice
                                            </a>
                                        </li>
                                        @Html.Partial("_ProductListItemActionsButtons", product)
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}