@using Ganedata.Core.Entities.Domain
@model WarehouseEcommerce.ViewModels.ProductDetailViewModel
@if (Model.productMasterList.Count > 0)
{
<section class="nb_sec nb_feat_prod_sec">
    <div class="container">
        <div class="nb_header_style1">
            <h3>Featured Products</h3>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme nb_featuredPrdCarrousle">
                @foreach (var item in Model.productMasterList)
                {

                <div class="item">
                    <a href="@Url.Action("ProductDetails", "Products", new { sku = item.SKUCode })" class="nb_fp_boxwrap">
                       <span class="prd_img">
                                <img src="@(!string.IsNullOrEmpty(item.DefaultImage) ? ViewBag.BaseFilePath + item.DefaultImage : ViewBag.BaseFilePath + "/UploadedFiles/Products/no_image.gif")" alt="@item.Name" title="@item.Name" class="img-fluid center-block" />
                                @*<img src="~/Content/Theme/University/app/images/featured_product/1.jpg" alt="" />*@
                            </span>
                            <div class="prd_det_sec">
                                <h4 title="@item.Name" class="prd_name">@item.Name</h4>
                                <span class="prd_amnt"> @Model.CurrencySign @item.SellPrice</span>
                            </div>
                        </a>
                </div>

                }
            </div>
         
        </div>
    </div>
</section>
}