@using Ganedata.Core.Services
@{
    var siteProperties = ViewBag.TenantWebsite as caTenantWebsites;
}
<header class="nb_header">
    <div class="res_navWrapper">
        <span class="nb_res_nav_closeTrigger">X</span>
        <span class="nb_logowrap_res">
           
            <img src="~/Content/Theme/University/app/images/logo_invert.svg" alt="" />
        </span>
        <div class="nb_firstNav_res_lst_wrap"></div>
        <button class="nb_lgn_btn_res">Login</button>
    </div>
    <div class="container">
        <div class="search_wrap_main">
            <form class="form-inline">
                <label class="sr-only" for="searchinput">Name</label>
                <input type="search" class="form-control search_input text-search" id="searchinput" placeholder="Search Here" />
                <button type="button" id="serchBtnico" class="btn btn-primary search_btn" onclick="SearchProductCategory();"><i class="icon-search"></i></button>
            </form>
        </div>
        <div class="nb_logowrap">
                @*<a href="index.html">
                    <img src="~/Content/Theme/University/app/images/logo.png" alt="" />
                </a>*@
            <a href="@Url.Action("Index","Home")">
                <img src="@ViewBag.BaseFilePath@siteProperties.Logo" title="@siteProperties.SiteName" alt="@siteProperties.SiteName"/>
            </a>
        </div>
        <ul class="nb_headicolst">
            <li class="sir">
                <a href="" id="triggerSearch">
                    <i class="ico icon-search"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico icon-phone-call"></i>
                </a>
            </li>
            <li>
                <a href="" data-toggle="modal" data-target="#signupPopup">
                    <i class="ico icon-user"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico icon-love"></i>
                </a>
            </li>
            <li class="cartIcoWrap sir">
                <a href="">
                    <i class="ico icon-shopping-cart"></i>
                    <span>12</span>
                </a>
            </li>
            <li class="sir" id="nb_res_navTrigger">
                <a href="#">
                    <i class="ico icon-list-menu"></i>
                </a>
            </li>
        </ul>
     @Html.Action("_HorizontalNavbarPartial", "Home")
    </div>
</header>
<!-- header section -->

