@using Ganedata.Core.Services
@{
    var siteProperties = ViewBag.TenantWebsite as caTenantWebsites;
}
<header class="nb_header">
    <div class="res_navWrapper">
        <span class="nb_res_nav_closeTrigger">X</span>
        <span class="nb_logowrap_res">
            <img src="@ViewBag.BaseFilePath@siteProperties.Logo" title="@siteProperties.SiteName" alt="@siteProperties.SiteName" />
        </span>
        <div class="nb_firstNav_res_lst_wrap"></div>
        <button class="nb_lgn_btn_res">Login</button>
    </div>
    <div class="container head-container">
        <div class="search_wrap_main">
            <form class="form-inline">
                <label class="sr-only" for="searchinput">Name</label>
                <input type="search" class="form-control search_input text-search" id="searchinput" placeholder="Search Here" />
                <div class="search-box-buttons float-left">
                    <button type="button" id="serchBtnClose" class="btn btn-primary search_btn">X</button>
                    <button type="button" id="serchBtnico" class="btn btn-primary search_btn" onclick="SearchProductCategory();"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
        <div class="nb_logowrap">
            <a href="@Url.Action("Index","Home")">
                <img src="@ViewBag.BaseFilePath@siteProperties.Logo" title="@siteProperties.SiteName" alt="@siteProperties.SiteName" style="max-height:224px;" />
                @*<img src="~/Content/Theme/University/app/images/logo.png" title="static logo" alt="static logo" />*@
            </a>
        </div>
        <ul class="nb_headicolst">
            <li class="sir">
                <a href="" id="triggerSearch">
                    <i class="ico icon-search"></i>
                </a>
            </li>
            @if (!string.IsNullOrEmpty(siteProperties.WebsiteContactPhone))
            {
                <li>
                    <a href="">
                        <i class="ico icon-phone-call"></i>
                    </a>
                </li>
            }
            <li id="user_menue" class="dropdown user_menu">
                @if (ViewBag.UserName == null || string.IsNullOrWhiteSpace((string)ViewBag.UserName))
                {
                    <a href="javascript:;" onclick="GetLoggedIn(false,true)">
                        <i class="ico icon-user temproryShow"></i>
                    </a>
                }
                else
                {
                    @*<a href="javascript:;" onclick="Logout();">
                            <i class="ico icon-user" title="@ViewBag.UserName"></i>
                        </a>*@
                    <a href="#" title="@(ViewBag.UserName  == " " ? "My Account" : ViewBag.UserName)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ico icon-user" title="@ViewBag.UserName"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right user_account user-fa-icons" style="background:black;">
                        @*<li>
                                <a href="javascript:;">@ViewBag.UserName</a>
                            </li>*@
                        <li style="border-right:0px;">
                            <a href="@Url.Action("Account","User")" style="color:white;">@ViewBag.UserName</a>
                        </li>
                        <li style="border-right:0px;"><a href="@Url.Action("Account","User")" style="color:white; border-right:0px;">Order History</a></li>
                        <li style="border-right:0px;"><a href="@Url.Action("Account","User")" style="color:white; border-right:0px;">Wish List</a></li>


                        @if (ViewBag.UserName == null)
                        {
                            <li> <a href="javascript:;" onclick="GetLoggedIn(false,true)"><i class="fa fa-sign-in"></i>Login</a></li>
                        }
                        else
                        {
                            <li style="border-right:0px;"><a href="@Url.Action("logout", "User")" style="color:white;border-right:0px;">Logout</a></li>
                        }
                    </ul>


                }
            </li>
            <li class="cartIcoWrap sir">
                @if (ViewBag.UserName == null || string.IsNullOrWhiteSpace((string)ViewBag.UserName))
                {
                    <a href="javascript:;" onclick="GetLoggedIn(false,true)">
                        <i class="ico icon-love"></i>
                    </a>

                }
                else
                {
                    <a href="@Url.Action("WishList", "Products")">
                        <i class="ico icon-love"></i>

                        <span id="WishList-total">@(ViewBag.WishListItemCount ?? "")</span>
                    </a>
                }
            </li>
            <li class="cartIcoWrap sir">
                <a href="@Url.Action("AddToCart","Products")">
                    <i class="ico icon-shopping-cart"></i>
                    <span id="cart-total">@(ViewBag.CartItemCount ?? "")</span>
                </a>
            </li>
            <li class="sir" id="nb_res_navTrigger">
                <a href="#">
                    <i class="ico icon-list-menu"></i>
                </a>
            </li>
        </ul>
        @Html.Action("_HorizontalNavbarPartial", "Home")
    </div>
</header>
<!-- header section -->
