@model ReceivePO
@{
    ViewBag.Title = "Update";
}

<h2><span>Update </span></h2>

<div class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.HiddenFor(x => x.ReceivePOId)
        <div class="row">

            <div class="col-md-2">

                <table class="table tdclear">
                    <caption>
                        @Html.ValidationSummary(true)
                    </caption>

                    <tr>
                        <td>@Html.Label("PO Number", new { @class = "control-label col-md-7" }) </td>
                        <td>

                            @Html.Label(Model.PO.PONumber)


                        </td>

                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Supplier", new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.Label(Model.PO.Supplier.CompanyName)

                        </td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>
                            @Html.Label("DeliveryNO", new { @class = "control-label col-md-2" })
                        </td>
                        <td>

                                                        
                            @Html.Label(Model.DeliveryNO)
                        </td>
                        <td>
                            <span id="vdelivery"></span>
                        </td>
                    </tr>
                </table>

            </div> <!-- end of left col  -->
        </div> <!-- end of row  -->



        <br /> <br /> <br />

        <div class="row">
            <table class="table table-hover table-bordered tsort" id="tbl-rpdetail">
                <thead>
                    <tr>

                        <th>

                            @Html.Label("GTIN")
                        </th>
                        <th>@Html.Label("Supplier Code")</th>
                        <th>

                            @Html.Label("Warehouse Name")
                        </th>
                        <th>

                            @Html.Label("Expected Qty")
                        </th>
                        <th>

                            @Html.Label("Receive Qty")
                        </th>
                        <th>
                            @Html.Label("UOM")

                        </th>
                        <th>

                            @Html.Label("Price")
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @{
        int i = 0;

                    }
                    @if (ViewBag.rpodetail != null)
                    {

                        foreach (var item in ViewBag.rpodetail)
                        {

                            
                                <tr id="@item.PODetailID">
                                    <td>@item.SKUCode  <input type="hidden" name="product[@i]" value="@item.ProductId" /> </td>

                                    <td>@item.SupplierCode</td>
                                    <td>@item.WarehouseName</td>
                                    <td>@item.Qty  <input type="hidden" name="qty[@i]" value="@item.Qty" /></td>
                                    
                                    <td> <input type="text" name="qtyrec[@i]" value="@item.QtyReceived" class="rqty" /> </td>
                                    
                                    
                                    <td>@item.UOM </td>
                                    <td>@item.Price</td>
                                    <td style="display:none"><input type="hidden" name="line[@i]" value="@item.PODetailID"></td>
                                </tr>
                                i++;
                            

                        } @* end of loop*@



                    } @* end of if*@
              
                <tr>
                    <td colspan="7"><hr /> </td>
                </tr>
                    <tr>
                        <td colspan="7"><hr /> </td>
                    </tr>
                  
  
    @if (ViewBag.pdetail != null)
    {

        foreach (var item in ViewBag.pdetail)
        {


            <tr id="@item.PODetailID">
                <td>@item.SKUCode  <input type="hidden" name="product[@i]" value="@item.ProductId" /> </td>

                <td>@item.SupplierCode</td>
                <td>@item.WarehouseName</td>
                <td>@item.Qty  <input type="hidden" name="qty[@i]" value="@item.Qty" /></td>

                <td> <input type="text" name="qtyrec[@i]" value="0" class="rqty" /> </td>


                <td>@item.UOM </td>
                <td>@item.Price</td>
                <td style="display:none"><input type="hidden" name="line[@i]" value="@item.PODetailID"></td>
            </tr>
        i++;


        } @* end of loop*@



    } @* end of if*@
    
             </tbody>
            </table>
</div>  <!-- end of row  -->
    
        
        
        
        
            @Html.ActionLink("Back to List", "index", "RecevePO")
        <div class="col-md-offset-11">

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }




</div> <!-- end of content  -->
<div>
    <script type="text/javascript">
        $(function () {

            $('form :submit').click(function (e) {


                //alert('Button is Clicked');
                if ($('#DeliveryNO').val() == "") {

                    $('#vdelivery').css('color', 'red').text('Delivery No is Required!');
                    e.preventDefault();
                }



                var l = $('.rqty').length;

                var c = 0;
                $('.rqty').each(function () {
                    if ($(this).val() == 0)
                        c++;

                });

                if (l == c) {
                    alert('Please EnterReceive Qty Before Save');
                    e.preventDefault();
                }


            });



        });


    </script>


</div>