@using Ganedata.Core.Entities.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Website Warehouses";
}
@section scripts {


    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DataView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView },
        new Script { ExtensionType = ExtensionType.DataView }
        )
}
<script>
    function SelectionChangeds(s, e) {
        s.GetSelectedFieldValues("WarehouseId", GetSelectedFieldValuesCallback);
    }


    function GetSelectedFieldValuesCallback(values) {
        $("#SelectedWarehouseIds").val(values.join());
    }
    var command;
    function OnStartCallback(s, e) {
        command = e.command;

    }
    function OnGridEndCallBack(s, e) {
        if (command == "REFRESH") {
            s.UnselectRows();
        }
    }

</script>
<h2><span>Website Warehouses (@ViewBag.SiteName)</span></h2>
<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }
    MVCxClientGlobalEvents.AddControlsInitializedEventHandler(OnBeginGridCallback);

    function OnBeginGridCallback(s, e) {
        e.customArgs = MVCxClientUtils.GetSerializedEditorValuesInContainer("frmWarehouses");
        var rowIndex = parseInt($("#RowIndexForWarehouseId").val()) || 0;
        e.customArgs["WarehouseId"] = WebsiteWarehousesGridView.GetRowKey(rowIndex);
    }

    function OnEndGridCallback(s, e) {
        var lastIndex = parseInt($("#LastEditingRowIndex").val()) || 0;
        SetGridEditorToRowIndex(lastIndex);
    }

    function SetGridEditorToRowIndex(index) {
        WebsiteWarehousesGridView.batchEditApi.StartEdit(index, WebsiteWarehousesGridView.GetColumnByField($("#LastEditingColIndex").val()).index);
    }

    function OnDetailsChanged(s, e) {
        WebsiteWarehousesGridView.UpdateEdit();
    }

    function OnWarehousesGridFocusChanged(s, e) {
        if (e.cellInfo.rowVisibleIndex >= 0) {
            $("#LastEditingRowIndex").val(e.cellInfo.rowVisibleIndex);
        }

        $("#RowIndexForWarehouseId").val(e.cellInfo.rowVisibleIndex);
        $("#LastEditingColIndex").val(e.cellInfo.column.fieldName);
    }
</script>

@Html.Hidden("LastEditingRowIndex")
@Html.Hidden("LastEditingColIndex")
@Html.Hidden("RowIndexForWarehouseId")

@Html.Hidden("selkey")
@Html.Hidden("SelectedWarehouseIds")
@Html.Hidden("SiteId", (int)ViewBag.siteid)
<div>
    @Html.Action("WebsiteWarehousesList")
    <div class='col-md-offset-2 col-md-10 bottom-right'>
        <div class="back-list">
            <a href="@Url.Action("Index","TenantWebsites")" class="btn btn-default">Back to List</a>
        </div>
    </div>
</div>



