@model Ganedata.Core.Entities.Domain.WebsiteVouchers

@{
    ViewBag.Title = "Create";
}

<h2><span>Create Website Shipping Rule (@ViewBag.SiteName)</span></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="col-md-12">
    @Html.HiddenFor(u => u.SiteID, (int)ViewBag.SiteID)

    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control chosen-select" })
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly="readonly"} })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.Shared, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.Shared)
                @Html.ValidationMessageFor(model => model.Shared, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="input-group h-100 justify-content-center align-items-center">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
    <div class="input-group h-100 justify-content-center align-items-center">
        <div class="col-md-offset-2 col-md-10 bottom-right">
            <input type="submit" class="btn btn-primary" value="Create" />
            <div class="back-list">@Html.ActionLink("Back to List", "Index", new { SiteId = (int)ViewBag.siteid }, new { @class = "btn btn-default" })</div>
        </div>
    </div>
}

