@model Ganedata.Core.Entities.Domain.CheckoutViewModel
@using Ganedata.Core.Entities.Enums;
@using Ganedata.Core.Entities.Enums;
<div class="checkout-options-wrapper">
    <h5 class="subheadCmn">Select Shipment Type</h5>
    @Html.Hidden("shipmentRuleId", (int?)Model.ShipmentRuleId)

    @foreach (var rule in Model.ShippingRules)
    {
        <div class="checkboxwrap">
            <input class="styled-checkbox"
                   id="shipment-rule__checkbox-@rule.Id"
                   type="radio"
                   name="shipment-rule-radio"
                   value="@rule.Id" />
            <label class="ship-type" for="shipment-rule__checkbox-@rule.Id"><b>@Model.CurrencySymbol@rule.Price</b> <label>(@rule.Courier @(string.IsNullOrEmpty(rule.Description) ? string.Empty : $" - {rule.Description}"))</label> </label>
        </div>
    }
    <div class="btnWrap">
        <a href="javascript:;" class="addnwShopAdrrbtn" onclick="chooseShippingRule(@((int)CheckoutStep.BillingAddress))">SELECT SHIPMENT TYPE</a>&nbsp;
        <a href="@Url.Action("GoToPreviousStep","orders")" class="btmBtn addnwShopAdrrbtn">Back</a>

    </div>
</div>
