@using Ganedata.Core.Entities.Enums;
@model Ganedata.Core.Entities.Domain.CheckoutViewModel
@{
    var address = Model.Addresses;
}

    <div class="address-wrapper">
        @if (address != null && address.Count > 0)
        {
            var count = Model.CurrentStep != CheckoutStep.ShippingAddress ? 1 : address.Count;
            for (int i = 0; i < count; i++)
            {
                if (address.ElementAtOrDefault(i) != null)
                {
                    <h5 class="subheadCmn">Shipping Address</h5>
                    @Html.Partial("_AddressDetail", address[i])
                    <div class="btnWrap">

                        <a href="javascript:;" data-AccountId="@(Model.AccountId??null)" data-billingAddressId="@(Model.BillingAddressId)" data-ShippingAddressId="@(address[i].AddressID)" data-currentstep="@((int)CheckoutStep.ShipmentRule)" data-deliveryMethodId="@(Model.DeliveryMethodId??null)" onclick="moveToNextStep(this)" class="btmBtn">
                            SELECT ADDRESS
                        </a>
                        <a href="javascript:;" data-AccountId="@(Model.AccountId??null)" data-billingAddressId="@(Model.BillingAddressId)" data-accountAddressId="@(address[i].AddressID)" data-currentstep="@((int)CheckoutStep.AddOrEditAddress)" data-deliveryMethodId="@(Model.DeliveryMethodId??null)" onclick="moveToNextStep(this)" class="btmBtn">
                            EDIT ADDRESS
                        </a>

                        <a href="@Url.Action("RemoveShippingAddress", "Orders", new {accountId = address[i].AccountID, billingAddressId = Model.BillingAddressId, deliveryMethodId = Model.DeliveryMethodId, accountAddressId = address[i].AddressID})" class="btmBtn">Remove Address</a>

                    </div>

                }
            }

            <div class="btnWrap">
                <a href="javascript:;" data-AccountId="@(Model.AccountId??null)" data-billingAddressId="@(Model.BillingAddressId)" data-currentstep="@((int)CheckoutStep.AddOrEditAddress)" data-deliveryMethodId="@(Model.DeliveryMethodId??null)" onclick="moveToNextStep(this)" class="btmBtn">
                    ADD NEW ADDRESS
                </a>
                <a href="@Url.Action("GoToPreviousStep","orders")" class="btmBtn">BACK</a>
            </div>
        }
        else
        {
            @Html.Partial("_AddOrEditAddress", Model);
        }
    </div>
