@model Ganedata.Core.Entities.Domain.AccountAddresses
@using Ganedata.Core.Entities.Enums;
@{
    ViewBag.Title = "SaveAddress";
    var address = ViewBag.Addresses as List<Ganedata.Core.Entities.Domain.AccountAddresses>;
}



<section class="nb_sec nb_prdlisting_pgsec nb_sec_pb">
    <div class="container">
        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li>></li>
                        <li class="breadcrumb-item">
                            <a href="#">Billing and shipping</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="nb_sec checkconfirmSec">
            <div class="progressBarStep ordConfirmationPgStepsec">
                <ul id="progressList">
                    <li class="active">
                        <div class="HalfCircle"></div>
                        <span class="txt">Product</span><span class="count"><i class="icon-product"></i></span>
                    </li>
                    <li class="active">
                        <div class="HalfCircle"></div>

                        <span class="txt">Basket</span><span class="count"><i class="icon-basket-cart"></i></span>
                    </li>
                    <li class="active">
                        <div class="HalfCircle"></div>
                        <span class="txt">Review Items</span><span class="count"><i class="icon-review-items"></i></span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Billing & Shipping</span><span class="count">
                            <i class="icon-billing-shipping"></i>
                        </span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Payment</span><span class="count"><i class="icon-credit-card"></i></span>
                    </li>
                    <li>
                        <div class="HalfCircle"></div>
                        <span class="txt">Order Confirmation</span><span class="count"><i class="icon-tick1"></i></span>
                    </li>
                </ul>
            </div>

            <div class="checkoutInnersec billandshipsec">
                <h4 class="ordConfirmHead">Billing & Shipping</h4>

                @*================ Billing Address- start =================*@
                <div class="billigAddrWrap">
                    <h5 class="subheadCmn">Billing Address</h5>
                    <p class="address">
                        Mr. John Doe<br />
                        London EC1V, 9JH, United Kingdom<br />
                        Mob: 0761654184 <br />
                        Flat 7,Wenlake house, Old Street, <br />
                    </p>
                    <div class="btnWrap">
                        <button class="btmBtn">Select Address</button>
                        <button class="btmBtn">Edit Address</button>
                        <button class="btmBtn">Remove Address</button>
                    </div>
                </div>
                @*================ Billing Address- end =================*@

                @*================ Add New Address- start =================*@
                <div class="addNewAddrWrap">
                    <h5 class="subheadCmn">Add a New Address</h5>
                    <div class="addNwAdrrFormWrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="findAddrWrap">
                                        <input type="text" class="findAddrInput" placeholder="Enter Postcode" />
                                        <button class="fadBtn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Address line 1" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Address line 1" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Address line 2" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Address line 2" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Address line 3" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Postal Code" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="number" placeholder="Telephone No" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Country" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shippingAddrWrap">
                    <h5 class="subheadCmn">Shipping Address</h5>
                    <div class="checkboxwrap">
                        <input class="styled-checkbox"
                               id="shipping_address_checkbox"
                               type="checkbox"
                               value="" />
                        <label for="shipping_address_checkbox">Same as Billing Address</label>
                    </div>
                    <button class="addnwShopAdrrbtn">ADD NEW SHIPPING ADDRESS</button>
                </div>
                <div class="saveAddrWrap">
                    <button class="saveAddrBtn">Save Address</button>
                </div>

                @*================ Add New Address- end =================*@

                @*================ Select Delivery Method- start =================*@
                <div class="shippingAddrWrap">
                    <h5 class="subheadCmn">Select Delivery Method</h5>
                    <div class="checkboxwrap">
                        <input class="styled-checkbox"
                               id="pick_up_checkbox"
                               type="checkbox"
                               value="" />
                        <label for="pick_up_checkbox">Pick up (From Collection Point) - Free</label>
                    </div>
                    <div class="checkboxwrap">
                        <input class="styled-checkbox"
                               id="courier_checkbox"
                               type="checkbox"
                               value="" />
                        <label for="courier_checkbox">Delivery to Address (Courier) </label>
                    </div>
                    <button class="addnwShopAdrrbtn">SELECT DELIVERY METHOD</button>
                </div>
                @*================ Select Delivery Method- end =================*@

                @*================ Select Shipment Type- start =================*@
                <div class="shippingAddrWrap">
                    <h5 class="subheadCmn">Select Shipment Type</h5>
                    <div class="checkboxwrap">
                        <input class="styled-checkbox"
                               id="royal_mail_checkbox"
                               type="checkbox"
                               value="" />
                        <label for="royal_mail_checkbox"><b>£2.20</b> (Royal Mail by 5 Working Days)</label>
                    </div>
                    <div class="checkboxwrap">
                        <input class="styled-checkbox"
                               id="dpd_checkbox"
                               type="checkbox"
                               value="" />
                        <label for="dpd_checkbox"><b>£5.20</b> (DPD by 48 Hours)</label>
                    </div>
                    <button class="addnwShopAdrrbtn">SELECT SHIPMENT TYPE</button>
                </div>
                @*================ Select Shipment Type- end =================*@

                @*================ Select Collection Point- start =================*@
                <div class="shippingAddrWrap">
                    <div class="addNewAddrWrap">
                        <h5 class="subheadCmn">Select Collection Point</h5>
                        <div class="addNwAdrrFormWrap">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="findAddrWrap">
                                            <input type="text" class="findAddrInput" placeholder="Enter Postcode" />
                                            <button class="fadBtn">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <div class="billigAddrWrap collection-address-div">
                                        <p class="address">
                                            BD7 1PX<br />
                                            4 Summerville Road<br />
                                            Bradford <br />
                                            United Kingdom
                                        </p>
                                        <p class="miles">213 mi</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="billigAddrWrap collection-address-div">
                                        <p class="address">
                                            BD7 1PX<br />
                                            4 Summerville Road<br />
                                            Bradford <br />
                                            United Kingdom
                                        </p>
                                        <p class="miles">213 mi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="addnwShopAdrrbtn">Select Collection Point</button>
                    </div>
                </div>
                @*================ Select Collection Point- end =================*@

            </div>
        </div>
    </div>
</section>








<div class="about bg-white get-address-page uni-get-address-page">
    <div class="container-fluid custom-max-width">
        <div class="row checkout-side-menu">
            <div class="col-md-3 col-sm-12">
                <ul class="menu-about">
                    <li><a href="javascript:goToStep(@((int)CheckoutStep.BillingAddress))" class="">Billing Address</a></li>
                    <li><a href="javascript:goToStep(@((int)CheckoutStep.DeliveryMethod))" style="@((int)ViewBag.CurrentStep < (int)CheckoutStep.DeliveryMethod || (int)ViewBag.CurrentStep == (int)CheckoutStep.EditAddress ?"pointer-events:none; cursor: default; color: gray; background: #f6f7f8":"")">Delivery Method</a></li>
                    <li>
                        <a href="javascript:goToStep(@((DeliveryMethod)(ViewBag.DeliveryMethodId ?? (int)DeliveryMethod.ToShipmentAddress) == DeliveryMethod.ToShipmentAddress ? (int)CheckoutStep.ShippingAddress : (int)CheckoutStep.CollectionPiont))" style="@((int)ViewBag.CurrentStep < (int)CheckoutStep.ShippingAddress || (int)ViewBag.CurrentStep == (int)CheckoutStep.EditAddress?"pointer-events:none; cursor: default; color: gray; background: #f6f7f8":"")">
                            @((DeliveryMethod)(ViewBag.DeliveryMethodId ?? (int)DeliveryMethod.ToShipmentAddress) == DeliveryMethod.ToShipmentAddress ? "Shipping Address" : "Collection Point")
                        </a>
                    </li>
                    @if ((DeliveryMethod)(ViewBag.DeliveryMethodId ?? (int)DeliveryMethod.ToShipmentAddress) == DeliveryMethod.ToShipmentAddress)
                    {
                        <li><a href="javascript:goToStep(@((int)CheckoutStep.ShipmentRule))" style="@((int)ViewBag.CurrentStep < (int)CheckoutStep.ShipmentRule || (int)ViewBag.CurrentStep == (int)CheckoutStep.EditAddress? "pointer-events:none; cursor: default; color: gray; background: #f6f7f8" : "")">Shipment Type</a></li>
                    }
                    <li><a href="javascript:goToStep(@((int)CheckoutStep.PaymentMethod))" style="@((int)ViewBag.CurrentStep < (int)CheckoutStep.PaymentMethod || (int)ViewBag.CurrentStep == (int)CheckoutStep.EditAddress?"pointer-events:none; cursor: default; color: gray; background: #f6f7f8":"")">Payment Method</a></li>
                </ul>
            </div>
            <div class="col-md-8 col-sm-12 bg-white login my-account">
                <div class="about-cnt">
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.BillingAddress)
                    {
                    <div class="content-wrapper select">
                        <h2 class="text-uppercase">"Billing Address"</h2>
                        <hr class="custom-hr">
                        @{
                            var billingAddress = address.FirstOrDefault();
                            if (billingAddress != null)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="both-btn">
                                            <p>
                                                @Html.Partial("_AddressDetail", billingAddress)
                                            </p>

                                            <div class="">
                                                <a href="@Url.Action("GetAddress", "Orders", new { accountId = ViewBag.AccountIds, billingAddressId = billingAddress.AddressID, step = (int)CheckoutStep.DeliveryMethod })" role="button" class="btn btn-default" style="font-size:11px">Select billing address</a>
                                                <a href="@Url.Action("GetAddress", "Orders", new { accountId = billingAddress.AccountID, accountAddressId = billingAddress.AddressID, step = (int)CheckoutStep.EditAddress, parentStep = (int)CheckoutStep.BillingAddress })" role="button" class="btn btn-default" style="font-size:11px">Edit address</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            }
                            else
                            {
                                @Html.Partial("_AddOrEditAddress");
                            }
                        }
                    </div>
                    }
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.DeliveryMethod)
                    {
                        <div class="content-wrapper select">
                            <h2 class="text-uppercase">Select Delivery Method</h2>
                            <hr class="custom-hr">
                            <div class="deliveryMethod">
                                <div class="form-check-inline">
                                    <label class="control-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="@((int)DeliveryMethod.ToPickupPoint)" @((ViewBag.DeliveryMethodId != null && (DeliveryMethod)ViewBag.DeliveryMethodId == DeliveryMethod.ToPickupPoint) ? "checked" : "")>Pick up (From Collection Point) - Free
                                    </label>
                                </div>
                            </div>
                            <div class="deliveryMethod">
                                <div class="form-check-inline">
                                    <label class="control-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="@((int)DeliveryMethod.ToShipmentAddress)" @((ViewBag.DeliveryMethodId != null && (DeliveryMethod)ViewBag.DeliveryMethodId == DeliveryMethod.ToShipmentAddress) ? "checked" : "")>Delivery To Address (Courier)
                                    </label>
                                </div>
                            </div>
                            <div class="">
                                <a href="javascript:;" role="button" class="btn btn-primary select-shipping-method-btn" style="font-size:11px" onclick="chooseDeliveryMethod()">Select delivery method</a>
                            </div>
                        </div>
                    }
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.ShippingAddress)
                    {
                        <div class="content-wrapper select">
                            <h2 class="text-uppercase">"Shipping Address"</h2>
                            <hr class="custom-hr">
                            @if (address != null)
                            {
                                var count = (CheckoutStep)ViewBag.CurrentStep != CheckoutStep.ShippingAddress ? 1 : address.Count;
                                <div class="row">
                                    @for (int i = 0; i < count; i++)
                                    {
                                        <div class="col-md-6">
                                            @if (address.ElementAtOrDefault(i) != null)
                                            {
                                                <div class="both-btn">
                                                    <p>
                                                        @Html.Partial("_AddressDetail", address[i])
                                                    </p>
                                                    <div class="">
                                                        <a href="@Url.Action("GetAddress", "Orders", new { accountId = ViewBag.AccountIds, billingAddressId = ViewBag.BillingAddressId, deliveryMethodId = ViewBag.DeliveryMethodId, step = (int)CheckoutStep.ShipmentRule, shippingAddressId = address[i].AddressID })" role="button" class="btn btn-primary" style="font-size:11px">Select shipping address</a>
                                                        <a href="@Url.Action("GetAddress", "Orders", new { accountId = address[i].AccountID, billingAddressId = ViewBag.BillingAddressId, deliveryMethodId = ViewBag.DeliveryMethodId, step = (int)CheckoutStep.EditAddress, accountAddressId = address[i].AddressID, parentStep = (int)CheckoutStep.ShippingAddress })" role="button" class="btn btn-success" style="font-size:11px">Edit Address</a>
                                                        <a href="@Url.Action("RemoveShippingAddress", "Orders", new { accountId = address[i].AccountID, billingAddressId = ViewBag.BillingAddressId, deliveryMethodId = ViewBag.DeliveryMethodId, accountAddressId = address[i].AddressID })" role="button" class="btn btn-danger custom-danger" style="font-size:11px">Remove address</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <br />
                                    }
                                </div>

                            }


                            @Html.Partial("_AddOrEditAddress")
                        </div>
                    }
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.CollectionPiont)
                    {
                        <div class="content-wrapper select">
                            @Html.Hidden("collectionPointId", (int?)ViewBag.CollectionPointId)
                            <h2 class="text-uppercase">Select Collection Point</h2>
                            <hr class="custom-hr">
                            <div class="search-container row">
                                <div class="search-box input-group col-md-6 col-12 ">
                                    <input id="collection-postCode" type="text" name="search" value="" placeholder="Enter PostCode" class="text-target-postcode form-control text-uppercase" />
                                    <div id="sp-btn-search" class="input-group-btn">
                                        <button type="button" id="btn-search-category" class="btn btn-search-category" onclick="findNearCollectionPoints();">Show Collection Points</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="collection-points"></div>
                            <br />
                            <div>
                                <a href="javascript:;" role="button" class="btn btn-primary select-shipping-method-btn" style="font-size:11px" onclick="chooseCollectionPoint(@((int)CheckoutStep.PaymentMethod))">Select collection point</a>
                            </div>
                        </div>
                    }
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.ShipmentRule)
                    {
                        <div class="content-wrapper select">
                            @Html.Hidden("shipmentRuleId", (int?)ViewBag.ShipmentRuleId)
                            <h2 class="text-uppercase">Select Shipment Type</h2>
                            <hr class="custom-hr">
                            <br />
                            @foreach (var rule in ViewBag.ShippingRules)
                            {
                                <div class="shipping-rules">
                                    <div class="shipping-rule col-md-6">
                                        <div class="form-inline w-100" onclick="selectShippingRuleId(@rule.Id, this)">
                                            <div class="control-label w-100">
                                                <div style="float:left">
                                                    <div class="shipping-rule-title">@rule.Courier</div>
                                                    <div>@ViewBag.CurrencySymbol@rule.Price</div>
                                                    <div>@rule.Description</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <br />
                            <div>
                                <a href="javascript:;" role="button" class="btn btn-primary select-shipping-method-btn" style="font-size:11px" onclick="chooseShippingRule(@((int)CheckoutStep.PaymentMethod))">Select shipping type</a>
                            </div>
                        </div>
                    }
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.PaymentMethod)
                    {
                        <div class="content-wrapper select">
                            <h2 class="text-uppercase">Select Payment Method</h2>
                            <hr class="custom-hr">
                            <div class="deliveryMethod ">
                                <div class="form-check-inline">
                                    <label class="control-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="Cash" name="paymentMethod" value="@((int)PaymentMethod.Cash)">  Cash
                                    </label>
                                </div>
                            </div>
                            <div class="deliveryMethod ">
                                <div class="form-check-inline">
                                    <label class="control-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="PayPal" name="paymentMethod" value="@((int)PaymentMethod.Paypal)">  Paypal
                                    </label>
                                </div>
                            </div>
                            <div class="deliveryMethod ">
                                <div class="form-check-inline">
                                    <label class="control-label" for="radio3">
                                        <input type="radio" class="form-check-input" id="SagePay" name="paymentMethod" value="@((int)PaymentMethod.SagePay)">  Sage Pay
                                    </label>
                                </div>
                            </div>
                            <div class="">
                                <a href="javascript:;" role="button" class="btn btn-primary select-payment-method-btn" style="font-size:11px" onclick="choosePaymentMethod()">Select payment method</a>
                            </div>
                        </div>
                    }
                    @if ((CheckoutStep)ViewBag.CurrentStep == CheckoutStep.EditAddress)
                    {
                        <div class="content-wrapper select">
                            <h2 class="text-uppercase">@((CheckoutStep)ViewBag.ParentStep != CheckoutStep.ShippingAddress ? "Billing Address" : "Shipping Address")</h2>
                            <hr class="custom-hr">
                            @Html.Partial("_AddOrEditAddress")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
