@using Ganedata.Core.Entities.Enums
@model Ganedata.Core.Entities.Domain.CheckoutViewModel
@{

    ViewBag.Title = "PayPal";
}
<style>

    .input-column {
        font-size: 12pt;
        width: 352px !important;
        height: 50px !important;
        text-indent: 10px;
        border: solid 1px #707070;
    }

    #main {
        margin: 0 auto;
        margin-top: 20px;
    }
</style>

<div id="main">
    <section class="nb_sec nb_prdlisting_pgsec">
        <div class="container">
            <div class="breadCrumbtopsec">
                <div class="nb_bread_crumbwrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li>></li>
                            <li class="breadcrumb-item">
                                <a href="#">Payments</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="nb_sec checkconfirmSec">
                @Html.Partial("_OrderProgressBar", OrderProgressStep.Payment)

                <div class="checkoutInnersec Paymentsec">
                    <h4 class="ordConfirmHead">Payments</h4>
                    <div class="orderTotalsec">
                        @*<div>Order Total</div><br/>*@
                        <div>Order Total <p><span>@ViewBag.CurrencySymbol</span><span class="total-amount">@Model.TotalOrderAmount</span></p></div>

                    </div>

                    <div class="paymentTabsec">
                        <div class="myAccLeftNavsec">
                            <div class="row">
                                <div class="col-lg-12 paypal-buttons">
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=GBP"></script>
<script>

    paypal.Buttons({
        enableStandardCardFields: false,
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                payer: {
                    name: {
                        given_name: "@Model.UserFirstName",
                        surname: "@Model.UserLastName"
                    },
                    address: {
                        address_line_1: '@Model.Addresses.FirstOrDefault(u=>u.AddTypeBilling==true).AddressLine1',
                        address_line_2: '@Model.Addresses.FirstOrDefault(u=>u.AddTypeBilling==true).AddressLine2',
                        admin_area_2: '@Model.Addresses.FirstOrDefault(u=>u.AddTypeBilling==true).AddressLine3',
                        admin_area_1: '@Model.Addresses.FirstOrDefault(u=>u.AddTypeBilling==true).County',
                        postal_code: '@Model.Addresses.FirstOrDefault(u=>u.AddTypeBilling==true).PostCode',
                        country_code: '@Model.Addresses.FirstOrDefault(u=>u.AddTypeBilling==true).GlobalCountry.CountryCode'
                    },
                    email_address: "@Model.Email"



                },
                purchase_units: [
                    {
                        amount: {
                            value: $(".total-amount").text()
                        }

                    }
                ],
                application_context :  {
                    shipping_preference:"NO_SHIPPING"
                }
            });
        },
        onApprove: function (data, actions) {

            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                if (details.status === "COMPLETED") {
                    CreateOrder(details.id);

                } else {
                    alert("Transaction not completed");
                }



            });
        }
    }).render('.paypal-buttons');

    function CreateOrder(transactionId) {
        startLoading();
        $.ajax({
            url: basePath + '/Orders/CreateOrder',
            method: 'post',
            data: { paypalTransactionId: transactionId },
            dataType: 'json',
            success: function (data) {
                stopLoading();
                if (data) {
                    window.location.href = basePath + '/Orders/ConfirmPaymentMessage';

                } else {
                    alert("Transaction not completed");
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                stopLoading();
                alert('Error' + textStatus + "/" + errorThrown);
            }
        });


    }


</script>
