@model Ganedata.Core.Models.AdyenPayments.AdyenPaylinkRefundRequest
@using System.Web.UI.WebControls

<h2><span>@ViewBag.Title</span></h2>

<form class="form-horizontal" action='@Url.Action("ProcessRefundForOrder","OrderPayment")' method="post" id="frmRefunds">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.OrderID)

    <div class="col-md-12 p-0">

        <div class="input-group row h-100 justify-content-center align-items-center">
            <div class="col-md-12">
                @Html.ValidationSummary()
            </div>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert-success col-md-12">
                @ViewBag.Message
            </div>
        }

        <div class="input-group h-100 justify-content-center align-items-center">
            <div class="col-sm-12">
                <label class="h4">Order Total: @ViewBag.CurrencySymbol@Model.RefundAmount </label>
            </div>
            <div class="col-md-4">
                @Html.Label("Refund Amount", new { @class = "col-md-4 control-label" })
            </div>
                <div class="col-md-8">
                    @if (Model.OrderID > 0)
                    {
                        @Html.DevExpress().SpinEdit(m =>
                        {
                            m.Name = "RefundAmount";
                            m.ControlStyle.CssClass = "form-control";
                            m.Properties.MinValue = 0;
                            m.Properties.MaxValue = Model.RefundAmount;
                            m.Width = Unit.Percentage(100);
                            m.Enabled = Model.OrderID > 0;
                            m.Properties.NullText = "Amount";
                        }).Bind(Model.RefundAmount).GetHtml()
                    }
                    else
                    {
                        <div class="alert alert-danger m-0 mb-2">@Model.RefundAmount.ToString("0.00")</div>
                        <div class="col-md-12 p-1 alert alert-info">You cannot issue refund.</div>
                    }
                </div>
            </div>
        <div class="input-group h-100 justify-content-center align-items-center">
            @Html.Label("Refund Notes", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextAreaFor(c => c.RefundNotes, new { @placeholder = "Notes", @class = "form-control", @rows=4 })
            </div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10 bottom-right-popup">
        <input type="submit" class="btn btn-primary" id="saveBtn_ProcessRefund"  value="Save" />
        <input type="button" onclick="ModalProcessRefund.Hide()" class="btn btn-default" id="saveBtn_CancelProcessRefund" value="Cancel" />
    </div>
</form>

